Repository Wikia/ad-engine, pull requests merged in 2018-10, with the labels that each got.

#183 ADEN-7702 Use notion of firstCall and ATF correctly.
  README.md
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/bidders/reusable-prebid/script.js
  examples/context.js
  examples/slots/btf-only/script.js
  examples/slots/repeatable-slots/script.js
  examples/templates/hivi-uap-jwp/script.js
  spec/ad-engine/config-mock.js
  spec/ad-engine/models/ad-slot.spec.js
  spec/ad-engine/services/btf-blocker-service.spec.js
  spec/ad-engine/services/slot-service.spec.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/providers/gpt-provider.js
  src/ad-engine/services/btf-blocker-service.js
  src/ad-engine/services/slot-service.js
  src/ad-products/templates/uap/big-fancy-ad-above.js
Labels: Major change

#186 ADEN-7756 Fix prebid targeting
  spec/ad-bidders/prebid/prebid-helper.spec.js
  src/ad-bidders/prebid/prebid-helper.js
Labels: Patch change

#184 ADEN-7608 Add Labrador:Basset functionality
  examples/utils/labrador-basset/index.html
  examples/utils/labrador-basset/script.js
  package.json
  spec/ad-engine/utils/geo.spec.js
  src/ad-engine/utils/geo.js
  tests/pages/labrador-basset.page.js
  tests/specs/labrador-basset.test.js
  wdio.conf.js
  webpack.config.js
Labels: Minor change

#187 ADEN-7006 Handle slots with multiple positions in targeting
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/context.js
  spec/ad-engine/ad-slot-fake.js
  spec/ad-engine/models/ad-slot.spec.js
  spec/ad-engine/services/slot-service.spec.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/services/custom-ad-loader.js
  src/ad-engine/services/slot-service.js
  src/ad-engine/video/player/porvata/ima/google-ima-setup.js
  src/ad-products/common/product-info.js
  src/ad-products/templates/outstream/porvata-template.js
Labels: Patch change

#189 ADEN-7742 Add property "targeting" to AdSlot.
  src/ad-engine/models/ad-slot.js
Labels: Patch change

#188 Aden 7737 - Track UAP - twitch data to DW
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/context.js
  src/ad-engine/listeners/index.js
  src/ad-engine/listeners/twitch-listener.js
  src/ad-engine/services/context-service.js
  src/ad-engine/video/player/twitch/twitch.js
  src/ad-products/styles/_twitch.scss
  src/ad-products/styles/styles.scss
  src/ad-products/templates/uap/universal-ad-package.js
Labels: Minor change

#191 ADEN-7786
  src/ad-products/styles/_uap.scss
Labels: Minor change

#185 ADEN-7683 Adding sticky top leaderboard
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/context.js
  examples/styles.scss
  examples/templates/sticky-ad/index.html
  examples/templates/sticky-ad/script.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/services/template-service.js
  src/ad-engine/utils/dimensions.js
  src/ad-products/styles/_stickiness.scss
  src/ad-products/templates/index.js
  src/ad-products/templates/interface/animate.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/uap/constants.js
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.js
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.js
  src/ad-products/templates/uap/themes/hivi/hivi-theme.js
  src/ad-products/templates/uap/themes/hivi/stickiness.js
  tests/common/timeouts.js
  tests/pages/sticky-ad.page.js
  tests/specs/sticky-ad.test.js
  wdio.conf.js
  webpack.config.js
Labels: Major change

#193 ADEN-7771 Set manual status on slot
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/templates/outstream/index.html
  examples/templates/outstream/script.js
  src/ad-engine/listeners/porvata-listener.js
  src/ad-engine/listeners/slot-listener.js
  src/ad-engine/video/player/porvata/porvata.js
  src/ad-products/templates/outstream/porvata-template.js
Labels: Patch change

#197 ADEN-7773 Fix ad unit in UAP
  src/ad-engine/video/player/porvata/ima/google-ima-setup.js
Labels: Patch change

#198 ADEN-7773 Revert current in order to re-think wikia video adapter
  examples/context.js
  spec/ad-bidders/prebid/adapters/wikia-video.spec.js
  spec/ad-engine/video/vast-url-builder.spec.js
  src/ad-bidders/prebid/adapters/wikia-video.js
  src/ad-engine/video/player/porvata/ima/google-ima-setup.js
  src/ad-engine/video/vast-url-builder.js
  src/ad-engine/video/video-ad-unit-builder.js
Labels: Patch change

#199 ADEN-7836 Disable Krux for opt out
  examples/services/krux/index.html
  examples/services/krux/script.js
  src/ad-services/krux/index.js
Labels: Patch change

#200 ADEN-7825 Inject FMRs below scroll position.
  README.md
  src/ad-engine/services/slot-injector.js
  src/ad-engine/services/slot-repeater.js
Labels: Minor change

#202 ADEN-7842 Support out-of-page slots and add floor-adhesion/interstital templates
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/context.js
  examples/templates/floor-adhesion/index.html
  examples/templates/floor-adhesion/script.js
  examples/templates/interstitial/index.html
  examples/templates/interstitial/script.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/providers/gpt-provider.js
  src/ad-engine/services/slot-data-params-updater.js
  src/ad-engine/services/slot-tweaker.js
  src/ad-products/styles/_out-of-page.scss
  src/ad-products/styles/styles.scss
  src/ad-products/templates/index.js
  src/ad-products/templates/out-of-page/floor-adhesion.js
  src/ad-products/templates/out-of-page/index.js
  src/ad-products/templates/out-of-page/interstitial.js
  tests/common/adSlots.js
  tests/pages/floor-adhesion.page.js
  tests/pages/interstitial.page.js
  tests/specs/floor-adhesion.test.js
  tests/specs/interstitial.test.js
  wdio.conf.js
  webpack.config.js
Labels: Minor change

#206 ADEN-7862 Rename twitch event
  src/ad-engine/listeners/twitch-listener.js
Labels: Patch change

#205 ADEN-7814 Adding UAP:Roadblock onInit callback
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-products/templates/uap/roadblock.js
Labels: Minor change

#203 ADEN-7783 Possibility to configure timeout and randomness for wikia adapter
  .gitignore
  README.md
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/global-bundle.js
  examples/bidders/reusable-prebid/index.html
  examples/bidders/reusable-prebid/script.js
  package-lock.json
  package.json
  src/ad-bidders/prebid/adapters/wikia-video.js
  src/ad-bidders/prebid/adapters/wikia.js
  src/ad-bidders/prebid/index.js
  tests/common/adSlots.js
  tests/common/asserts.js
  tests/common/helpers.js
  tests/pages/reusable-prebid.page.js
  tests/specs/bidders/prebid-wikia-adapter.test.js
  tests/specs/slots/animations-ad.test.js
  tests/specs/slots/block-btf-ad.test.js
  tests/specs/slots/btf-only-ad.test.js
  tests/specs/slots/common-slots-ad.test.js
  tests/specs/slots/delay-ad.test.js
  tests/specs/slots/empty-response.test.js
  tests/specs/slots/repeatable-slots.test.js
  tests/specs/slots/viewport-conflict-ad.test.js
  tests/specs/templates/abcd-ad.test.js
  tests/specs/templates/floating-ad.test.js
  tests/specs/templates/floating-rail-ad.test.js
  tests/specs/templates/floor-adhesion.test.js
  tests/specs/templates/hivi-uap-ad.test.js
  tests/specs/templates/hivi-uap-jwp-ad.test.js
  tests/specs/templates/hivi-uap-static-ad.test.js
  tests/specs/templates/hivi-uap-twitch-ad.test.js
  tests/specs/templates/interstitial.test.js
  tests/specs/templates/sticky-ad.test.js
  tests/specs/utils/labrador-basset.test.js
  tests/specs/video/porvata.test.js
  wdio.conf.js
Labels: Patch change

#207 ADEN-7852 StickyAd for Oasis.
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-products/styles/_stickiness.scss
  src/ad-products/templates/sticky-ad.js
Labels: Minor change

#208 ADEN-7774 Dispatch event on each bill-the-lizard request
  .eslintignore
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/services/bill-the-lizard/script.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change
