Repository Wikia/ad-engine, pull requests merged in 2018-09, with the labels that each got.

#168 ADEN-7624 Save response informations in slot object and reuse them once status changes
  examples/slots/viewport-conflicts/script.js
  src/listeners/slot-listener.js
  src/models/ad-slot.js
Labels: Patch change

#165 ADEN-7588 Clean-up video ad element naming
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  spec/video/player/porvata/ima/google-ima-player-factory.spec.js
  src/video/player/porvata/ima/google-ima-player-factory.js
Labels: Patch change

#177 ADEN-7678 A9 without gdpr config when there is no consent data
  src/ad-bidders/a9/index.js
Labels: Patch change

#176 ADEN-7081 Add Krux service handler
  README.md
  examples/context.js
  examples/services/krux/index.html
  examples/services/krux/script.js
  maintenance/build-bundle.sh
  spec/ad-services/krux/krux.spec.js
  src/ad-services/index.js
  src/ad-services/krux/index.js
  webpack.config.js
Labels: Minor change

#178 ADEN-7530 Adding Chesire Cat to ad-services
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/bidders/reusable-prebid/index.html
  examples/bidders/reusable-prebid/script.js
  examples/context.js
  examples/services/bill-the-lizard/index.html
  examples/services/bill-the-lizard/script.js
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.js
  spec/ad-services/bill-the-lizard/projects-handler.spec.js
  src/ad-bidders/prebid/index.js
  src/ad-services/bill-the-lizard/index.js
  src/ad-services/bill-the-lizard/projects-handler.js
Labels: Major change

#170 ADEN-7633 UAP:Twitch
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/global-bundle.js
  examples/templates/hivi-uap-twitch/index.html
  examples/templates/hivi-uap-twitch/script.js
  src/ad-engine/video/index.js
  src/ad-engine/video/player/twitch/embed/twitch-embed.js
  src/ad-engine/video/player/twitch/index.js
  src/ad-engine/video/player/twitch/twitch.js
  src/ad-products/templates/uap/big-fancy-ad-above.js
  src/ad-products/templates/uap/universal-ad-package.js
  webpack.config.js
Labels: Minor change

#179 ADEN-7710 Setup before page change event and remove slots then
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-engine/listeners/scroll-listener.js
  src/ad-engine/providers/gpt-provider.js
  src/ad-engine/services/events.js
Labels: Major change

#180 ADEN-7657 Bug fix
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-engine/video/player/twitch/twitch.js
  src/ad-products/templates/uap/big-fancy-ad-above.js
  src/ad-products/templates/uap/universal-ad-package.js
Labels: Minor change

#182 ADEN-7694 Update A9 apstag with deals
  README.md
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/bidders/a9/index.html
  examples/bidders/a9/script.js
  examples/context.js
  spec/ad-bidders/a9/a9.spec.js
  spec/ad-bidders/a9/index.spec.js
  spec/ad-engine/services/context-service.spec.js
  src/ad-bidders/a9/index.js
  src/ad-bidders/index.js
  src/ad-bidders/prebid/index.js
  src/ad-engine/services/context-service.js
Labels: Major change
