Repository Wikia/ad-engine, pull requests merged in 2018-05, with the labels that each got.

#131 ADEN-7005 Adds SPA capabilities
  package-lock.json
  package.json
  src/ad-engine.js
  src/models/ad-slot.js
  src/providers/gpt-provider.js
  src/services/events.js
  src/services/index.js
  src/services/slot-service.js
Labels: Minor change

#134 ADEN-7104 Fix viewport conflicts with hidden elements
  examples/slots/viewport-conflicts/index.html
  examples/slots/viewport-conflicts/script.js
  spec/services/slot-service.spec.js
  src/services/slot-service.js
Labels: Patch change

#135 ADEN-7118 Expose method to finish ATF queue
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  examples/slots/btf-only/index.html
  examples/slots/btf-only/script.js
  spec/services/btf-blocker-service.spec.js
  src/providers/gpt-provider.js
  src/services/btf-blocker-service.js
  src/services/events.js
  webpack.config.js
Labels: Patch change

#137 ADEN-7108 Setup gpt pubads with non personalized ads
  examples/context.js
  spec/providers/gpt-provider.spec.js
  spec/services/tracking-opt-out.spec.js
  spec/video/vast-url-builder.spec.js
  src/providers/gpt-provider.js
  src/services/context-service.js
  src/services/index.js
  src/services/tracking-opt-out.js
  src/video/vast-url-builder.js
Labels: Minor change

#138 ADEN-7155 Rename opt out to opt in
  examples/context.js
  spec/providers/gpt-provider.spec.js
  spec/services/tracking-opt-in.spec.js
  spec/services/tracking-opt-out.spec.js
  spec/video/vast-url-builder.spec.js
  src/providers/gpt-provider.js
  src/services/context-service.js
  src/services/index.js
  src/services/tracking-opt-in.js
  src/services/tracking-opt-out.js
  src/video/vast-url-builder.js
Labels: Major change
