Repository Wikia/ad-engine, pull requests merged in 2018-11, with the labels that each got.

#209 ADEN-7777 Determine BTL response status
  examples/services/bill-the-lizard/index.html
  examples/services/bill-the-lizard/script.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#210 ADEN-7777-2 Return empty predictions object on error.
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#204 ADEN-7773 Fix Wikia video adapter after moving prebid to ad-engine
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/context.js
  spec/ad-bidders/prebid/adapters/wikia-video.spec.js
  spec/ad-engine/services/slot-service.spec.js
  src/ad-bidders/prebid/adapters/wikia-video.js
  src/ad-engine/video/vast-url-builder.js
Labels: Minor change

#211 ADEN-7850 Visual regression for wdio tests, UAP Mobile tests, UAP Sticky BFAB Desktop
  .gitignore
  README.md
  package-lock.json
  package.json
  src/ad-products/templates/out-of-page/floor-adhesion.js
  src/ad-products/templates/out-of-page/interstitial.js
  tests/common/adSlots.js
  tests/common/helpers.js
  tests/pages/abcd-ad.page.js
  tests/pages/animations-ad.page.js
  tests/pages/hivi-uap-ad.page.js
  tests/pages/hivi-uap-jwp-ad.page.js
  tests/pages/hivi-uap-static-ad.page.js
  tests/pages/hivi-uap-sticky-bfab-ad.page.js
  tests/pages/porvata.page.js
  tests/screenshots/reference/29520d01cafa8749c8170e4a301885bb.png
  tests/screenshots/reference/3fafcef778c056c36c7cef23872bb253.png
  tests/screenshots/reference/4991180b550d13cbef1a9f13fa5c7e2c.png
  tests/screenshots/reference/698664b335472dabfdbfb0f1abf9d377.png
  tests/screenshots/reference/6ba50167e981743298bdf0443f85aa78.png
  tests/screenshots/reference/84abc38e9e8220a7c596f29a705cf5be.png
  tests/screenshots/reference/87d7cba51c84ff0e445cde21421f3950.png
  tests/screenshots/reference/a632abc4ae487fe11078adfa241a0440.png
  tests/screenshots/reference/c3e6331af51167ef752f39a14e66632a.png
  tests/screenshots/reference/f36a37c53e003d5a3d03acff9fdb06d4.png
  tests/screenshots/reference/f9119c5fa3fa3c9b8f46079e4147f26b.png
  tests/specs/bidders/prebid-wikia-adapter.desktop.test.js
  tests/specs/slots/animations-ad.desktop.test.js
  tests/specs/slots/block-btf-ad.desktop.test.js
  tests/specs/slots/btf-only-ad.desktop.test.js
  tests/specs/slots/common-slots-ad.desktop.test.js
  tests/specs/slots/delay-ad.desktop.test.js
  tests/specs/slots/empty-response.desktop.test.js
  tests/specs/slots/repeatable-slots.desktop.test.js
  tests/specs/slots/viewport-conflict-ad.desktop.test.js
  tests/specs/templates/abcd-ad.desktop.test.js
  tests/specs/templates/floating-ad.desktop.test.js
  tests/specs/templates/floating-rail-ad.desktop.test.js
  tests/specs/templates/floor-adhesion.desktop.test.js
  tests/specs/templates/hivi-uap-ad.desktop.test.js
  tests/specs/templates/hivi-uap-ad.mobile.test.js
  tests/specs/templates/hivi-uap-jwp-ad.desktop.test.js
  tests/specs/templates/hivi-uap-jwp-ad.mobile.test.js
  tests/specs/templates/hivi-uap-static-ad.desktop.test.js
  tests/specs/templates/hivi-uap-static-ad.mobile.test.js
  tests/specs/templates/hivi-uap-sticky-bfab-ad.desktop.test.js
  tests/specs/templates/hivi-uap-twitch-ad.desktop.test.js
  tests/specs/templates/interstitial.desktop.test.js
  tests/specs/templates/sticky-ad.desktop.test.js
  tests/specs/utils/labrador-basset.desktop.test.js
  tests/specs/video/porvata.desktop.test.js
  wdio.conf.js
  wdio.desktop.conf.js
  wdio.mobile.conf.js
Labels: Patch change

#213 ADEN-7809 Unstick TLB on window resize
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/uap/themes/hivi/stickiness.js
Labels: Minor change

#217 ADEN-7809-2 Resize adslot
  src/ad-products/templates/sticky-ad.js
Labels: Minor change

#215 ADEN-7893 Adding Geo Edge service
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  src/ad-bidders/a9/index.js
  src/ad-bidders/prebid/index.js
  src/ad-engine/utils/script-loader.js
  src/ad-services/geo-edge/index.js
  src/ad-services/index.js
  src/ad-services/krux/index.js
Labels: Minor change

#220 ADEN-7907 StickyAd enhancements.
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/style.css
  examples/templates/sticky-ad/index.html
  examples/templates/sticky-tlb/index.html
  examples/templates/sticky-tlb/script.js
  src/ad-products/templates/index.js
  src/ad-products/templates/sticky-tlb.js
  src/ad-products/templates/uap/big-fancy-ad-above.js
  src/ad-products/templates/uap/constants.js
  src/ad-products/templates/uap/themes/hivi/stickiness.js
  webpack.config.js
Labels: Minor change

#221 ADEN-7933 Adding stickyAd events
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/context.js
  src/ad-engine/listeners/slot-listener.js
  src/ad-engine/models/ad-slot.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.js
Labels: Major change

#224 ADEN-7818 Possibility to have separate parnterCode for jwplaer MOAT
  src/ad-products/video/jwplayer-ads-factory.js
Labels: Patch change

#225 ADEN-7907-2 Fix interfering uap hivi styles.
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/templates/sticky-tlb/index.html
  src/ad-engine/services/slot-tweaker.js
  src/ad-products/styles/_uap.scss
  src/ad-products/styles/styles.scss
  src/ad-products/templates/sticky-tlb.js
Labels: Patch change

#227 ADEN-7895 Implement MOAT Yield Inteligence service
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/context.js
  examples/services/moat-yi/index.html
  examples/services/moat-yi/script.js
  spec/ad-services/moat-yi/moat-yi.spec.js
  src/ad-engine/utils/script-loader.js
  src/ad-services/index.js
  src/ad-services/moat-yi/index.js
  webpack.config.js
Labels: Minor change

#219 ADEN-7925 Clean slot bids once video is rendered
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/context.js
  examples/video/jwplayer/index.html
  examples/video/jwplayer/script.js
  src/ad-bidders/index.js
  src/ad-engine/services/events.js
  src/ad-products/video/jwplayer-ads-factory.js
Labels: Patch change

#234 ADEN-8018 Use googletag SlotOnloadEvent to dispatch onReady promises …
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/templates/sticky-safe-frame-ad/index.html
  examples/templates/sticky-safe-frame-ad/script.js
  spec/ad-engine/providers/gpt-provider.spec.js
  src/ad-engine/listeners/slot-listener.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/providers/gpt-provider.js
  src/ad-engine/services/slot-tweaker.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/sticky-tlb.js
Labels: Minor change
