Repository Wikia/ad-engine, pull requests merged in 2018-08, with the labels that each got.

#154 ADEN-7487 Track Porvata events with lowercase pos names
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  src/listeners/porvata-listener.js
Labels: Patch change

#155 ADEN-7362 Prepare AE for outstream template
  spec/video/vast-url-builder.spec.js
  src/listeners/slot-listener.js
  src/utils/client.js
  src/utils/dimensions.js
  src/utils/viewport-observer.js
  src/video/player/porvata/ima/google-ima-player-factory.js
  src/video/player/porvata/porvata.js
  src/video/player/porvata/video-settings.js
  src/video/vast-url-builder.js
Labels: Minor change

#156 ADEN-7362 Revert client browser method
  src/utils/client.js
  src/video/player/porvata/porvata.js
Labels: Patch change

#157 ADEN-7362 Add flag to prevent starting out of viewport
  src/video/player/porvata/porvata.js
Labels: Patch change

#158 ADEN-7458 Add possibility to inject slot after another one is rendered
  examples/context.js
  examples/slots/repeatable-slots/script.js
  examples/style.css
  spec/services/slot-injector.spec.js
  spec/services/slot-repeater.spec.js
  src/listeners/slot-listener.js
  src/services/index.js
  src/services/slot-injector.js
  src/services/slot-repeater.js
  src/utils/dimensions.js
Labels: Major change

#159 ADEN-7458-2 Fix slotService for FMR X
  src/services/slot-service.js
Labels: Patch change

#160 ADEN-7458-3 Remember: array is not an object...
  src/services/slot-service.js
Labels: Patch change

#161 ADEN-7458-4 Fix isInTheSameViewport checker to include hidden elements
  src/utils/dimensions.js
Labels: Patch change

#162 ADEN-7568 Disable SRA when context "options.isSraDisabled" is truthy.
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  spec/.eslintrc.json
  spec/providers/gpt-provider.spec.js
  src/providers/gpt-provider.js
Labels: Minor change

#163 ADEN-7577 Add slot stickiness state constants.
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  src/models/ad-slot.js
Labels: Patch change

#164 ADEN-7587 Add option to inject slots below all conflicting slots.
  src/services/slot-injector.js
  src/services/slot-repeater.js
Labels: Patch change

#166 ADEN-7613 Expose getState method in slotService
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  spec/services/slot-service.spec.js
  src/services/slot-service.js
Labels: Patch change
