Repository Wikia/ad-engine, pull requests merged in 2019-01, with the labels that each got.

#259 Aden 8139
  .eslintrc.json
  examples/services/bill-the-lizard/index.html
  package-lock.json
  package.json
  src/ad-bidders/prebid/index.js
  src/ad-engine/models/ad-slot.js
  src/ad-products/templates/floating-rail.js
  src/ad-products/templates/out-of-page/floor-adhesion.js
  src/ad-products/templates/out-of-page/interstitial.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/sticky-base.js
  src/ad-products/templates/sticky-tlb.js
Labels: Patch change

#254 Aden 8038
  src/ad-engine/models/ad-slot.js
  src/ad-engine/services/slot-tweaker.js
  src/ad-products/templates/out-of-page/floor-adhesion.js
  src/ad-products/templates/out-of-page/interstitial.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/sticky-tlb.js
  src/ad-products/templates/uap/themes/classic/classic.js
  src/ad-products/templates/uap/themes/hivi/hivi-theme.js
  src/ad-products/templates/uap/themes/theme.js
Labels: Minor change

#256 ADEN-7957 | Create killcode for all ads but top leaderboard
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/slots/block-btf/script.js
  examples/slots/kill-codes/index.html
  examples/slots/kill-codes/script.js
  src/ad-engine/services/btf-blocker-service.js
  tests/pages/kill-codes.page.js
  tests/specs/slots/block-btf-ad.desktop.test.js
  tests/specs/slots/kill-codes.desktop.test.js
Labels: Minor change

#214 ADEN-7802 Adding Pubmatic to FV
  lib/prebid.min.js
  spec/ad-bidders/prebid/adapters/pubmatic.spec.js
  spec/ad-bidders/prebid/adapters/rubicon.spec.js
  spec/ad-bidders/prebid/prebid-settings.spec.js
  src/ad-bidders/prebid/adapters/pubmatic.js
  src/ad-bidders/prebid/adapters/rubicon.js
  src/ad-bidders/prebid/prebid-settings.js
  src/ad-products/templates/uap/themes/hivi/hivi-theme.js
Labels: Major change

#267 ADEN-8099 Use comma instead of semicolon for serializing BTL.
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#266 ADEN-8125 Remove pbjs bidWon event callback on page change
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-bidders/index.js
  src/ad-bidders/prebid/adapters/wikia-video.js
  src/ad-bidders/prebid/adapters/wikia.js
  src/ad-bidders/prebid/index.js
Labels: Patch change

#264 ADEN-7508 Expose some methods for AE3Prebid integration
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/bidders/a9/script.js
  examples/bidders/prebid/script.js
  examples/bidders/reusable-prebid/script.js
  src/ad-bidders/base-bidder.js
  src/ad-bidders/index.js
  src/ad-bidders/prebid/prebid-settings.js
  src/ad-bidders/prebid/price-helper.js
  src/ad-engine/utils/flow-control.js
Labels: Patch change

#269 ADEN-8154 Remove unsticking on resize
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-products/templates/sticky-base.js
  src/ad-products/templates/uap/themes/hivi/stickiness.js
Labels: Patch change

#270 ADEN-8068 Add getPreviousPrediction method.
  .eslintrc.json
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#271 ADEN-8165 Set creative id and line item id to source agnostic values if
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-engine/models/ad-slot.js
Labels: Patch change

#262 Aden 8145
  .eslintrc.json
  src/ad-bidders/base-bidder.js
  src/ad-engine/ad-engine.js
  src/ad-engine/services/btf-blocker-service.js
  src/ad-engine/utils/lazy-queue.js
  src/ad-engine/video/player/porvata/porvata.js
Labels: Patch change

#272 ADEN-8168 Adding Confiant service caller
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  src/ad-services/confiant/index.js
  src/ad-services/index.js
Labels: Minor change

#261 Aden 8143
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/sticky-base.js
  src/ad-products/templates/sticky-tlb.js
  src/ad-products/templates/uap/big-fancy-ad-above.js
  src/ad-products/templates/uap/big-fancy-ad-below.js
  src/ad-products/templates/uap/themes/classic/classic.js
  src/ad-products/templates/uap/themes/classic/index.js
  src/ad-products/templates/uap/themes/classic/ready.js
  src/ad-products/templates/uap/themes/factory.js
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.js
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.js
  src/ad-products/templates/uap/themes/hivi/hivi-theme.js
  src/ad-products/templates/uap/themes/hivi/index.js
  src/ad-products/templates/uap/themes/hivi/ready.js
  src/ad-products/templates/uap/themes/theme.js
  src/ad-products/utils/index.js
  src/ad-products/utils/navbar-manager.js
  src/ad-services/confiant/index.js
  wdio.conf.js
  wdio.desktop.conf.js
  wdio.mobile.conf.js
Labels: Minor change

#274 ADEN-7819 Use proper slotname in jwplayer-ads-factory
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/video/jwplayer/script.js
  spec/ad-engine/ad-slot-fake.js
  spec/ad-engine/services/slot-tweaker.spec.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/services/slot-tweaker.js
  src/ad-engine/video/vast-url-builder.js
  src/ad-products/video/jwplayer-ads-factory.js
Labels: Patch change

#273 ADEN-8190 Configure wdio with dev server
  maintenance/wdio.port.js
  package-lock.json
  package.json
  wdio.conf.js
  wdio.desktop.conf.js
  webpack.config.js
Labels: Patch change

#283 ADEN-8174 Disable sticky TLB on FV pages.
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  examples/templates/sticky-ad/index.html
  examples/templates/sticky-ad/script.js
  examples/templates/sticky-tlb/index.html
  examples/templates/sticky-tlb/script.js
  src/ad-products/templates/sticky-ad.js
  src/ad-products/templates/sticky-base.js
  src/ad-products/templates/sticky-tlb.js
  tests/specs/templates/non-hivi/sticky-ad.desktop.test.js
  tests/specs/templates/non-hivi/sticky-tlb.desktop.test.js
Labels: Patch change
