Repository Wikia/ad-engine, pull requests merged in 2019-12, with the labels that each got.

#601 ADEN-9644 Enforce ad load only if IAS script is ready
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-products/video/player/porvata/ias/ias-video-tracker.ts
  src/ad-products/video/player/porvata/ima/google-ima-player-factory.ts
Labels: Minor change

#591 ADEN-9633 Create top_boxad and bottom_leaderboard in UCP
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  platforms/ucp/styles.scss
  src/ad-engine/models/ad-slot.ts
Labels: Minor change

#595 ADEN-9532-2 Fix UAP glitch.
  examples/context.ts
  examples/templates/hivi-uap-static/index.html
  examples/templates/hivi-uap-static/script.ts
  examples/templates/hivi-uap/index.html
  examples/templates/hivi-uap/script.ts
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Patch change

#600 ADEN-9658 Adapt CCPA mechanism to IAB final documentation
  package-lock.json
  package.json
  platforms/futhead/index.ts
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
  platforms/gamepedia/index.ts
  platforms/gamepedia/setup/context/targeting/gamepedia-targeting.setup.ts
  platforms/muthead/index.ts
  platforms/muthead/setup/targeting/muthead-targeting.setup.ts
  platforms/shared/bootstrap.ts
  platforms/shared/cmp/cmp-wrapper.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/platform-startup.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/index.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  spec/ad-engine/providers/gpt-provider.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/tracking-opt-in.ts
  src/ad-engine/video/vast-url-builder.ts
  src/ad-products/utils/index.ts
  src/ad-products/utils/rdp.ts
  src/ad-tracking/slot-tracking-middleware.ts
  tests/common/ad-slot.js
  tests/pages/hivi-uap-ad.page.js
  tests/pages/hivi-uap-static-ad.page.js
  tests/pages/hivi-uap-stickiness-not-allowed.page.js
  tests/pages/hivi-uap-sticky-bfab-ad.page.js
  tests/pages/hivi.page.js
Labels: Major change

#602 ADEN-9634 | Add incontent_boxads to UCP
  configs/tslint.json
  package-lock.json
  package.json
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-products/utils/fmr-rotator.ts
  src/ad-products/utils/index.ts
  src/ad-services/bt-rec/index.ts
Labels: Major change

#598 ADEN-9577 Adding Criteo adapter
  @types/pbjs/index.d.ts
  lib/prebid.min.js
  platforms/futhead/bidders/prebid/criteo.ts
  platforms/futhead/setup/context/prebid/futhead-prebid-config.setup.ts
  platforms/gamepedia/bidders/prebid/criteo.ts
  platforms/gamepedia/setup/context/prebid/gamepedia-prebid-config.setup.ts
  platforms/muthead/bidders/prebid/criteo.ts
  platforms/muthead/setup/context/prebid/muthead-prebid-config.setup.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/criteo.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#604 ADEN-9623 Disable A9 when user opts out of data sale under CCPA.
  .gitignore
  examples/bidders/a9/index.html
  src/ad-bidders/index.ts
  tests/common/network.js
  tests/specs/bidders/a9.desktop.test.js
Labels: Minor change

#605 ADEN-9619 Bump tracking-opt-in version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#607 ADEN-9573 Send geo key-val
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
  platforms/gamepedia/setup/context/targeting/gamepedia-targeting.setup.ts
  platforms/muthead/setup/targeting/muthead-targeting.setup.ts
Labels: Patch change

#599 ADEN-9415 Refactor JWPlayer
  package-lock.json
  package.json
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp/fallback-config.json
  rollup.config.js
  spec/ad-engine/video/vast-debugger.spec.ts
  src/ad-engine/index.ts
  src/ad-engine/rxjs/index.ts
  src/ad-engine/rxjs/rxjs-operator.ts
  src/ad-engine/rxjs/tap-once.ts
  src/ad-engine/video/vast-debugger.ts
  src/ad-products/index.ts
  src/ad-products/video/featured-video-f15s.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-products/video/new/jwplayer-actions.ts
  src/ad-products/video/new/jwplayer-handler.ts
  src/ad-products/video/new/jwplayer-helper.ts
  src/ad-products/video/new/jwplayer-manager.ts
  src/ad-products/video/new/jwplayer-plugin/jwplayer-config.ts
  src/ad-products/video/new/jwplayer-plugin/jwplayer-event.ts
  src/ad-products/video/new/jwplayer-plugin/jwplayer-list-item.ts
  src/ad-products/video/new/jwplayer-plugin/jwplayer.ts
  src/ad-products/video/new/jwplayer-streams.ts
  src/ad-products/video/player/porvata/ias/ias-video-tracker.ts
  src/ad-products/video/player/porvata/ima/google-ima-player.ts
  tests/common/query-strings.js
  tests/pages/jwplayer.page.js
  tests/specs/video/jwplayer.desktop.test.js
Labels: Major change

#606 ADEN-9627 Upgrade Prebid.js and enable CCPA module
  @types/pbjs/index.d.ts
  README.md
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  examples/context.ts
  lib/prebid.min.js
  package-lock.json
  package.json
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/pbjs-factory.ts
  webpack.dev.js
Labels: Major change

#609 ADEN-9715 Fix RLQ on Gamepedia
  platforms/gamepedia/index.ts
  platforms/gamepedia/utils/media-wiki-wrapper.ts
  platforms/gamepedia/utils/visual-editor-events.ts
Labels: Patch change

#610 ADEN-9619-2 Prebid version fix
  src/platforms-shared/bidders-state-setup.ts
Labels: Patch change

#611 ADEN-9645 | Add src, loc and pos to IAS tracker
  src/ad-engine/models/ad-slot.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-products/video/player/porvata/ias/ias-video-tracker.ts
  src/ad-products/video/player/porvata/ima/google-ima-player-factory.ts
Labels: Minor change

#613 ADEN-9705 deleting Teads code
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/teads.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#615 ADEN-9704 | Non-lazy loading cleanup
  src/ad-bidders/prebid/index.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-repeater.ts
Labels: Minor change
