Repository Wikia/ad-engine, pull requests merged in 2019-03, with the labels that each got.

#316 Update AdEngine class types
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  examples/slots/delay/script.ts
  examples/slots/prebidium/script.ts
  examples/templates/hivi-uap-jwp/script.ts
  examples/templates/outstream/script.ts
  examples/tslint.json
  examples/video/jwplayer/script.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/config-mock.ts
  spec/ad-engine/template-fake.ts
  spec/tslint.json
  src/ad-engine/ad-engine.ts
  src/ad-engine/global.d.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/providers/index.ts
  src/ad-engine/providers/prebidium-provider.ts
  src/ad-engine/providers/provider.ts
  src/ad-engine/utils/lazy-queue.ts
  src/global-types.ts
  src/types/delay-module.ts
  src/types/index.ts
  tsconfig.json
  tslint.json
Labels: Patch change

#319 ADEN-8367-2 Fix missing lineItemId for Homad events
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-products/video/jwplayer-ads-factory.ts
Labels: Patch change

#315 ADEN-8429 Finish first call queue if there are no first call slots en…
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/global-bundle.js
  examples/slots/disabled-first-call/index.html
  examples/slots/disabled-first-call/script.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/models/ad-slot.spec.ts
  spec/ad-engine/services/btf-blocker-service.spec.ts
  spec/ad-engine/services/slot-service.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/slot-service.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  tslint.json
Labels: Patch change

#320 Add some utils types
  @types/ads/index.d.ts
  @types/blockadblock/index.d.ts
  @types/current-device/index.d.ts
  @types/window/index.d.ts
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  examples/slots/delay/script.ts
  examples/slots/prebidium/script.ts
  examples/templates/hivi-uap-jwp/script.ts
  examples/templates/outstream/script.ts
  examples/video/jwplayer/script.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/models/delay-module.ts
  src/ad-engine/models/index.ts
  src/ad-engine/utils/client.ts
  src/ad-engine/utils/dimensions.ts
  src/ad-engine/utils/document.ts
  src/ad-engine/utils/flow-control.ts
  src/ad-engine/utils/lazy-queue.ts
  src/global-types.ts
  src/types/index.ts
  tsconfig.json
  tslint.json
Labels: Patch change

#325 Fix cannot read property 'bab' of undefined
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/global-bundle.js
  src/ad-engine/utils/client.ts
Labels: Patch change

#323 ADEN-8472 Add no sole interface rule
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js.map
  dist/global-bundle.js
  maintenance/tslint-rules/dist/noSoleTypesRule.js
  maintenance/tslint-rules/src/noSoleTypesRule.ts
  maintenance/tslint-rules/tests/noSoleTypesRule/interface-and-class-pass.ts
  maintenance/tslint-rules/tests/noSoleTypesRule/interface-and-type-error.ts
  maintenance/tslint-rules/tests/noSoleTypesRule/one-interface-error.ts
  maintenance/tslint-rules/tests/noSoleTypesRule/one-type-error.ts
  maintenance/tslint-rules/tests/noSoleTypesRule/tslint.json
  maintenance/tslint-rules/tests/noSoleTypesRule/with-imports-error.ts
  maintenance/tslint-rules/tests/tsconfig.json
  maintenance/tslint-rules/tests/tslint.json
  maintenance/tslint-rules/tsconfig.json
  maintenance/tslint-rules/tslint.json
  package.json
  src/ad-engine/models/delay-module.ts
  src/ad-engine/providers/prebidium-provider.ts
  src/ad-engine/providers/provider.ts
  tsconfig.json
  tslint.json
Labels: Patch change

#306 ADEN-8183 Build ad-engine dist in prepare step
  .gitignore
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.amd.js
  dist/ad-engine.amd.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.css
  dist/ad-products.css.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  maintenance/build-bundle.js
  maintenance/build-bundle.sh
  package-lock.json
  package.json
  src/ad-engine/index.ts
  src/ad-products/tracking/video/jwplayer-tracker.ts
  src/ad-services/nielsen/index.ts
  webpack.config.js
Labels: Patch change

#317 ADEN-8383 Add option to disable onScrollPush for SlotInjector
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-repeater.ts
Labels: Minor change

#326 ADEN-8467 Adding Pubmatic vapi=2
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
Labels: Minor change

#327 ADEN-8426 Pass campaignId to slot listeners
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-data-params-updater.ts
Labels: Minor change

#330 Add package(-lock).json
  package.json
Labels: Patch change

#328 ADEN-8485 Add default values for context.get
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/providers/gpt-targeting.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/services/template-service.ts
  src/ad-engine/video/vast-url-builder.ts
  src/ad-products/common/product-info.ts
  src/ad-products/templates/floating-rail.ts
  src/ad-products/templates/out-of-page/floor-adhesion.ts
  src/ad-products/templates/out-of-page/interstitial.ts
  src/ad-products/templates/outstream/porvata-template.ts
  src/ad-products/templates/skin.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/big-fancy-ad-below.ts
  src/ad-products/templates/uap/big-fancy-ad-in-player.ts
  src/ad-products/templates/uap/roadblock.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/theme.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-services/bill-the-lizard/projects-handler.ts
  src/ad-services/geo-edge/index.ts
  src/ad-services/krux/index.ts
Labels: Patch change

#329 ADEN-8479 Fix status reporting for initially disabled slots
  src/ad-engine/services/slot-service.ts
Labels: Patch change

#318 ADEN-8464 Add VMG adapter
  @types/ads/index.d.ts
  lib/prebid.min.js
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/base-adapter.ts
  src/ad-bidders/prebid/adapters/vmg.ts
Labels: Minor change

#332 ADEN-8446 Check if container exists before setting data attribute.
  spec/ad-engine/services/slot-tweaker.spec.ts
  src/ad-engine/services/slot-tweaker.ts
Labels: Patch change

#331 Annotate AdSlot class.
  @types/window/index.d.ts
  package-lock.json
  package.json
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#334 ADEN-8486 Fix outstream vpaid styles
  examples/context.ts
  src/ad-products/styles/_porvata.scss
  src/ad-products/templates/interface/video/floating.ts
  src/ad-products/templates/interface/video/volume-control.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Patch change

#336 Exclude @types directory from tslint rule no-sole-types.
  @types/ads/index.d.ts
  @types/tslint.json
Labels: Patch change

#333 ADEN-8495 Possibility to use Prebid logic for targeting params
  examples/bidders/prebid/script.ts
  examples/context.ts
  spec/ad-bidders/prebid/adapters/wikia-video.spec.ts
  spec/ad-bidders/prebid/index.spec.ts
  spec/ad-bidders/prebid/prebid-settings.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/base-bidder.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/aol.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/audience-network.ts
  src/ad-bidders/prebid/adapters/base-adapter.ts
  src/ad-bidders/prebid/adapters/beachfront.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/kargo.ts
  src/ad-bidders/prebid/adapters/lkqd.ts
  src/ad-bidders/prebid/adapters/onemobile.ts
  src/ad-bidders/prebid/adapters/openx.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/vmg.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/ad-bidders/prebid/prebid-settings.ts
  src/ad-bidders/prebid/price-helper.ts
  src/ad-engine/ad-engine.ts
  webpack.config.js
Labels: Major change

#341 ADEN-8500 | Set likho local storage
  src/ad-engine/services/likho.ts
  src/ad-engine/services/slot-tweaker.ts
Labels: Minor change

#340 Annotate floating ad.
  src/ad-engine/templates/floating-ad.ts
Labels: Patch change

#338 Annotate ad-engine/services.
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/custom-ad-loader.ts
  src/ad-engine/services/local-cache.ts
  src/ad-engine/services/message-bus.ts
  src/ad-engine/services/slot-data-params-updater.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-repeater.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/services/slot-tweaker.ts
  src/ad-engine/services/template-service.ts
  src/ad-engine/services/tracking-opt-in.ts
Labels: Patch change

#339 Add adnotations for window types.
  @types/confiant/index.d.ts
  @types/geo-edge/index.d.ts
  @types/krux/index.d.ts
  @types/moat/index.d.ts
  @types/window/index.d.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#335 Add Utils Types and Dictionary
  examples/utils/labrador-basset/script.ts
  package-lock.json
  package.json
  spec/ad-engine/services/btf-blocker-service.spec.ts
  spec/ad-engine/services/slot-service.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/base-adapter.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/models/dictionary.ts
  src/ad-engine/models/index.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/utils/dimensions.ts
  src/ad-engine/utils/document.ts
  src/ad-engine/utils/geo.ts
  src/ad-engine/utils/get-promise-and-execute-callback.ts
  src/ad-engine/utils/iframe-builder.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/lazy-queue.ts
  src/ad-engine/utils/logger.ts
  src/ad-engine/utils/not-implemented-exception.ts
  src/ad-engine/utils/query-string.ts
  src/ad-engine/utils/random.ts
  src/ad-engine/utils/sampler.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-engine/utils/string-builder.ts
  src/ad-engine/utils/timer.ts
  src/ad-engine/utils/try-property.ts
  src/ad-engine/utils/viewport-observer.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/tracking/video/jwplayer-tracker.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-services/bill-the-lizard/projects-handler.ts
  src/ad-services/nielsen/index.ts
  tslint.json
Labels: Patch change

#346 ADEN-8515 Fix blockadblock import and return promise on check
  spec/ad-engine/utils/client.spec.ts
  src/ad-engine/utils/client.ts
Labels: Patch change

#348 ADEN-8552 Remove Phantom.JS dependency.
  package-lock.json
  package.json
Labels: Patch change

#349 ADEN-8562 Throw exception on non-existing slot in the tracking
  src/ad-products/tracking/video/video-event-data-provider.ts
Labels: Patch change

#347 ADEN-8520 Fix dispatching ad slot event
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/utils/logger.ts
Labels: Patch change

#350 Revert "ADEN-8518 Change UAP close button behaviour"
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Minor change

#354 ADEN-8504 Update Likho Service
  src/ad-engine/services/index.ts
  src/ad-engine/services/likho.ts
  src/ad-engine/services/slot-tweaker.ts
Labels: Minor change

#353 ADEN-8518 Do not hide BFAA when unstick is clicked.
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
Labels: Minor change

#352 Change geo service exports
  src/ad-engine/utils/geo.ts
Labels: Major change
