Repository Wikia/ad-engine, pull requests merged in 2019-02, with the labels that each got.

#276 ADEN-7794 | Add LKQD prebid
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  lib/prebid.min.js
  src/ad-bidders/prebid/adapters-registry.js
  src/ad-bidders/prebid/adapters/lkqd.js
Labels: Minor change

#288 ADEN-8299 | Add lkqdDfp variable
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-bidders/prebid/prebid-settings.js
Labels: Patch change

#282 ADEN-8228 Exposing some functions for AE3 Homad integration
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/global-bundle.js
  src/ad-engine/utils/query-string.js
  src/ad-products/video/jwplayer-ads-factory.js
Labels: Minor change

#278 ADEN-8245 Reset slot-service and btl targeting
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  src/ad-engine/providers/gpt-targeting.js
  src/ad-engine/services/context-service.js
  src/ad-engine/services/slot-service.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#290 ADEN-7805 | Add pubmatic parameters
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  spec/ad-bidders/prebid/adapters/pubmatic.spec.js
  src/ad-bidders/prebid/adapters/pubmatic.js
Labels: Patch change

#279 ADEN-8103 | Add native incontent slot
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/context.js
  examples/slots/incontent-native/index.html
  examples/slots/incontent-native/script.js
  examples/slots/incontent-native/styles.css
  tests/common/ad-slots.js
  tests/pages/incontent-native.page.js
  tests/specs/slots/incontent-native.mobile.test.js
Labels: Minor change

#289 ADEN-8302 Switch Beachfront to via-DFP integration
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  spec/ad-bidders/prebid/adapters/beachfront.spec.js
  src/ad-bidders/prebid/adapters/beachfront.js
  src/ad-bidders/prebid/prebid-settings.js
  src/ad-services/confiant/index.js
Labels: Minor change

#291 ADEN-8325 | Add pageurl to LKQD params
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-bidders/prebid/adapters/lkqd.js
Labels: Patch change

#292 ADEN-8327 | Change LKQD output param to svpaid
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-bidders/prebid/adapters/lkqd.js
Labels: Patch change

#287 ADEN-8292 Fix Krux
  spec/ad-services/krux/krux.spec.js
  src/ad-services/krux/index.js
Labels: Minor change

#228 ADEN-7995 Refactor A9
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/bidders/a9/script.js
  examples/slots/kill-codes/index.html
  src/ad-bidders/a9/index.js
  src/ad-bidders/base-bidder.js
  src/ad-bidders/index.js
  src/ad-bidders/prebid/index.js
  src/ad-bidders/wrappers/apstag.js
  src/ad-bidders/wrappers/cmp.js
  src/ad-bidders/wrappers/index.js
  src/ad-engine/utils/flow-control.js
  src/ad-engine/utils/get-promise-and-execute-callback.js
  src/ad-engine/utils/index.js
Labels: Minor change

#293 ADEN-8337 Fix BTL test. Handle second slot correctly.
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.js
  src/ad-services/bill-the-lizard/index.js
Labels: Patch change

#295 a9-fix Make so that Apstag can be stubbed
  spec/ad-bidders/a9/a9.spec.js
  src/ad-bidders/a9/index.js
  src/ad-bidders/wrappers/apstag.js
  tests/screenshots/reference/3cdedfd5fe6970875943f2862bd8f98d.png
  tests/screenshots/reference/bbc78cd9b470655e761471887f3090ce.png
  wdio.conf.js
Labels: Patch change

#300 Revert a9 refactor
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  examples/bidders/a9/script.js
  spec/ad-bidders/a9/a9.spec.js
  src/ad-bidders/a9/index.js
  src/ad-bidders/base-bidder.js
  src/ad-bidders/index.js
  src/ad-bidders/prebid/index.js
  src/ad-bidders/wrappers/apstag.js
  src/ad-bidders/wrappers/cmp.js
  src/ad-bidders/wrappers/index.js
  src/ad-engine/utils/flow-control.js
  src/ad-engine/utils/get-promise-and-execute-callback.js
  src/ad-engine/utils/index.js
  tests/screenshots/reference/3cdedfd5fe6970875943f2862bd8f98d.png
  tests/screenshots/reference/bbc78cd9b470655e761471887f3090ce.png
  wdio.conf.js
Labels: Minor change

#299 ADEN-8156 | Change jwplayer example video to shorter one
  examples/video/jwplayer/index.html
  examples/video/jwplayer/script.js
  examples/video/jwplayer/video.json
  tests/common/query-strings.js
  tests/specs/video/jwplayer.desktop.test.js
Labels: Patch change

#296 ADEN-8335 Pass vpaid mode to Porvata
  spec/ad-engine/video/player/porvata/ima/google-ima.spec.js
  src/ad-engine/video/player/porvata/ima/google-ima.js
  src/ad-engine/video/player/porvata/video-settings.js
Labels: Patch change

#294 ADEN-8258 Possibility to configure slot class names on create
  examples/context.js
  src/ad-engine/services/slot-service.js
  src/ad-engine/services/slot-tweaker.js
  tests/common/ad-slots.js
  tests/specs/slots/common-slots-ad.desktop.test.js
Labels: Patch change

#298 ADEN-8295 Improved slot disabling and hiding.
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  src/ad-engine/models/ad-slot.js
  src/ad-engine/services/slot-service.js
  src/ad-engine/utils/dimensions.js
Labels: Minor change

#308 ADEN-8377 Fix A9 not rendering ads.
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/global-bundle.js
  src/ad-bidders/a9/index.ts
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#303 ADEN-7995 Add A9 Refactor
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/global-bundle.js
  examples/bidders/a9/script.ts
  spec/ad-bidders/a9/a9.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/base-bidder.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/wrappers/apstag.ts
  src/ad-bidders/wrappers/cmp.ts
  src/ad-bidders/wrappers/index.ts
  src/ad-engine/utils/flow-control.ts
  src/ad-engine/utils/get-promise-and-execute-callback.ts
  src/ad-engine/utils/index.ts
  wdio.conf.js
Labels: Patch change

#304 ADEN-8302 Update Prebid.js to 2.2.0.
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/global-bundle.js
  lib/prebid.min.js
Labels: Major change

#305 ADEN-8341 Possibility to add listeners to not created slots
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/global-bundle.js
  examples/slots/common-slots/script.ts
  spec/ad-engine/ad-slot-fake.js
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-service.ts
Labels: Patch change

#310 ADEN-8382 Fix FV lineItem tracking
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.js
  dist/global-bundle.js
  spec/ad-engine/listeners/porvata-listener.spec.ts
  spec/ad-engine/video/vast-parser.spec.ts
  src/ad-engine/video/vast-parser.ts
Labels: Minor change

#313 ADEN Add spec and global types
  package-lock.json
  package.json
  spec/ad-bidders/a9/a9.spec.ts
  spec/ad-bidders/prebid/adapters/wikia-video.spec.ts
  spec/ad-engine/providers/prebidium-provider.spec.ts
  spec/ad-engine/services/context-service.spec.ts
  spec/ad-engine/services/slot-injector.spec.ts
  spec/ad-engine/services/slot-repeater.spec.ts
  spec/ad-engine/services/slot-service.spec.ts
  spec/ad-engine/utils/dimensions.spec.ts
  spec/ad-engine/utils/flow-control.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  spec/ad-engine/utils/iframe-builder.spec.ts
  spec/ad-engine/video/player/porvata/ima/google-ima-player-factory.spec.ts
  spec/ad-engine/video/player/porvata/porvata.spec.ts
  spec/ad-products/templates/uap/resolved-state.spec.ts
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.ts
  spec/ad-products/templates/uap/ui/ui-template.spec.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  spec/ad-products/utils/npa.spec.ts
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.ts
  spec/ad-services/bill-the-lizard/executor.spec.ts
  src/types/index.ts
  tsconfig.json
  tslint.json
  webpack.config.js
Labels: Patch change

#311 ADEN-8407 Refactor EventService.
  dist/ad-bidders.global.js
  dist/ad-bidders.global.js.map
  dist/ad-bidders.js
  dist/ad-bidders.js.map
  dist/ad-engine.global.js
  dist/ad-engine.global.js.map
  dist/ad-engine.js
  dist/ad-engine.js.map
  dist/ad-products.global.js
  dist/ad-products.global.js.map
  dist/ad-products.js
  dist/ad-products.js.map
  dist/ad-services.global.js
  dist/ad-services.global.js.map
  dist/ad-services.js
  dist/ad-services.js.map
  dist/global-bundle.js
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  examples/services/bill-the-lizard/script.ts
  examples/slots/prebidium/script.ts
  examples/templates/outstream/script.ts
  examples/video/jwplayer/script.ts
  examples/video/porvata/script.ts
  package-lock.json
  package.json
  src/ad-bidders/a9/index.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/global.d.ts
  src/ad-engine/listeners/scroll-listener.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/providers/gpt-targeting.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-service.ts
  src/ad-products/templates/out-of-page/interstitial.ts
  src/ad-products/templates/outstream/porvata-template.ts
  src/ad-products/tracking/index.ts
  src/ad-products/tracking/video/jwplayer-tracker.ts
  src/ad-products/tracking/video/player-event-emitter.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-services/bill-the-lizard/executor.ts
  src/ad-services/bill-the-lizard/index.ts
  src/ad-services/bill-the-lizard/projects-handler.ts
  src/ad-services/moat-yi/index.ts
  src/ad-services/nielsen/index.ts
  tsconfig.json
Labels: Major change
