Repository Wikia/ad-engine, pull requests merged in 2019-04, with the labels that each got.

#342 ADEN-8541 Remove optionion to enable SRA.
  spec/ad-engine/providers/gpt-provider.spec.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#355 ADEN-8559 Pass context templates.bfaa.slotsToDisable to UAP init().
  examples/context.ts
  examples/templates/abcd/index.html
  examples/templates/abcd/script.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
Labels: Patch change

#356 ADEN-8562 Fix template slotName value
  src/ad-engine/services/template-service.ts
Labels: Patch change

#345 Annotate Porvata.
  @types/ads/index.d.ts
  @types/window/index.d.ts
  spec/ad-engine/video/player/porvata/ima-factory.ts
  spec/ad-engine/video/player/porvata/ima/google-ima-player-factory.spec.ts
  spec/ad-engine/video/player/porvata/ima/google-ima.spec.ts
  spec/ad-engine/video/vast-parser.spec.ts
  src/ad-engine/listeners/porvata-listener.ts
  src/ad-engine/utils/try-property.ts
  src/ad-engine/video/player/porvata/ima/google-ima-player-factory.ts
  src/ad-engine/video/player/porvata/ima/google-ima-setup.ts
  src/ad-engine/video/player/porvata/ima/google-ima.ts
  src/ad-engine/video/player/porvata/porvata.ts
  src/ad-engine/video/player/porvata/video-settings.ts
  src/ad-engine/video/vast-debugger.ts
  src/ad-engine/video/vast-parser.ts
  src/ad-engine/video/vast-url-builder.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Minor change

#357 ADEN-8580 Remove built in logic and grab hb_deal_* manually
  examples/context.ts
  spec/ad-bidders/prebid/index.spec.ts
  spec/ad-bidders/prebid/prebid-settings.spec.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-settings.ts
Labels: Patch change

#361 ADEN-8562 Clear Porvata/IMA objects on slot destroy
  examples/templates/outstream/index.html
  examples/templates/outstream/script.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/video/player/porvata/ima/google-ima.ts
Labels: Patch change

#360 Remove type errors from src/ad-engine.
  @types/window/index.d.ts
  package.json
  spec/ad-engine/listeners/porvata-listener.spec.ts
  src/ad-engine/listeners/index.ts
  src/ad-engine/listeners/listeners.ts
  src/ad-engine/listeners/porvata-listener.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/listeners/twitch-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-size-map.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/utils/logger.ts
  src/ad-engine/video/player/porvata/ima/google-ima-player-factory.ts
  src/ad-engine/video/player/porvata/porvata.ts
  src/ad-engine/video/player/twitch/embed/twitch-embed.ts
  src/ad-engine/video/player/twitch/twitch.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/tracking/video/jwplayer-tracker.ts
  src/ad-products/tracking/video/player-event-emitter.ts
  src/ad-products/tracking/video/porvata-tracker.ts
  src/ad-products/tracking/video/twitch-tracker.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
Labels: Patch change

#365 Restore correct definition of getData and dispatch functions of slotL…
  src/ad-engine/listeners/slot-listener.ts
Labels: Patch change

#364 ADEN-8648 Remove GeoEdge service
  @types/geo-edge/index.d.ts
  @types/window/index.d.ts
  spec/ad-services/geo-edge/geo-edge.spec.ts
  src/ad-services/geo-edge/index.ts
  src/ad-services/index.ts
Labels: Major change

#359 ADEN-8560 Set A9 for bidder_won and bidder_won_price.
  spec/ad-engine/models/ad-slot.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#367 ADEN-8635 Remove occurrences of getCurrentAd.
  spec/ad-engine/listeners/porvata-listener.spec.ts
  src/ad-engine/listeners/porvata-listener.ts
  src/ad-engine/video/player/porvata/ima/google-ima-player-factory.ts
  src/ad-engine/video/vast-debugger.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Patch change

#371 ADEN-8680 Expose isEmpty flag on AdSlot
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#368 ADEN-8539 Don't bid A9 for disabled slots
  examples/context.ts
  src/ad-bidders/a9/index.ts
Labels: Minor change

#372 ADEN-8577-3 Add LocalStorage wrapper
  examples/services/likho/script.ts
  spec/ad-services/krux/krux.spec.ts
  src/ad-engine/services/likho.ts
  src/ad-engine/services/local-cache.ts
  src/ad-engine/services/local-storage.ts
  src/ad-engine/video/player/porvata/ima/google-ima-setup.ts
  src/ad-services/krux/index.ts
Labels: Minor change

#375 ADEN-8550 Show arrays properly in vast attributes
  examples/video/jwplayer/script.ts
  spec/ad-engine/video/vast-debugger.spec.ts
  src/ad-engine/video/vast-debugger.ts
  src/ad-engine/video/vast-parser.ts
Labels: Patch change

#376 ADEN-8694 | Add localstorage rule to tslint
  package-lock.json
  package.json
  tslint.json
Labels: Patch change

#374 ADEN-8699 Add types to HiVi BFAA.
  src/ad-engine/utils/flow-control.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/themes/classic/classic.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
  src/ad-products/templates/uap/themes/theme.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Patch change

#377 ADEN-8664 Increase indexExchange and wikia max cpm
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/base-adapter.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/price-helper.ts
Labels: Patch change
