Repository Wikia/ad-engine, pull requests merged in 2019-08, with the labels that each got.

#458 ADEN-8996 Adding Viewability Counter service
  examples/context.ts
  examples/services/viewability-counter/index.html
  examples/services/viewability-counter/script.ts
  examples/utils/labrador-basset/script.ts
  spec/ad-engine/services/viewability-counter.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/local-storage.ts
  src/ad-engine/services/session-cookie.ts
  src/ad-engine/services/viewability-counter.ts
  src/ad-engine/utils/geo.ts
Labels: Major change

#457 ADEN-9074 Load Porvata in cdm-zone-02
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup.ts
  platforms/gamepedia/slots.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Minor change

#468 ADEN-8996-2 Fix sessionId read at first pageview
  src/ad-engine/utils/geo.ts
Labels: Patch change

#461 ADEN-9078 InstantConfig interpreter
  examples/services/instant-config/script.ts
  examples/utils/labrador-basset/script.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup.ts
  spec/ad-engine/services/geo-cache-storage.spec.ts
  spec/ad-engine/utils/document.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  spec/ad-products/tracking/video/video-event-data-provider.spec.ts
  spec/ad-services/instant-config/instant-config.interpreter.spec.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  spec/ad-services/instant-config/instant-config.overrider.spec.ts
  spec/ad-services/instant-config/instant-config.service.spec.ts
  spec/ad-services/instant-config/instant-config.spec.ts
  spec/ad-services/instant-config/matchers/browser-matcher.spec.ts
  spec/ad-services/instant-config/matchers/device-matcher.spec.ts
  spec/ad-services/instant-config/matchers/domain-matcher.spec.ts
  spec/ad-services/instant-config/matchers/negation-extractor.spec.ts
  spec/ad-services/instant-config/matchers/region-matcher.spec.ts
  spec/ad-services/instant-config/matchers/sampling-cache.manager.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/services/geo-cache-storage.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/local-cache.ts
  src/ad-engine/services/session-cookie.ts
  src/ad-engine/services/universal-storage.ts
  src/ad-engine/services/viewability-counter.ts
  src/ad-engine/utils/client.ts
  src/ad-engine/utils/geo.ts
  src/ad-services/instant-config/index.ts
  src/ad-services/instant-config/instant-config.interpreter.ts
  src/ad-services/instant-config/instant-config.loader.ts
  src/ad-services/instant-config/instant-config.models.ts
  src/ad-services/instant-config/instant-config.overrider.ts
  src/ad-services/instant-config/instant-config.service.ts
  src/ad-services/instant-config/matchers/browser-matcher.ts
  src/ad-services/instant-config/matchers/device-matcher.ts
  src/ad-services/instant-config/matchers/domain-matcher.ts
  src/ad-services/instant-config/matchers/negation-extractor.ts
  src/ad-services/instant-config/matchers/region-matcher.ts
  src/ad-services/instant-config/matchers/sampling-cache.manager.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Major change

#466 ADEN-9100 | Add is_uap param to adengadinfo
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#464 ADEN-8997 Scroll speed tracking
  spec/ad-engine/services/scroll-speed-calculator.spec.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/scroll-speed-calculator.ts
  src/ad-tracking/index.ts
  src/ad-tracking/scroll-tracker.ts
Labels: Minor change

#474 ADEN-9138 Fixing missing artid targeting param
  platforms/gamepedia/targeting.ts
Labels: Patch change

#480 [ADEN-9143] set parameters fetchMarginPercent and renderMarginPercent for GAM lazy loading
  src/ad-engine/providers/gpt-provider.ts
Labels: Minor change

#479 ADEN-9162 Do not set icbm true value by default
  examples/context.ts
  spec/ad-services/instant-config/instant-config.interpreter.spec.ts
  src/ad-services/instant-config/instant-config.interpreter.ts
Labels: Patch change

#473 ADEN-8825 AdSlotData typescript fixes
  platforms/gamepedia/targeting.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#477 ADEN-9083 Change instant config getter default value
  spec/ad-services/instant-config/instant-config.service.spec.ts
  src/ad-services/instant-config/instant-config.service.ts
Labels: Patch change

#478 ADEN-9111 Integrate Taxonomy API and enable it on GP
  examples/context.ts
  examples/services/taxonomy/index.html
  examples/services/taxonomy/script.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup.ts
  spec/ad-services/taxonomy/taxonomy-service.spec.ts
  src/ad-services/index.ts
  src/ad-services/taxonomy/taxonomy-service.loader.ts
  src/ad-services/taxonomy/taxonomy-service.ts
Labels: Minor change

#472 ADEN-9135 Integrate Confiant on Gamepedia
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup.ts
Labels: Minor change

#467 ADEN-8937 Stick UAP only if it necessary
  platforms/gamepedia/styles.scss
  platforms/gamepedia/templates/big-fancy-ad-above-config-desktop.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-mobile.ts
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/big-fancy-ad-below.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Minor change

#481 ADEN-9134 Adding BT rec service
  @types/window/index.d.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup-context.ts
  platforms/shared/wad/bab-detection.ts
  src/ad-services/bt-rec/index.ts
  src/ad-services/index.ts
Labels: Minor change

#483 ADEN-8942 Add mobile PF (cdm zone 03) slot.
  platforms/shared/bidders/repository/a9.ts
  platforms/shared/bidders/repository/app-nexus.ts
  platforms/shared/bidders/repository/index-exchange.ts
  platforms/shared/bidders/repository/openx.ts
  platforms/shared/bidders/repository/pubmatic.ts
  platforms/shared/bidders/repository/rubicon.ts
  platforms/shared/bidders/repository/wikia.ts
Labels: Patch change

#475 ADEN-9108-0 Introduce custom filler logic
  examples/templates/outstream/index.html
  examples/templates/outstream/script.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/filler-service.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/slot-tweaker.ts
  src/ad-engine/utils/document.ts
  src/ad-engine/video/player/porvata/porvata.ts
  tests/common/query-strings.js
  tests/specs/templates/non-hivi/outstream.desktop.test.js
Labels: Minor change

#493 ADEN-9116 remove unused method
  src/ad-tracking/click-position-tracker.ts
Labels: Patch change

#486 ADEN-9207 Add forceSafeFrame config option to types and README.
  README.md
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#492 ADEN-9211 Adjust Muthead ad unit and src
  platforms/mutfut/ad-context.ts
  platforms/mutfut/setup-ad-engine.ts
  platforms/mutfut/setup-context.ts
  platforms/mutfut/targeting.ts
  src/ad-engine/models/targeting.ts
Labels: Patch change

#485 ADEN-9148 Fix types for FloatingRail, Icons and ProgressBar.
  @types/window/index.d.ts
  src/ad-products/templates/floating-rail.ts
  src/ad-products/templates/interface/icons.ts
  src/ad-products/templates/interface/video/progress-bar.ts
Labels: Patch change

#496 ADEN-9170 Rename mutfut -> sports.
  package.json
  platforms/sports/ad-context.ts
  platforms/sports/index.ts
  platforms/sports/setup-ad-engine.ts
  platforms/sports/setup-context.ts
  platforms/sports/styles.scss
  platforms/sports/targeting.ts
  platforms/sports/tsconfig.json
Labels: Patch change

#499 ADEN-8843 Adding UAP template
  platforms/gamepedia/setup-context.ts
  platforms/shared/index.ts
  platforms/shared/templates/uap-helper.ts
  platforms/sports/ad-context.ts
  platforms/sports/setup-ad-engine.ts
  platforms/sports/setup-context.ts
  platforms/sports/styles.scss
  platforms/sports/targeting.ts
  platforms/sports/templates/big-fancy-ad-above-config.ts
  platforms/sports/templates/big-fancy-ad-below-config.ts
  platforms/sports/templates/templates-registry.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/big-fancy-ad-below.ts
  src/ad-products/utils/navbar-manager.ts
Labels: Minor change

#500 ADEN-9239 Use icBabDetection instead of wgAdDriverBabDetection
  platforms/gamepedia/fallback-config.json
  platforms/gamepedia/setup-context.ts
  platforms/sports/fallback-config.json
  platforms/sports/setup-context.ts
Labels: Patch change
