Repository Wikia/ad-engine, pull requests merged in 2019-09, with the labels that each got.

#504 ADEN-9262 Integrate duration-media
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup-context.ts
  spec/ad-services/duration-media/duration-media.spec.ts
  src/ad-services/duration-media/index.ts
  src/ad-services/index.ts
Labels: Minor change

#495 ADEN-9243 Fix Cookie
  examples/services/viewability-counter/script.ts
  examples/utils/labrador-basset/script.ts
  platforms/gamepedia/setup-ad-engine.ts
  spec/ad-engine/services/instant-config-cache-storage.spec.ts
  spec/ad-engine/services/scroll-speed-calculator.spec.ts
  spec/ad-engine/services/viewability-counter.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  spec/ad-services/instant-config/matchers/sampling-cache.manager.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/services/cookie-storage-adapter.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/instant-config-cache-storage.ts
  src/ad-engine/services/scroll-speed-calculator.ts
  src/ad-engine/services/session-cookie.ts
  src/ad-engine/services/universal-storage.ts
  src/ad-engine/services/viewability-counter.ts
  src/ad-engine/utils/geo.ts
  src/ad-services/instant-config/matchers/sampling-cache.manager.ts
  src/ad-tracking/scroll-tracker.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Major change

#507 ADEN-9239 Let babDetection be disabled on gp/sports
  platforms/gamepedia/fallback-config.json
  platforms/gamepedia/setup-ad-engine.ts
  platforms/shared/wad/bab-detection.ts
  platforms/sports/fallback-config.json
  platforms/sports/setup-ad-engine.ts
Labels: Patch change

#508 ADEN-8191 Remove data-sizes attribute
  src/ad-engine/services/slot-data-params-updater.ts
Labels: Patch change

#510 ADEN-8233 Add method to detect steam platform
  src/ad-engine/utils/client.ts
Labels: Patch change

#506 ADEN-9283 Migrate Prebid wgVariables to ICBM
  configs/tslint.json
  platforms/gamepedia/setup-context.ts
  platforms/shared/bidders/setup-bidders.ts
  platforms/shared/index.ts
  platforms/sports/ad-context.ts
  platforms/sports/setup-context.ts
  spec/ad-bidders/prebid/adapters/aol.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/beachfront.spec.ts
  spec/ad-bidders/prebid/adapters/gumgum.spec.ts
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  spec/ad-bidders/prebid/adapters/kargo.spec.ts
  spec/ad-bidders/prebid/adapters/onemobile.spec.ts
  spec/ad-bidders/prebid/adapters/openx.spec.ts
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon-display.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  spec/ad-bidders/prebid/adapters/vmg.spec.ts
  spec/ad-bidders/prebid/adapters/wikia.spec.ts
  spec/ad-bidders/prebid/index.spec.ts
  spec/ad-bidders/prebid/prebid-helper.spec.ts
  spec/tsconfig.json
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/gumgum.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/vmg.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-engine/services/context-service.ts
  src/index.ts
Labels: Major change

#497 ADEN-9185 Replace CMP modal with Fandom CMP
  platforms/gamepedia/@types/window/index.d.ts
  platforms/shared/bootstrap.ts
  platforms/shared/cmp/cmp-wrapper.ts
Labels: Major change

#516 ADEN-9305 Refresh ICBM repository on page change
  spec/ad-services/instant-config/instant-config.interpreter.spec.ts
  spec/ad-services/instant-config/instant-config.service.spec.ts
  src/ad-engine/services/instant-config-cache-storage.ts
  src/ad-services/instant-config/instant-config.interpreter.ts
  src/ad-services/instant-config/instant-config.service.ts
Labels: Patch change

#521 ADEN-9324-2 Porvata floating fix
  src/ad-engine/video/player/porvata/porvata.ts
Labels: Patch change

#519 ADEN-8364 Add tsc to WDIO tests
  .babelrc
  package-lock.json
  package.json
  src/ad-services/instant-config/instant-config.loader.ts
  tests/pages/bill-the-lizard.page.ts
  tests/tsconfig.json
  tests/tslint.json
  tests/wdio.conf.js
  tests/wdio.desktop.conf.js
  tests/wdio.mobile.conf.js
  webpack.platforms.js
Labels: Minor change

#526 ADEN-9283-2 Remove unused fallback config
  platforms/gamepedia/fallback-config.json
Labels: Patch change

#505 ADEN-9266 Remove optOut CMP stub hack
  platforms/shared/cmp/cmp-wrapper.ts
Labels: Major change

#524 ADEN-8233 | Disable gamepedia and sports ads on steam
  platforms/gamepedia/setup-context.ts
  platforms/sports/setup-context.ts
Labels: Patch change

#522 ADEN-9308 Add missing Index Exchange bidder parameters
  platforms/sports/bidders/prebid.ts
  platforms/sports/bidders/prebid/index-exchange.ts
Labels: Minor change

#530 ADEN-9337 Fixing GP and MUT ad units
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-desktop.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-mobile.ts
  platforms/sports/ad-context.ts
Labels: Minor change

#532 ADEN-9310 Adding BT rec service
  platforms/sports/ad-context.ts
  platforms/sports/fallback-config.json
  platforms/sports/setup-ad-engine.ts
  platforms/sports/setup-context.ts
  platforms/sports/styles.scss
Labels: Minor change

#533 ADEN-9361 Add new SSP params for Futhead
  platforms/sports/bidders/prebid.ts
  platforms/sports/bidders/prebid/app-nexus.ts
  platforms/sports/bidders/prebid/index-exchange.ts
  platforms/sports/bidders/prebid/openx.ts
  platforms/sports/bidders/prebid/pubmatic.ts
  platforms/sports/bidders/prebid/rubicon.ts
  platforms/sports/setup-context.ts
Labels: Minor change
