Repository Wikia/ad-engine, pull requests merged in 2019-05, with the labels that each got.

#378 ADEN-8704 | Delay UAP control panel disappearing
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/interface/video/toggle-ui.ts
Labels: Minor change

#380 ADEN-8697 Remove FAN adapter.
  lib/prebid.min.js
  spec/ad-bidders/prebid/adapters/audience-network.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/audience-network.ts
  src/ad-bidders/prebid/adapters/index.ts
Labels: Major change

#382 ADEN-8704 | Start HiVi UAP with visible controls
  src/ad-products/templates/interface/video/toggle-ui.ts
Labels: Patch change

#383 ADEN-8708 Add resolved state switch callback
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Minor change

#384 ADEN-8757 Send force-unstick event when bfaa is closed.
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#385 ADEN-8685 Adding HideOnViewability template
  examples/templates/hide-on-viewability/index.html
  examples/templates/hide-on-viewability/script.ts
  src/ad-products/templates/hide-on-viewability.ts
  src/ad-products/templates/index.ts
Labels: Minor change

#387 ADEN-8704 Implement video controls fade out on mobile
  src/ad-products/templates/interface/video/toggle-ui.ts
Labels: Patch change

#389 ADEN-8770 Add option to pass placementId directly
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
Labels: Patch change

#388 ADEN-8706 | Add AdSlotData interface
  src/ad-engine/listeners/slot-listener.ts
Labels: Patch change

#390 ADEN-8686 Change interface of scrollListener.addSlot.
  spec/ad-engine/listeners/scroll-listener.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/listeners/scroll-listener.ts
Labels: Minor change

#391 ADEN-8774 | Add Browsi ad service
  src/ad-engine/utils/script-loader.ts
  src/ad-services/browsi/index.ts
  src/ad-services/index.ts
Labels: Minor change

#394 Add missing types
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#393 ADEN-8586 Improve HiVi TLB UX on slow connection
  src/ad-engine/listeners/slot-listener.ts
  src/ad-products/templates/sticky-tlb.ts
Labels: Patch change

#395 ADEN-8791 Add option to force safe frame per slot
  examples/context.ts
  examples/slots/safe-frame/index.html
  examples/slots/safe-frame/script.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Minor change

#398 ADEN-8779 Add method getTopOffset to AdSlot.
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/utils/dimensions.ts
Labels: Patch change

#396 ADEN-8657 Improve async in StickyTLB.
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-tweaker.ts
  src/ad-products/templates/interface/close-button.ts
  src/ad-products/templates/interface/ui-component.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/templates/sticky-tlb.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Major change

#397 ADEN-8666 | Remove slotId from a9 context
  examples/context.ts
  spec/ad-bidders/a9/a9.spec.ts
  src/ad-bidders/a9/index.ts
Labels: Minor change

#399 ADEN-8827 | Expose string builder for browsi
  @types/window/index.d.ts
  src/ad-services/browsi/index.ts
Labels: Patch change

#403 Fix ad-engine log version
  webpack.common.js
  webpack.config.js
Labels: Patch change

#402 ADEN-8781 | Add DFP advertiser_id to slot data
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-data-params-updater.ts
Labels: Patch change

#400 ADEN-8807 Implement instant config service 🚀
  examples/context.ts
  examples/services/instant-config/index.html
  examples/services/instant-config/script.ts
  spec/ad-engine/services/query-string.spec.ts
  spec/ad-services/instant-config/instant-config.spec.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/utils/query-string.ts
  src/ad-services/index.ts
  src/ad-services/instant-config/index.ts
  tests/pages/instant-config.page.js
  tests/specs/services/instant-config.desktop.test.js
Labels: Minor change

#404 ADEN-8842 AdSlot getTopOffset handles no slot element.
  spec/ad-engine/models/ad-slot.spec.ts
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#401 ADEN-8621 Adding GumGum Prebid.js adapter
  examples/context.ts
  examples/slots/safe-frame/index.html
  examples/slots/safe-frame/script.ts
  lib/prebid.min.js
  spec/ad-bidders/prebid/adapters/gumgum.spec.ts
  spec/ad-bidders/prebid/adapters/vmg.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/base-adapter.ts
  src/ad-bidders/prebid/adapters/gumgum.ts
  src/ad-bidders/prebid/adapters/index.ts
Labels: Minor change
