Repository Wikia/ad-engine, pull requests merged in 2019-06, with the labels that each got.

#407 ADEN-8848 Pass adSlot object in out-of-page templates
  src/ad-products/templates/out-of-page/floor-adhesion.ts
  src/ad-products/templates/out-of-page/interstitial.ts
Labels: Patch change

#408 ADEN-8841 Remove hide(), show() and getContainer() from slotTweaker.
  spec/ad-engine/services/slot-tweaker.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-tweaker.ts
  src/ad-products/templates/hide-on-viewability.ts
  src/ad-products/templates/out-of-page/floor-adhesion.ts
  src/ad-products/templates/out-of-page/interstitial.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
Labels: Major change

#410 ADEN-8864 Don't call CMP for A9 if it's disabled
  README.md
  src/ad-bidders/a9/index.ts
Labels: Patch change

#409 ADEN-8784 Move injecting slots to slotInjector.
  README.md
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/listeners/scroll-listener.spec.ts
  spec/ad-engine/models/ad-slot.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/listeners/scroll-listener.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-service.ts
Labels: Major change

#415 ADEN-8871 Adding overscrolled event
  examples/slots/overscrolled-event/index.html
  examples/slots/overscrolled-event/script.ts
  src/ad-engine/listeners/index.ts
  src/ad-engine/listeners/overscroll-listener.ts
  src/ad-engine/models/ad-slot.ts
Labels: Minor change

#414 ADEN-8883 AdSlot is now viewed when either AdSlot.SLOT_VIEWED_EVENT o…
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#417 ADEN-8899 Fix UAP navigation hiding too fast
  src/ad-products/templates/interface/video/toggle-ui.ts
Labels: Patch change

#416 ADEN-8886 Upgrade Confiant integration to V3
  @types/confiant/index.d.ts
  @types/window/index.d.ts
  src/ad-services/confiant/index.ts
Labels: Minor change

#413 ADEN-8806 Map array from query string to strings.
  package.json
  spec/ad-services/instant-config/instant-config.spec.ts
  src/ad-engine/utils/query-string.ts
  src/ad-products/templates/sticky-base.ts
  tests/common/helpers.js
Labels: Patch change

#419 ADEN-8915 Fixing "No slots provided to apstag.fetchBids" error
  src/ad-bidders/a9/index.ts
Labels: Patch change

#418 ADEN-8911 GP UAP Unstick Position Desktop
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/services/slot-injector.spec.ts
  spec/ad-engine/services/slot-service.spec.ts
  spec/ad-engine/utils/dimensions.spec.ts
  src/ad-engine/utils/dimensions.ts
Labels: Major change

#420 ADEN-8900 Fix resolved state switch on UAP close button click
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#423 ADEN-8900-2 Reverse ADEN-8900
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#412 ADEN-7820 Implement slot-tracker and viewability-tracker
  @types/window/index.d.ts
  examples/slots/common-slots/script.ts
  examples/templates/hivi-uap/script.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  spec/ad-engine/tracking/slot-properties-tracking-middleware.spec.ts
  spec/ad-engine/tracking/viewability-properties-tracking-middleware.spec.ts
  spec/ad-engine/utils/dimensions.spec.ts
  spec/ad-engine/utils/middleware.spec.ts
  spec/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  spec/ad-tracking/viewability-tracking-middleware.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/tracking/index.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/ad-engine/index.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/tracking/index.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
  src/ad-engine/tracking/viewability-properties-tracking-middleware.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/middleware.ts
  src/ad-services/bill-the-lizard/index.ts
  src/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.ts
  src/ad-tracking/index.ts
  src/ad-tracking/slot-tracker.ts
  src/ad-tracking/slot-tracking-middleware.ts
  src/ad-tracking/tslint.json
  src/ad-tracking/viewability-tracker.ts
  src/ad-tracking/viewability-tracking-middleware.ts
  src/index.ts
  tsconfig.json
  tslint.json
Labels: Minor change

#421 ADEN-8910 Fixing sticky freeze bug
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Patch change

#426 ADEN Fix pos_top sent as float to DW.
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#425 ADEN-8900-3 Fix resolved state switch on UAP close button click - again
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#427 ADEN-8902 | Get geo codes from context
  spec/ad-engine/utils/geo.spec.ts
  src/ad-engine/utils/geo.ts
Labels: Major change

#428 ADEN-8928 Fix BFAA viewability event
  src/ad-engine/models/ad-slot.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
Labels: Patch change
