Repository Wikia/ad-engine, pull requests merged in 2019-10, with the labels that each got.

#543 ADEN-9363 Adding porvata and viewability trackers
  platforms/sports/setup-context.ts
Labels: Minor change

#494 ADEN-9244 Fix scroll tracker not closing correctly.
  platforms/shared/cmp/cmp-wrapper.ts
  spec/ad-engine/services/scroll-speed-calculator.stub.ts
  spec/ad-engine/utils/promised-timeout.spec.ts
  spec/ad-tracking/scroll-tracker.spec.ts
  src/ad-engine/services/scroll-speed-calculator.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/promised-timeout.ts
  src/ad-tracking/scroll-tracker.ts
Labels: Minor change

#465 ADEN-8666 | Remove slotId from a9 context (#397)
  examples/context.ts
  spec/ad-bidders/a9/a9.spec.ts
  src/ad-bidders/a9/index.ts
Labels: Minor change

#540 ADEN-9385 cheshire cat 'weird_cat' fix
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.ts
  src/ad-services/bill-the-lizard/index.ts
Labels: Major change

#537 ADEN-9330 | Non lazy loaded incontent boxads
  src/ad-bidders/prebid/index.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-repeater.ts
Labels: Minor change

#545 ADEN-9407 Update platforms build process
  package.json
  webpack.platforms.js
Labels: Patch change

#546 ADEN-9387 Adding 33Across bidder adapter
  lib/prebid.min.js
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/across.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/setup-bidders.ts
Labels: Minor change

#501 ADEN-8646 Get rid of context's listeners.*
  @types/window/index.d.ts
  README.md
  examples/bidders/reusable-prebid/script.ts
  examples/context.ts
  examples/slots/repeatable-slots/script.ts
  examples/slots/viewport-conflicts/script.ts
  examples/templates/hivi-uap-sticky-bfab/script.ts
  examples/templates/hivi-uap-twitch/index.html
  examples/templates/hivi-uap-twitch/script.ts
  examples/templates/outstream/script.ts
  examples/video/jwplayer/script.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/sports/ad-context.ts
  platforms/sports/setup-ad-engine.ts
  spec/ad-engine/services/btf-blocker-service.spec.ts
  spec/ad-engine/services/slot-repeater.spec.ts
  spec/ad-services/krux/krux.spec.ts
  src/ad-engine/listeners/index.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/slot-repeater.ts
  src/ad-products/styles/_twitch.scss
  src/ad-products/styles/styles.scss
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/tracking/index.ts
  src/ad-products/tracking/video/porvata-tracker.ts
  src/ad-products/tracking/video/twitch-tracker.ts
  src/ad-products/video/player/twitch/embed/twitch-embed.ts
  src/ad-products/video/player/twitch/index.ts
  src/ad-products/video/player/twitch/twitch-listener.ts
  src/ad-products/video/player/twitch/twitch.ts
  tests/pages/hivi-uap-twitch-ad.page.js
  tests/specs/templates/hivi/hivi-uap-twitch-ad.desktop.test.js
Labels: Major change

#551 ADEN-9459 Fixing true/false mistake
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#554 ADEN-9327-fix fix default value
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
Labels: Patch change

#556 ADEN-9460 Adding "home" to s2 targeting parameter
  platforms/sports/targeting.ts
Labels: Minor change

#560 ADEN-9491 Disable cdm-zone-04 on Futhead
  platforms/futhead/setup-futhead-ioc.ts
  platforms/futhead/setup/state/slots/futhead-slots-state.setup.ts
Labels: Patch change

#552 ADEN-9372 | GAM lazy loading cleanup
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-repeater.ts
Labels: Minor change

#562 ADEN-9452 Integrate DurationMedia on Futhead and Muthead
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
Labels: Minor change

#563 ADEN-9365 fix AdEngineRunnerSetup not being registered
  platforms/futhead/setup-futhead-ioc.ts
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/shared/templates/big-fancy-ad-above-config.ts
Labels: Patch change

#561 ADEN-9444 Call ICBM with futhead/muthead instead of sports
  platforms/futhead/ad-context.ts
  platforms/futhead/fallback-config.json
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/fallback-config.json
  platforms/muthead/ad-context.ts
  platforms/muthead/fallback-config.json
Labels: Patch change

#555 ADEN-9257 Make collapsinator use forced_collapse event
  @types/ads/index.d.ts
  @types/window/index.d.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-tracking/slot-tracker.ts
Labels: Minor change

#558 ADEN-9411 Adjust BT module code for Oasis usage
  src/ad-services/bt-rec/index.ts
Labels: Minor change

#559 ADEN-9389 | Incontent boxads context cleanup
  README.md
  spec/ad-engine/services/slot-repeater.spec.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/services/slot-repeater.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change

#557 ADEN-9450 Integrate Confiant on Sports
  examples/context.ts
  examples/services/confiant/index.html
  examples/services/confiant/script.ts
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  tests/common/query-strings.js
  tests/pages/confiant.page.js
  tests/specs/services/confiant.desktop.test.js
Labels: Minor change

#567 ADEN-9492 Center cdm-zone-04 slots for BFAB
  platforms/futhead/styles.scss
Labels: Patch change

#564 ADEN-9474 Disable UAP on old muthead
  platforms/futhead/setup-futhead-ioc.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/gamepedia/setup/dynamic-slots/gamepedia-dynamic-slots.setup.ts
  platforms/gamepedia/setup/dynamic-slots/uap/uap-restrictor/gamepedia-uap-restrictor.ts
  platforms/muthead/dynamic-slots/uap/uap-restrictor/muthead-uap-restrictor.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/shared/index.ts
  platforms/shared/setup/context/common-context.setup.ts
  platforms/shared/setup/context/uap/curse-uap.setup.ts
  platforms/shared/setup/dynamic-slots/sports-dynamic-slots.setup.ts
  platforms/shared/setup/dynamic-slots/uap/_uap.setup.ts
  platforms/shared/setup/dynamic-slots/uap/curse-uap.setup.ts
  platforms/shared/setup/dynamic-slots/uap/uap-restrictor/uap-restrictor.ts
  platforms/shared/utils/get-page-type.ts
Labels: Patch change

#574 ADEN-9519 Disable 03 when there is UAP on FUT/MUT
  platforms/shared/templates/big-fancy-ad-above-config.ts
Labels: Patch change

#577 ADEN-9493 Mark squad pages as "squad" vertical.
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
Labels: Patch change

#572 ADEN-9503 add warner function in utils/ warner in blueprints construtors
  platforms/shared/modes/ads/_ads.mode.ts
  platforms/shared/modes/no-ads/_no-ads.mode.ts
  platforms/shared/setup/ad-engine-runner/_ad-engine-runner.setup.ts
  platforms/shared/setup/ad-engine-runner/delay-modules/_delay-modules.setup.ts
  platforms/shared/setup/context/_context.setup.ts
  platforms/shared/setup/context/a9/_a9-config.setup.ts
  platforms/shared/setup/context/prebid/_prebid-config.setup.ts
  platforms/shared/setup/context/slots/_slots-context.setup.ts
  platforms/shared/setup/context/targeting/_targeting.setup.ts
  platforms/shared/setup/context/wiki/_wiki-context-setup.ts
  platforms/shared/setup/dynamic-slots/_dynamic-slots.setup.ts
  platforms/shared/setup/dynamic-slots/uap/_uap.setup.ts
  platforms/shared/setup/state/_state.setup.ts
  platforms/shared/setup/state/bidders/_bidders-state.setup.ts
  platforms/shared/setup/state/slots/_slots-state.setup.ts
  platforms/shared/setup/templates/_templates.setup.ts
  platforms/shared/setup/tracking/_tracking.setup.ts
  platforms/shared/utils/ioc-default-warning.ts
  src/ad-engine/utils/logger.ts
Labels: Minor change

#578 ADEN-9537 Fixing calling substr on undefined on JWPlayer no ad error
  src/ad-engine/video/vast-parser.ts
  src/ad-products/video/jwplayer-ads-factory.ts
Labels: Patch change
