Repository Wikia/ad-engine, pull requests merged in 2019-07, with the labels that each got.

#430 ADEN-8938 Fix BFAA force-unstick event
  src/ad-products/templates/sticky-ad.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Major change

#433 ADEN-8874 Adding Confiant blocking callback
  @types/confiant/index.d.ts
  src/ad-services/confiant/index.ts
Labels: Minor change

#432 ADEN-8986 Fix BFAA navbar position
  examples/big-fancy-ad-above-config.ts
  examples/templates/abcd/script.ts
  examples/templates/hivi-uap-ab/script.ts
  examples/templates/hivi-uap-ctp/script.ts
  examples/templates/hivi-uap-static/script.ts
  examples/templates/hivi-uap-stickiness-not-allowed/script.ts
  examples/templates/hivi-uap-sticky-bfab/script.ts
  examples/templates/hivi-uap/script.ts
  examples/templates/vuap/script.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
Labels: Patch change

#440 ADEN-9016 Return empty string if no price from bidder.
  src/ad-bidders/prebid/price-helper.ts
Labels: Patch change

#434 ADEN-8982 Track btl with "not_used" value by default
  src/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.ts
  wdio.conf.js
  wdio.desktop.conf.js
  wdio.mobile.conf.js
Labels: Patch change

#441 ADEN-9021 Add tests for price-helper.ts.
  spec/ad-bidders/prebid/prebid-bid.factory.ts
  spec/ad-bidders/prebid/price-helper.spec.ts
Labels: Patch change

#444 ADEN-9031 Add no-unused-variable rule as error.
  package.json
  spec/tslint.json
  src/ad-bidders/index.ts
  src/ad-bidders/wrappers/apstag.ts
  src/ad-engine/listeners/slot-listener.ts
  src/ad-engine/utils/geo.ts
  src/ad-engine/utils/not-implemented-exception.ts
  tsconfig.json
Labels: Patch change

#439 ADEN Fix UAP bugs
  examples/big-fancy-ad-above-config.ts
  examples/templates/abcd/script.ts
  examples/templates/hivi-uap-ab/script.ts
  examples/templates/hivi-uap-ctp/script.ts
  examples/templates/hivi-uap-static/script.ts
  examples/templates/hivi-uap-stickiness-not-allowed/script.ts
  examples/templates/hivi-uap-sticky-bfab/script.ts
  examples/templates/hivi-uap/script.ts
  examples/templates/vuap/script.ts
  src/ad-engine/utils/dimensions.ts
  src/ad-engine/utils/viewport-observer.ts
  src/ad-products/templates/sticky-tlb.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/utils/navbar-manager.ts
Labels: Major change

#446 ADEN-9045 Fix "export 'BidsBackHandler' was not found in '../base-bid…
  src/ad-bidders/base-bidder.ts
  src/ad-bidders/prebid/index.ts
Labels: Patch change

#447 ADEN-9060 logging info if GAM lazy loading is enabled
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#449 ADEN-9012 Move GP to AdEngine
  @types/cmp/index.d.ts
  README.md
  platforms/gamepedia/@types/gamepedia-mw/index.d.ts
  platforms/gamepedia/@types/window/index.d.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/bidders/bidders-context.ts
  platforms/gamepedia/bidders/bidders-delay.ts
  platforms/gamepedia/bidders/repository/a9.ts
  platforms/gamepedia/bidders/repository/app-nexus.ts
  platforms/gamepedia/bidders/repository/index-exchange.ts
  platforms/gamepedia/bidders/repository/openx.ts
  platforms/gamepedia/bidders/repository/pubmatic.ts
  platforms/gamepedia/bidders/repository/rubicon.ts
  platforms/gamepedia/bidders/repository/wikia.ts
  platforms/gamepedia/cmp/cmp-wrapper.ts
  platforms/gamepedia/index.ts
  platforms/gamepedia/models/device-mode.ts
  platforms/gamepedia/setup-ad-engine.ts
  platforms/gamepedia/setup.ts
  platforms/gamepedia/slots.ts
  platforms/gamepedia/styles.scss
  platforms/gamepedia/targeting.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-desktop.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-mobile.ts
  platforms/gamepedia/templates/hide-all-ad-slots.ts
  platforms/gamepedia/templates/templates-registry.ts
  platforms/gamepedia/tracking/data-warehouse.ts
  platforms/gamepedia/tracking/models/tracking-params.ts
  platforms/gamepedia/tracking/page-tracker.ts
  platforms/gamepedia/tracking/tracker.ts
  platforms/gamepedia/utils/edit-mode-manager.ts
  platforms/gamepedia/utils/visual-editor-events.ts
  platforms/gamepedia/wad/bab-detection.ts
  webpack.platforms.js
Labels: Minor change

#453 ADEN-9075 Update Gamepedia CMP lib version
  platforms/gamepedia/cmp/cmp-wrapper.ts
Labels: Minor change

#450 ADEN-9025 Adding HideOnViewability template timeout option
  examples/templates/hide-on-viewability/index.html
  examples/templates/hide-on-viewability/script.ts
  src/ad-products/templates/hide-on-viewability.ts
Labels: Minor change

#452 [ADEN-9068] GAM lazy loading enabled
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-repeater.ts
Labels: Minor change

#451 ADEN-9053 adding changes from gamepedia-ads
  platforms/gamepedia/setup.ts
  platforms/gamepedia/slots.ts
  platforms/gamepedia/styles.scss
  platforms/gamepedia/templates/big-fancy-ad-above-config-desktop.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-mobile.ts
  platforms/gamepedia/templates/porvata-config.ts
  platforms/gamepedia/templates/templates-registry.ts
  platforms/gamepedia/tracking/tracker.ts
Labels: Minor change

#460 ADEN_9098 | Remove 970x150 pubmatic from GP
  platforms/gamepedia/bidders/repository/pubmatic.ts
Labels: Patch change

#462 ADEN-9095 Add dmn key-val
  platforms/gamepedia/targeting.ts
Labels: Patch change

#463 ADEN-9073 | Add roadblock template to Gamepedia
  platforms/gamepedia/templates/roadblock-config.ts
  platforms/gamepedia/templates/templates-registry.ts
  src/ad-products/templates/uap/roadblock.ts
Labels: Minor change
