Repository Wikia/ad-engine, pull requests merged in 2020-03, with the labels that each got.

#676 ADEN-9946 Block Permutive on kid wikis
  platforms/shared/setup/_base-context.setup.ts
Labels: Enhancement, Minor change

#677 ADEN-9661 Trigger ad-engine tests
  README.md
Labels: Patch change

#675 ADEN-9905 Destroy FMR slot using gpt method instead of hiding
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/ucp-base-context.setup.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/events.ts
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#679 ADEN-9661-2 Trigger tests run
  README.md
Labels: Patch change

#678 ADEN-9974 Fix resolved state unintended scroll
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#685 ADEN-9661-3 Trigger tests again
  README.md
Labels: Patch change

#686 ADEN-9661 Multiple commit merge
  README.md
Labels: Patch change

#687 ADEN-9661-5 Trigger tests
  .gitignore
Labels: Patch change

#680 ADEN-9980 Wait for additional time before unstick
  platforms/ucp/templates/handlers/bfaa-sticky-duration-handler.ts
Labels: Patch change

#681 ADEN-9730 | Add Telaria bidder adapter
  spec/ad-bidders/prebid/adapters/telaria.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/telaria.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#683 ADEN-9979 Show close button once user scroll
  platforms/ucp/templates/handlers/close-button-handler.ts
Labels: Patch change

#688 ADEN-9661-6 Clean up .gitignore and trigger tests
  .gitignore
Labels: Patch change

#689 ADEN-9661-7 Clean up .prettierignore and trigger tests
  .prettierignore
Labels: Patch change

#690 Update .prettierignore
  .prettierignore
Labels: Patch change

#694 ADEN-9973 Remove unnecessary script
  maintenance/wdio.port.js
Labels: Patch change

#696 ADEN-9973-2 Trigger ad-engine tests
  tsconfig.json
Labels: Patch change

#693 [ADEN-9965] UAP HiVi: dark theme for advertisement label and X button
  platforms/ucp/styles.scss
  src/ad-products/styles/_mixin.scss
  src/ad-products/styles/_uap.scss
Labels: Patch change

#692 ADEN-9954 | Refactor Permutive code
  src/ad-services/permutive/index.ts
Labels: Patch change

#695 ADEN-9983 Don't go to UAP sticked if viewability+timeout is counted
  platforms/ucp/templates/handlers/bfaa-impact-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-duration-handler.ts
  platforms/ucp/templates/helpers/bfaa-helper.ts
Labels: Minor change

#697 ADEN-9923 UCP: Add video to BFAA.
  README.md
  platforms/ucp/styles.scss
  platforms/ucp/styles/_bottom-panel.scss
  platforms/ucp/styles/_fullscreen-control.scss
  platforms/ucp/styles/_porvata-icons.scss
  platforms/ucp/styles/_progress-bar.scss
  platforms/ucp/templates/bfaa-template.ts
  platforms/ucp/templates/handlers/bfaa-config-handler.ts
  platforms/ucp/templates/handlers/bfaa-context.ts
  platforms/ucp/templates/handlers/bfaa-impact-handler.ts
  platforms/ucp/templates/handlers/bfaa-impact-video-handler.ts
  platforms/ucp/templates/handlers/bfaa-resolved-handler.ts
  platforms/ucp/templates/handlers/bfaa-resolved-video-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-duration-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-video-handler.ts
  platforms/ucp/templates/handlers/bfaa-transition-handler.ts
  platforms/ucp/templates/handlers/bfaa-transition-video-handler.ts
  platforms/ucp/templates/handlers/bfaa-video-handler.ts
  platforms/ucp/templates/handlers/bfab-bootstrap-handler.ts
  platforms/ucp/templates/handlers/bfab-impact-handler.ts
  platforms/ucp/templates/handlers/bfab-resolved-handler.ts
  platforms/ucp/templates/handlers/close-button-handler.ts
  platforms/ucp/templates/helpers/bfaa-video-helper.ts
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/services/templates-registry/template-dependencies-manager.spec.ts
  spec/ad-engine/services/templates-registry/template-registry.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/templates-registry/template-dependencies-manager.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-engine/services/templates-registry/template-symbols.ts
  src/ad-products/index.ts
  src/ad-products/styles/_mixin.scss
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/index.ts
  src/ad-products/templates/interface/video/panel.ts
  src/ad-products/templates/interface/video/progress-bar.ts
  src/ad-products/templates/interface/video/replay-overlay.ts
  src/ad-products/templates/interface/video/toggle-ui.ts
  src/ad-products/templates/interface/video/ui-elements.ts
  src/ad-products/templates/interface/video/ui-template.ts
  src/ad-products/templates/outstream/porvata-template.ts
  src/ad-products/templates/uap/index.ts
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/porvata-player.ts
  src/ad-products/video/porvata4/porvata.ts
Labels: Minor change

#698 ADEN-9986 Remove unused code
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#709 ADEN-10029 Fix dark theme on UAP HiVi.
  platforms/ucp/styles.scss
Labels: Patch change

#710 ADEN-10036 Adding VPAID to Index Exchange video bidder
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
Labels: Minor change

#708 ADEN-10030 Stop video when SLOT_FORCE_UNSTICK event is emitted.
  platforms/ucp/templates/handlers/bfaa-sticky-video-handler.ts
  platforms/ucp/templates/helpers/video-helper.ts
Labels: Patch change

#707 ADEN-10003 | Add Confiant, DM and Nielsen to UCP
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
Labels: Minor change

#702 [ADEN-9988] Header bidding on UCP
  platforms/ucp/ad-context.ts
  platforms/ucp/bidders/prebid/aol.ts
  platforms/ucp/bidders/prebid/appnexus-ast.ts
  platforms/ucp/bidders/prebid/appnexus.ts
  platforms/ucp/bidders/prebid/beachfront.ts
  platforms/ucp/bidders/prebid/index-exchange.ts
  platforms/ucp/bidders/prebid/kargo.ts
  platforms/ucp/bidders/prebid/nobid.ts
  platforms/ucp/bidders/prebid/one-mobile.ts
  platforms/ucp/bidders/prebid/one-video.ts
  platforms/ucp/bidders/prebid/openx.ts
  platforms/ucp/bidders/prebid/pubmatic.ts
  platforms/ucp/bidders/prebid/rubicon-display.ts
  platforms/ucp/bidders/prebid/rubicon.ts
  platforms/ucp/bidders/prebid/telaria.ts
  platforms/ucp/bidders/prebid/triplelift.ts
  platforms/ucp/bidders/prebid/wikia-video.ts
  platforms/ucp/bidders/prebid/wikia.ts
  platforms/ucp/fallback-config.json
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/modes/ucp-no-ads.mode.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
Labels: Minor change

#711 ADEN-10023 UAP CTP - sticky scrolled CTP jumps to impact fix
  platforms/ucp/templates/handlers/bfaa-impact-handler.ts
  platforms/ucp/templates/handlers/close-button-handler.ts
Labels: Patch change

#701 ADEN-9991 Cleanup Criteo, LKQD and VMG bidders
  platforms/futhead/bidders/prebid/criteo.ts
  platforms/futhead/setup/context/prebid/futhead-prebid-config.setup.ts
  platforms/gamepedia/bidders/prebid/criteo.ts
  platforms/gamepedia/setup/context/prebid/gamepedia-prebid-config.setup.ts
  platforms/muthead/bidders/prebid/criteo.ts
  platforms/muthead/setup/context/prebid/muthead-prebid-config.setup.ts
  spec/ad-bidders/prebid/adapters/criteo.spec.ts
  spec/ad-bidders/prebid/adapters/vmg.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/criteo.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/lkqd.ts
  src/ad-bidders/prebid/adapters/vmg.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#713 [ADEN-10035] update tracking-opt-in to v3.0.2
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change

#712 ADEN-10010 Set userId in context.
  platforms/ucp/setup/ucp-base-context.setup.ts
Labels: Patch change

#706 ADEN-10001 Adding Outstream template to UCP
  platforms/shared/platform-startup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  platforms/ucp/templates/configs/outstream-config.ts
  platforms/ucp/templates/ucp-templates.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Minor change

#714 ADEN-10041 UAP CTP - scrolled to impact cuts of top of the page
  platforms/ucp/templates/handlers/bfaa-impact-handler.ts
Labels: Patch change

#718 [ADEN-10048] Integrate Amazon A9 on UCP
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/a9/a9.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
Labels: Minor change

#725 ADEN-9999 | Remove rotator error in HiVi
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#726 ADEN-10062 Fixing wrong Oustream size after closing alien mode
  src/ad-products/templates/interface/video/floating.ts
Labels: Bug, Patch change

#717 ADEN-10054 Add options.isSubjectToCoppa flag to tracking-opt-in.ts.
  spec/ad-engine/services/tracking-opt-in.spec.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/tracking-opt-in.ts
Labels: Minor change

#730 ADEN-10054 Bump @wikia/tracking-opt-in to v3.0.4.
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#724 ADEN-10033 Test whether prebid let us use bid before auction complete
  examples/bidders/prebid/script.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  tests/specs/bidders/prebid.desktop.test.js
Labels: Patch change

#719 ADEN-10055 Set isSubjectToCoppa on UCP
  @types/ads/index.d.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change
