Repository Wikia/ad-engine, pull requests merged in 2020-12, with the labels that each got.

#941 ADEN-10735 Adding mobile_prefooter slot
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
Labels: Enhancement, Minor change

#938 ADEN-10492 Adding targeting params to AppNexus + refactor
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon-display.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change

#944 ADEN-10734 Cleaning up ucp-mobile CSS
  platforms/ucp-mobile/styles.scss
Labels: Patch change

#942 ADEN-10732 Fix lazy loaded fan takeover slots and outstream interface
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/ad-products/styles/_porvata.scss
Labels: Patch change

#946 ADEN-10647-2 Increase TrackingOptIn timeout delay
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change

#945 ADEN-10731 Bug fixes for ucp-mobile: tracking, skin name, vm ad unit
  platforms/shared/tracking/data-warehouse.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp-mobile/ucp-mobile-ioc-setup.ts
Labels: Patch change

#855 [ADEN-10380] Futhead & Muthead: Templates 2.0
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/futhead/styles.scss
  platforms/futhead/templates/bfaa-template.ts
  platforms/futhead/templates/bfab-template.ts
  platforms/futhead/templates/configs/register-futhead-uap-dom-elements.ts
  platforms/futhead/templates/futhead-templates.setup.ts
  platforms/futhead/templates/handlers/bfaa/bfaa-futhead-config-handler.ts
  platforms/futhead/templates/handlers/logo-replacement/logo-replacement-futhead-handler.ts
  platforms/futhead/templates/logo-replacement-template.ts
  platforms/futhead/templates/logo-replacement/logo-replacement-futhead-template.ts
  platforms/muthead/fallback-config.json
  platforms/muthead/styles.scss
  platforms/muthead/templates/bfaa-template.ts
  platforms/muthead/templates/bfab-template.ts
  platforms/muthead/templates/configs/register-muthead-uap-dom-elements.ts
  platforms/muthead/templates/handlers/bfaa/bfaa-muthead-config-handler.ts
  platforms/muthead/templates/handlers/logo-replacement/logo-replacement-muthead-handler.ts
  platforms/muthead/templates/logo-replacement-template.ts
  platforms/muthead/templates/muthead-templates.setup.ts
  platforms/shared/index.ts
  platforms/shared/sports.scss
  platforms/shared/templates-old/big-fancy-ad-above-config.ts
  platforms/shared/templates-old/big-fancy-ad-below-config.ts
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp/fallback-config.json
Labels: Minor change

#940 Turn off ads.adContext in prod mode
  src/ad-engine/ad-engine.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/debug.ts
  src/ad-engine/utils/logger.ts
Labels: Patch change

#948 ADEN-10742 | Logo Replacement 2.0
  platforms/f2/templates/handlers/logo-replacement/logo-replacement-f2-handler.ts
  platforms/futhead/styles.scss
  platforms/futhead/templates/handlers/logo-replacement/logo-replacement-futhead-handler.ts
  platforms/muthead/styles.scss
  platforms/muthead/templates/handlers/logo-replacement/logo-replacement-muthead-handler.ts
  platforms/muthead/templates/logo-replacement/logo-replacement-muthead-template.ts
  platforms/shared/templates/handlers/logo-replacement/logo-replacement-params.ts
  platforms/ucp-hydra/styles.scss
  platforms/ucp-hydra/templates/handlers/logo-replacement/logo-replacement-ucp-hydra-handler.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/handlers/logo-replacement/logo-replacement-ucp-mobile-handler.ts
  platforms/ucp/templates/handlers/logo-replacement/logo-replacement-ucp-handler.ts
  src/ad-products/styles/_mixin.scss
Labels: Minor change

#943 ADEN-10495 | Pass Permutive keys to Appnexus and Rubicon
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon-display.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  spec/ad-services/permutive/permutive.spec.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-services/permutive/index.ts
  tslint.json
Labels: Minor change

#950 ADEN-10743 Fix BFAA on infobox pages
  platforms/shared/templates/handlers/bfaa/bfaa-bootstrap-handler.ts
Labels: Patch change

#949 ADEN-10687 Fix MW warnings coming from ad-engine
  platforms/shared/index.ts
  platforms/shared/setup/wiki-context.setup.ts
  platforms/shared/utils/get-media-wiki-variable.ts
  platforms/ucp/setup/context/bill-the-lizard/ucp-bill-the-lizard.setup.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change
