Repository Wikia/ad-engine, pull requests merged in 2020-11, with the labels that each got.

#920 ADEN-10679 Fix LiveRamp events
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/live-ramp/live-ramp.ts
Labels: Patch change

#921 ADEN-10556 | ats.js
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  spec/ad-bidders/prebid/ats/ats.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/ats/index.ts
  src/ad-bidders/prebid/index.ts
Labels: Minor change

#925 ADEN-10452 Adding UAP template to New Mobile Experience
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-template.ts
  platforms/ucp-mobile/templates/bfab-template.ts
  platforms/ucp-mobile/templates/configs/register-ucp-mobile-uap-dom-elements.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.service.ts
Labels: Minor change

#927 ADEN-10666 remove old gamepedia platform
  README.md
  package.json
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/fallback-config.json
  platforms/gamepedia/gamepedia-ioc-setup.ts
  platforms/gamepedia/gamepedia-platform.ts
  platforms/gamepedia/index.ts
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/gamepedia/modes/gamepedia-no-ads.mode.ts
  platforms/gamepedia/setup/context/base/gamepedia-base-context.setup.ts
  platforms/gamepedia/setup/context/targeting/gamepedia-targeting.setup.ts
  platforms/gamepedia/setup/dynamic-slots/gamepedia-dynamic-slots.setup.ts
  platforms/gamepedia/setup/templates/gamepedia-templates.setup.ts
  platforms/gamepedia/styles.scss
  platforms/gamepedia/templates/big-fancy-ad-above-config-desktop.ts
  platforms/gamepedia/templates/big-fancy-ad-above-config-mobile.ts
  platforms/gamepedia/templates/hide-all-ad-slots.ts
  platforms/gamepedia/templates/logo-replacement/logo-replacement-gamepedia-template.ts
  platforms/gamepedia/templates/porvata-config.ts
  platforms/gamepedia/templates/roadblock-config.ts
  platforms/gamepedia/tsconfig.json
  platforms/gamepedia/utils/edit-mode-manager.ts
  platforms/gamepedia/utils/media-wiki-wrapper.ts
  platforms/gamepedia/utils/visual-editor-events.ts
  platforms/platforms.json
Labels: Minor change

#929 ADEN-10693 Adding Logo Replacement template to UAX mobile
  platforms/ucp-mobile/templates/handlers/logo-replacement/logo-replacement-ucp-mobile-handler.ts
  platforms/ucp-mobile/templates/logo-replacement-template.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.service.ts
Labels: Minor change

#838 ADEN-10317 Implement WatchingThat plugin for JWPlayer
  @types/window/index.d.ts
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp/ad-context.ts
  platforms/ucp/fallback-config.json
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/ad-products/video/jwplayer/watching-that/index.ts
Labels: Minor change

#926 ADEN-10695 Fix background for mobile BFAB in resolved state
  platforms/shared/templates/handlers/bfab/bfab-bootstrap-handler.ts
  src/ad-products/templates/uap/big-fancy-ad-below.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
Labels: Bug, Patch change

#931 ADEN-10651 | UCP-mobile: Roadblock
  platforms/ucp-mobile/templates/roadblock-template.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.service.ts
Labels: Minor change

#930 ADEN-10463 Adding missing tracking adengpageprops events
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-mobile/ad-context.ts
Labels: Minor change

#928 ADEN-8879 add adContext and debug properties to window.ads
  @types/ads/index.d.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/services/context-service.ts
Labels: Minor change

#933 ADEN-10453 Reimplementing tracking services for UAX mobile
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Minor change

#935 ADEN-10704 Enable WatchingThat on mobile
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
Labels: Minor change

#934 ADEN-10686 rotator interval change
  platforms/shared/setup/base-context.setup.ts
  src/ad-products/utils/fmr-rotator.ts
Labels: Minor change

#937 ADEN-10691 Reimplement FORCE_COLLAPSE scenario in HiVi_Leaderboard logic
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-hydra/styles.scss
  platforms/ucp-minerva/setup/dynamic-slots/minerva-dynamic-slots-setup.ts
  platforms/ucp-minerva/styles.scss
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Minor change

#939 ADEN-10730 Fix floor adhesion vs outstream and mobile-app param
  platforms/shared/templates/handlers/floor-adhesion/floor-adhesion-bootstrap-handler.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
Labels: Patch change
