Repository Wikia/ad-engine, pull requests merged in 2020-09, with the labels that each got.

#891 ADEN-10544 Override boxad sizes when SafeFanTakeover is loaded
  platforms/ucp/ad-context.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-element.ts
Labels: Minor change

#892 [ADEN-10571] BingeBot: update correlator value before new view rendered
  platforms/bingebot/bingebot-platform.ts
  platforms/bingebot/setup-bingebot.ts
  platforms/bingebot/setup/context/targeting/bingebot-targeting.setup.ts
  platforms/bingebot/setup/dynamic-slots/bingebot-dynamic-slots.setup.ts
  platforms/bingebot/setup/hooks/bingebot-before-view-change-setup.ts
  platforms/bingebot/setup/hooks/bingebot-view-rendered-setup.ts
  platforms/bingebot/templates/bingebot-templates.setup.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#893 ADEN-10564 Setup slot tracking and update tracking info after each "view rendered" message
  platforms/bingebot/bingebot-ioc-setup.ts
  platforms/bingebot/bingebot-platform.ts
  platforms/bingebot/setup-bingebot.ts
  platforms/bingebot/setup/context/tracking/bingebot-tracking.setup.ts
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-mercury/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp/fallback-config.json
Labels: Minor change

#895 ADEN-10429 Add A9 to hivi_leaderboard @ UCP
  platforms/ucp/setup/context/a9/a9.ts
Labels: Patch change

#897 ADEN-10549 Adding affiliate_slot for IntentX contextual widget
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/templates/roadblock-template.ts
Labels: Enhancement, Minor change

#896 Create intervention tracker
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/tracking/index.ts
  src/ad-engine/tracking/intervention-tracker.ts
  src/ad-tracking/slot-tracker.ts
Labels: Minor change

#898 [ADEN-10564] Get pvNumber and pvUID from context
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#899 ADEN-10602 Use post-quecast-settings in communicator
  src/communication/communication-service.ts
  src/communication/redux-devtools.ts
Labels: Patch change

#900 GPUCP-471 | Fix hiding advertisements for all Hydra skins.
  platforms/gamepedia/styles.scss
Labels: Patch change
