Repository Wikia/ad-engine, pull requests merged in 2020-05, with the labels that each got.

#766 ADEN-10153 Enable footer_boxad on ucp-hydra
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-minerva/ad-context.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-minerva/setup/context/slots/minerva-slots-context-setup.ts
  platforms/ucp-minerva/setup/state/slots/minerva-slots-state-setup.ts
  platforms/ucp-minerva/styles.scss
  platforms/ucp/fallback-config.json
Labels: Patch change

#762 ADEN-10179 | Add IAS PO to platforms
  platforms/futhead/ad-context.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/muthead/ad-context.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/ad-context.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#767 [ADEN-10164] ucp-hydra: top boxad
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-hydra/setup/state/slots/hydra-slots-state-setup.ts
  platforms/ucp-hydra/styles.scss
Labels: Patch change

#768 ADEN-10087 | Insert ICP only if applicable (UCP)
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Patch change

#770 ADEN-10204 Dispatch event when recirculation is swapped because of IC…
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#772 Revert "ADEN-10204 Dispatch event when recirculation is swapped becau…
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#769 [ADEN-10165] ucp-hydra: incontent boxad
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-hydra/setup/state/slots/hydra-slots-state-setup.ts
Labels: Patch change

#773 ADEN-10204 Dispatch event when icFloatingMedrecRecirculationDisabled causes the Popular Pages to hide.
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#774 [ADEN-10221] sticky TLB: disable if wrong ICBM value
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  src/ad-products/templates/sticky-base.ts
Labels: Patch change

#771 ADEN-10008 Enable and call vcr model on UCP
  platforms/futhead/setup-futhead-ioc.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/shared/index.ts
  platforms/shared/platform-startup.ts
  platforms/shared/setup/_bill-the-lizard.setup.ts
  platforms/shared/setup/_tracking.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-minerva/setup-minerva-ioc.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/bill-the-lizard/bill-the-lizard.setup.ts
Labels: Patch change

#776 [ADEN-10237] ucp-hydra: fix top boxad config
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
Labels: Patch change

#777 ADEN-10239 Adding Labrador keyvals to GAM queries on platforms
  platforms/shared/platform-startup.ts
  platforms/shared/setup/_labrador.setup.ts
Labels: Enhancement, Minor change

#778 ADEN-10243 | Add text-align: center to #top_leaderboard on UCP.
  platforms/ucp/styles.scss
Labels: Patch change

#780 ADEN-9797 Add option in MessageBus to filter messages by origin.
  platforms/shared/tracking/tracking.setup.ts
  spec/ad-engine/services/message-bus.spec.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/message-bus.ts
  src/ad-tracking/postmessage-tracker.ts
Labels: Minor change

#784 ADEN-10224 | Add Facebook pixel integration
  .prettierignore
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-services/facebook-pixel/facebook-pixel.spec.ts
  src/ad-services/facebook-pixel/facebook-pixel-script.ts
  src/ad-services/facebook-pixel/index.ts
  src/ad-services/index.ts
Labels: Minor change

#781 ADEN-10178 Add IHI Products
  platforms/shared/index.ts
  platforms/shared/styles/index.scss
  platforms/shared/styles/out-of-page/_floor-adhesion.scss
  platforms/shared/styles/out-of-page/_interstitial.scss
  platforms/shared/styles/out-of-page/_out-of-page-template.scss
  platforms/shared/templates/handlers/close-to-hidden-ihi-button-handler.ts
  platforms/shared/templates/handlers/floor-adhesion/floor-adhesion-bootstrap-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-bootstrap-handler.ts
  platforms/shared/templates/handlers/prevent-scrolling-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-on-viewability-handler.ts
  platforms/shared/templates/handlers/slot/slot-transition-ihi-handler.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/templates/floor-adhesion-template.ts
  platforms/ucp/templates/interstitial-template.ts
  platforms/ucp/templates/ucp-templates.setup.ts
Labels: Minor change

#783 ADEM-10252 Use "tracking-opt-in-transition-status" cookie for opt_in …
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Minor change

#788 ADEN-10256 | Make IAS GDPR/CCPA/COPPA compliant
  @types/ads/index.d.ts
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
  platforms/gamepedia/setup/context/targeting/gamepedia-targeting.setup.ts
  platforms/muthead/setup/targeting/muthead-targeting.setup.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  spec/ad-services/ias-publisher-optimization/ias-publisher-optimization.spec.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#782 ADEN-10241 A9 video bids refreshing
  src/ad-bidders/a9/index.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change

#775 ADEN-10141 Migrate F2
  platforms/f2/ad-context.ts
  platforms/f2/fallback-config.json
  platforms/f2/index.ts
  platforms/f2/modes/f2-ads.mode.ts
  platforms/f2/setup-f2-ioc.ts
  platforms/f2/setup-f2.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/f2/setup/context/targeting/f2-targeting.setup.ts
  platforms/f2/setup/f2-base-context.setup.ts
  platforms/f2/setup/state/slots/f2-slots-state-setup.ts
  platforms/f2/styles.scss
  platforms/f2/tsconfig.json
  platforms/f2/utils/f2-src-adapter.ts
  platforms/f2/utils/f2-state-binder.ts
  platforms/f2/utils/f2-state.ts
  platforms/futhead/setup-futhead-ioc.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/platforms.json
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/tslint.json
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-minerva/setup-minerva-ioc.ts
  platforms/ucp/setup-ucp-ioc.ts
  src/ad-tracking/bidder-tracker.ts
  src/ad-tracking/postmessage-tracker.ts
  src/ad-tracking/slot-tracker.ts
  src/ad-tracking/viewability-tracker.ts
Labels: Minor change

#786 ADEN-10257 Add IAS Brand Safety key-vals
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#787 ADEN-10068 Update post-quecast
  package-lock.json
  package.json
Labels: Patch change

#792 ADEN-10224 Update FB id
  src/ad-services/facebook-pixel/facebook-pixel-script.ts
Labels: Minor change

#789 [ADEN-10259] Logo Replacement Template
  platforms/ucp/templates/ucp-templates.setup.ts
  src/ad-engine/services/events.ts
  src/ad-products/templates/index.ts
  src/ad-products/templates/logo-replacement.ts
Labels: Minor change

#798 ADEN-10285 Rollback post-quecast
  package-lock.json
  package.json
Labels: Patch change

#793 ADEN-10214 Remove not used key-vals and change likhoService methods
  examples/context.ts
  examples/services/likho/script.ts
  platforms/f2/setup/context/targeting/f2-targeting.setup.ts
  platforms/shared/templates/helpers/player-registry.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/bidders/prebid/wikia-video.ts
  spec/ad-products/video/porvata4/plugins/porvata-settings.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/models/targeting.ts
  src/ad-engine/services/likho.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/porvata.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Major change

#794 ADEN-10270 Lazy load slots when UAP
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/events.ts
Labels: Patch change

#795 [ADEN-10266] ucp-minerva: collapse top boxad
  platforms/ucp-minerva/setup/context/slots/minerva-slots-context-setup.ts
  platforms/ucp-minerva/setup/dynamic-slots/minerva-dynamic-slots-setup.ts
  platforms/ucp-minerva/styles.scss
Labels: Patch change

#801 ADEN-10294 Repaint UAP HiVi thumbnail
  src/ad-products/templates/interface/video/replay-overlay.ts
Labels: Patch change

#791 ADEN-10272 Use TCF v2 decision in GAM calls
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Minor change

#790 ADEN-10271 Fix Blockthrough + 50/50 experiment recirculation disabled
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#804 add bfab video fix
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
Labels: Patch change

#805 ADEN-10263 Fix incontent_player tracking
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
Labels: Patch change

#806 ADEN-10296 Load Identity Library before bids request
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-bidders/prebid/identity-library/identity-library.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/identity-library/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-services/identity-library/index.ts
  src/ad-services/index.ts
Labels: Major change

#802 ADEN-10268 Add tab_id tracking to Hydra and Minerva
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
Labels: Minor change

#808 ADEN-10274 Add porvata 3 styles to UCP
  platforms/ucp/styles.scss
  src/ad-products/styles/_porvata.scss
Labels: Patch change
