Repository Wikia/ad-engine, pull requests merged in 2020-02, with the labels that each got.

#650 fix example pages
  examples/services/confiant/script.ts
  examples/services/likho/script.ts
  examples/slots/safe-frame/script.ts
  examples/templates/abcd/script.ts
  examples/templates/floating-rail/script.ts
  examples/templates/floor-adhesion/script.ts
  examples/templates/hide-on-viewability/script.ts
  examples/templates/hivi-uap-ab/script.ts
  examples/templates/hivi-uap-ctp/script.ts
  examples/templates/hivi-uap-stickiness-not-allowed/script.ts
  examples/templates/hivi-uap-sticky-bfab/script.ts
  examples/templates/interstitial/script.ts
  examples/templates/uap-roadblock/script.ts
  examples/templates/vuap/script.ts
Labels: Patch change

#643 ADEN-9796 | Add additional fields to permutive schema
  src/ad-services/permutive/index.ts
Labels: Minor change

#640 ADEN-9770 Remove krux
  @types/krux/index.d.ts
  @types/window/index.d.ts
  README.md
  examples/context.ts
  examples/services/krux/index.html
  examples/services/krux/script.ts
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp/ad-context.ts
  platforms/ucp/fallback-config.json
  spec/ad-services/krux/krux.spec.ts
  src/ad-services/index.ts
  src/ad-services/krux/index.ts
  tests/common/query-strings.js
  tests/pages/krux.page.js
  tests/specs/services/krux.desktop.test.js
  tslint.json
Labels: Major change

#649 ADEN-9886 Review Tracking
  @types/media-wiki/index.d.ts
  @types/window/index.d.ts
  platforms/gamepedia/@types/window/index.d.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/gamepedia/setup/context/targeting/gamepedia-targeting.setup.ts
  platforms/gamepedia/setup/context/wiki/gamepedia-wiki-context.setup.ts
  platforms/gamepedia/setup/dynamic-slots/gamepedia-dynamic-slots.setup.ts
  platforms/gamepedia/tsconfig.json
  platforms/shared/setup/_wiki-context.setup.ts
  platforms/shared/tracking/data-warehouse.ts
  platforms/ucp/@types/window/index.d.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  platforms/ucp/setup/context/wiki/ucp-wiki-context.setup.ts
  webpack.common.js
Labels: Major change

#654 ADEN-9893 | Add age to Permutive schema
  src/ad-services/permutive/index.ts
Labels: Patch change

#651 ADEN-9859 Add rollout_tracking parameter to slot tracking
  platforms/ucp/ad-context.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Minor change

#652 ADEN-9899 | Set permutive targeting value later
  src/ad-engine/video/vast-url-builder.ts
  src/ad-services/permutive/index.ts
Labels: Minor change

#653 ADEN-9601-2 Adding slot_id to adengadinfo tracking
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/tracking/slot-properties-tracking-middleware.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
Labels: Minor change

#659 ADEN Add missing s0v and s0c
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
Labels: Patch change

#641 ADEN-9741 Porvata 4.0
  .prettierignore
  examples/context.ts
  examples/video/porvata/index.html
  examples/video/porvata/porvata.css
  examples/video/porvata/script.ts
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp/fallback-config.json
  spec/ad-products/video/porvata4/plugins/ias/ias-video-tracker.spec.ts
  spec/ad-products/video/porvata4/plugins/moat/moat-video-tracker.spec.ts
  spec/ad-products/video/porvata4/plugins/porvata-settings.spec.ts
  src/ad-engine/utils/flow-control.ts
  src/ad-products/index.ts
  src/ad-products/styles/_porvata.scss
  src/ad-products/templates/interface/video/dynamic-reveal.ts
  src/ad-products/templates/interface/video/floating.ts
  src/ad-products/templates/interface/video/video-interface.ts
  src/ad-products/templates/interface/video/volume-control.ts
  src/ad-products/templates/outstream/porvata-template.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/video/player/porvata/porvata-listener.ts
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/google-ima-wrapper.ts
  src/ad-products/video/porvata4/native-fullscreen.ts
  src/ad-products/video/porvata4/plugins/ias/ias-video-tracker.ts
  src/ad-products/video/porvata4/plugins/moat/moat-video-tracker-script.ts
  src/ad-products/video/porvata4/plugins/moat/moat-video-tracker.ts
  src/ad-products/video/porvata4/plugins/porvata-plugin.ts
  src/ad-products/video/porvata4/porvata-dom.ts
  src/ad-products/video/porvata4/porvata-factory.ts
  src/ad-products/video/porvata4/porvata-player.ts
  src/ad-products/video/porvata4/porvata-settings.ts
  src/ad-products/video/porvata4/porvata.ts
Labels: Minor change

#655 ADEN-9836 Get rid of wgAdDriver variables
  platforms/shared/setup/_base-context.setup.ts
  spec/ad-services/instant-config/instant-config.overrider.spec.ts
  spec/ad-services/instant-config/instant-config.service.spec.ts
  src/ad-services/instant-config/instant-config.overrider.ts
  src/ad-services/instant-config/instant-config.service.ts
Labels: Major change

#660 ADEN-9934 Fix ad start with sound and it's killed by Chrome AudioContext
  src/ad-products/styles/_porvata.scss
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/porvata.ts
Labels: Patch change

#662 ADEN-9559 Add Templates 2.0
  .gitignore
  examples/templates/template-registry-demo/first-mock-handler.ts
  examples/templates/template-registry-demo/index.html
  examples/templates/template-registry-demo/script.ts
  examples/templates/template-registry-demo/second-mock-handler.ts
  package-lock.json
  package.json
  spec/ad-engine/services/templates-registry/template-dependencies-manager.spec.ts
  spec/ad-engine/services/templates-registry/template-machine.spec.ts
  spec/ad-engine/services/templates-registry/template-registry.spec.ts
  spec/ad-engine/services/templates-registry/template-state-handler.spy.ts
  spec/ad-engine/services/templates-registry/template-state-handler.stub.ts
  spec/ad-engine/services/templates-registry/template-state.spec.ts
  spec/ad-engine/services/templates-registry/template-state.stub.ts
  src/ad-engine/models/dictionary.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/templates-registry/template-dependencies-manager.ts
  src/ad-engine/services/templates-registry/template-machine.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-engine/services/templates-registry/template-state-handler.ts
  src/ad-engine/services/templates-registry/template-state-transition.ts
  src/ad-engine/services/templates-registry/template-state.ts
  src/ad-engine/services/templates-registry/template-symbols.ts
  src/ad-engine/utils/flow-control.ts
  tsconfig.json
Labels: Minor change

#664 ADEN-9761 Cleanup Prebid 3.0 transition
  examples/bidders/prebid/script.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/services/pbjs-factory.ts
Labels: Minor change

#666 ADEN-9902 Fix code prio with wikia video
  @types/ads/index.d.ts
  @types/window/index.d.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
Labels: Minor change

#667 ADEN-9920 Add UAP to UCP
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/styles/_advertisement-label.scss
  platforms/ucp/styles/_button-close.scss
  platforms/ucp/styles/_navbar.scss
  platforms/ucp/templates/bfaa-template.ts
  platforms/ucp/templates/handlers/advertisement-label-handler.ts
  platforms/ucp/templates/handlers/bfaa-bootstrap-handler.ts
  platforms/ucp/templates/handlers/bfaa-config-handler.ts
  platforms/ucp/templates/handlers/bfaa-impact-handler.ts
  platforms/ucp/templates/handlers/bfaa-resolved-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-duration-handler.ts
  platforms/ucp/templates/handlers/bfaa-sticky-handler.ts
  platforms/ucp/templates/handlers/bfaa-transition-handler.ts
  platforms/ucp/templates/handlers/close-button-handler.ts
  platforms/ucp/templates/handlers/debug-transition-handler.ts
  platforms/ucp/templates/helpers/bfaa-helper.ts
  platforms/ucp/templates/helpers/calculate-ad-height.ts
  platforms/ucp/templates/ucp-templates.setup.ts
  spec/ad-engine/services/templates-registry/template-machine.spec.ts
  src/ad-engine/index.ts
  src/ad-engine/listeners/index.ts
  src/ad-engine/listeners/rxjs-dom-listener.ts
  src/ad-engine/listeners/scroll-listener.ts
  src/ad-engine/models/index.ts
  src/ad-engine/models/symbols.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/slot-tweaker.ts
  src/ad-engine/services/template-service.ts
  src/ad-engine/services/templates-registry/template-action.ts
  src/ad-engine/services/templates-registry/template-logger.ts
  src/ad-engine/services/templates-registry/template-machine.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-engine/services/templates-registry/template-state-transition.ts
  src/ad-engine/services/templates-registry/template-state.ts
  src/ad-engine/utils/manipulators/dom-manipulator.ts
  src/ad-engine/utils/manipulators/element-manipulator.ts
  src/ad-products/styles/_uap-variables.scss
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/index.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/resolved-state.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
Labels: Minor change

#668 ADEN-9922 Add UCP Bfaa tracking
  platforms/ucp/styles.scss
  platforms/ucp/templates/handlers/bfaa-sticky-duration-handler.ts
  platforms/ucp/templates/handlers/close-button-handler.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Minor change

#669 ADEN-9921
  platforms/ucp/styles.scss
  platforms/ucp/templates/bfab-template.ts
  platforms/ucp/templates/handlers/bfaa-config-handler.ts
  platforms/ucp/templates/handlers/bfab-bootstrap-handler.ts
  platforms/ucp/templates/handlers/bfab-impact-handler.ts
  platforms/ucp/templates/handlers/bfab-resolved-handler.ts
  platforms/ucp/templates/helpers/bfab-helper.ts
  platforms/ucp/templates/ucp-templates.setup.ts
Labels: Minor change

#674 ADEN-9679 Reimplement MOAT and IAS tracking
  platforms/shared/setup/_base-context.setup.ts
Labels: Minor change

#673 ADEN-9970 Enable VPAIDs for Verizon Media adapter
  src/ad-bidders/prebid/adapters/one-video.ts
Labels: Minor change
