Repository Wikia/ad-engine, pull requests merged in 2020-07, with the labels that each got.

#837 ADEN-10174 Adding player ad info cache in case of video errors
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-tracking-helper.ts
  src/ad-products/video/player/porvata/porvata-listener.ts
Labels: Minor change

#841 Revert "ADEN-10174 Adding player ad info cache in case of video error…
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-tracking-helper.ts
  src/ad-products/video/player/porvata/porvata-listener.ts
Labels: Patch change

#842 Revert "Revert "ADEN-10174 Adding player ad info cache in case of video error…"
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-tracking-helper.ts
  src/ad-products/video/player/porvata/porvata-listener.ts
Labels: Minor change

#843 ADEN-10386 Fix gdpr undefined error
  platforms/shared/bootstrap.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change

#827 ADEN-10350 Implement rest of F2
  platforms/f2/f2.actions.ts
  platforms/f2/modes/f2-ads.mode.ts
  platforms/f2/setup-f2-ioc.ts
  platforms/f2/setup-f2.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/setup/dynamic-slots/f2-feed-boxad-stickiness.ts
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/f2/setup/f2-base-context.setup.ts
  platforms/f2/setup/state/slots/f2-slots-state-setup.ts
  platforms/f2/styles.scss
  platforms/f2/styles/feed-bottom-boxad.scss
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/shared/index.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/shared/platform-startup.ts
  platforms/shared/services/no-ads-detector.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  spec/ad-engine/services/slot-creator.spec.ts
  spec/ad-engine/services/slot-injector.spec.ts
  spec/spec-utils/html-element.stub.ts
  src/ad-engine/index.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/models/dictionary.ts
  src/ad-engine/services/slot-creator.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/utils/dimensions.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#845 ADEN-10391 Add slot_id to adengviewability DW events
  spec/ad-engine/tracking/viewability-properties-tracking-middleware.spec.ts
  src/ad-engine/tracking/viewability-properties-tracking-middleware.ts
Labels: Minor change

#844 ADEN-10393 Add ProcessPipeline
  spec/ad-engine/pipeline/imps/di-pipeline.spec.ts
  spec/ad-engine/pipeline/imps/process-pipeline/compound-processes/conditional-process.spec.ts
  spec/ad-engine/pipeline/imps/process-pipeline/compound-processes/parallel-process.spec.ts
  spec/ad-engine/pipeline/imps/process-pipeline/compound-processes/sequential-process.spec.ts
  spec/ad-engine/pipeline/imps/process-pipeline/process-pipeline.spec.ts
  src/ad-engine/index.ts
  src/ad-engine/pipeline/imps/di-pipeline.ts
  src/ad-engine/pipeline/imps/process-pipeline/compound-processes/conditional-process.ts
  src/ad-engine/pipeline/imps/process-pipeline/compound-processes/parallel-process.ts
  src/ad-engine/pipeline/imps/process-pipeline/compound-processes/sequential-process.ts
  src/ad-engine/pipeline/imps/process-pipeline/process-pipeline-types.ts
  src/ad-engine/pipeline/imps/process-pipeline/process-pipeline.ts
  src/ad-engine/pipeline/imps/universal-pipeline.ts
Labels: Minor change

#848 ADEN-10407 Make slots NOT hidden by default
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  spec/ad-engine/services/slot-creator.spec.ts
  src/ad-engine/services/slot-creator.ts
Labels: Patch change

#849 ADEN-10392 Change slotDataParamsUpdater.updateOnCreate interface
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-data-params-updater.ts
Labels: Major change

#847 ADEN-10377 | Add Audigent service
  @types/window/index.d.ts
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-services/audigent/index.ts
  src/ad-services/index.ts
Labels: Minor change

#852 Silent SlotCreator error
  src/ad-engine/services/slot-injector.ts
Labels: Patch change

#853 ADEN-10417 Add pagesWithNoAds support to Gamepedia
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/gamepedia/setup/context/base/gamepedia-base-context.setup.ts
Labels: Minor change

#799 Use Fandom CDN to load tracking-opt-in
  examples/bidders/prebid/script.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  src/ad-engine/services/pbjs-factory.ts
Labels: Patch change

#857 ADEN-10444 Fix UAP video AdUnit
  platforms/shared/templates/handlers/video/video-bootstrap-handler.ts
Labels: Patch change

#850 ADEN-10382 Finish first call when there is no tlb and call feed boxad stickiness…
  package-lock.json
  package.json
  platforms/f2/ad-context.ts
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/f2/templates/sticky-tlb-template.ts
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
Labels: Patch change

#858 ADEN-10427 Remove porvata vastTargeting
  platforms/shared/context/slots/curse-slots-context-setup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/porvata.ts
Labels: Patch change

#860 ADEN-9154 Disable ads on wikia.org
  platforms/f2/setup/f2-base-context.setup.ts
Labels: Patch change

#859 ADEN-10469 Second call slots with src=uap when SafeFanTakeover is loaded
  src/ad-engine/services/slot-service.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
Labels: Minor change

#862 ADEN-10462 | Call Audigent on platforms
  platforms/f2/modes/f2-ads.mode.ts
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  src/ad-services/audigent/index.ts
Labels: Minor change

#864 ADEN-10476 Fix F2 UAP
  platforms/f2/setup-f2-ioc.ts
  platforms/f2/styles.scss
Labels: Patch change

#861 ADEN-10403 Add comscore jwp tracking
  examples/video/jwplayer/index.html
  examples/video/jwplayer/script.ts
  platforms/shared/setup/_base-context.setup.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-comscore-handler.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-tracking-handler.ts
  src/ad-products/video/jwplayer/helpers/player-ready-result.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
Labels: Minor change

#863 ADEN-10442 | Remove IX Identity Library code
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  spec/ad-bidders/prebid/identity-library/identity-library.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/identity-library/index.ts
  src/ad-bidders/prebid/index.ts
Labels: Major change

#865 Add deprecation warning
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change
