Repository Wikia/ad-engine, pull requests merged in 2020-10, with the labels that each got.

#902 [ADEN-10464] Gamepedia and Sports: remove OpenX integration
  platforms/futhead/bidders/prebid/openx.ts
  platforms/futhead/setup/context/prebid/futhead-prebid-config.setup.ts
  platforms/muthead/bidders/prebid/openx.ts
  platforms/muthead/setup/context/prebid/muthead-prebid-config.setup.ts
  platforms/shared/bidders/gamepedia/openx.ts
  platforms/shared/context/prebid/gamepedia-prebid-context-setup.ts
Labels: Minor change

#903 ADEN-10315 Handle video ads in IAS PO
  @types/ias-publisher-optimization/index.d.ts
  platforms/f2/ad-context.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/ucp-mercury/ad-context.ts
  platforms/ucp/ad-context.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#905 [ADEN-10610] Legal disclaimer for affiliate slot
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/templates/affiliate-disclaimer-template.ts
  platforms/ucp/templates/handlers/affiliate-disclaimer/affiliate-disclaimer-ucp-handler.ts
  platforms/ucp/templates/ucp-templates.setup.ts
  src/ad-products/styles/styles.scss
  src/ad-products/templates/affiliate-disclaimer.ts
  src/ad-products/templates/index.ts
Labels: Minor change

#904 ADEN-10604 Removing TCFv1.1 integration
  @types/cmp/index.d.ts
  @types/window/index.d.ts
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  package-lock.json
  package.json
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/setup/base-context.setup.ts
  spec/ad-engine/providers/gpt-provider.spec.ts
  spec/ad-engine/video/vast-url-builder.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/a9/types.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/video/vast-url-builder.ts
  src/ad-engine/wrappers/cmp.ts
  src/ad-engine/wrappers/index.ts
  src/ad-products/utils/index.ts
  src/ad-products/utils/tcf.ts
Labels: Enhancement, Major change

#906 GPUCP-600 | Always prepend the ATF to the top of the siderail.
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
Labels: Minor change

#908 ADEN-10637 Fix GamepediaBaseContextSetup on GP
  platforms/gamepedia/gamepedia-platform.ts
Labels: Patch change

#901 ADEN-10450 Outstream, floor-adhesion and interstitial on mobile-wiki
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/index.ts
  platforms/shared/templates/floor-adhesion-template.ts
  platforms/shared/templates/handlers/floor-adhesion/floor-adhesion-bootstrap-handler.ts
  platforms/shared/templates/interstitial-template.ts
  platforms/ucp-mercury/setup/context/slots/ucp-mercury-slots-context.setup.ts
  platforms/ucp-mercury/setup/dynamic-slots/ucp-mercury-dynamic-slots.setup.ts
  platforms/ucp-mercury/setup/dynamic-slots/ucp-mercury-slots-definition-repository.ts
  platforms/ucp-mercury/templates/configs/outstream-config.ts
  platforms/ucp-mercury/templates/ucp-mercury-templates-setup.service.ts
  platforms/ucp-mercury/ucp-mercury-platform.ts
  platforms/ucp/templates/floor-adhesion-template.ts
  platforms/ucp/templates/interstitial-template.ts
  platforms/ucp/templates/ucp-templates.setup.ts
  src/ad-engine/listeners/scroll-listener.ts
Labels: Minor change

#912 ADEN-10647 Increasing TrackingOptIn library load timeout
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Bug, Patch change

#907 ADEN-10455 Setup bidders context and call bidders on mobile-wiki
  platforms/ucp-mercury/ad-context.ts
  platforms/ucp-mercury/bidders/prebid/accross.ts
  platforms/ucp-mercury/bidders/prebid/aol.ts
  platforms/ucp-mercury/bidders/prebid/appnexus-ast.ts
  platforms/ucp-mercury/bidders/prebid/appnexus.ts
  platforms/ucp-mercury/bidders/prebid/beachfront.ts
  platforms/ucp-mercury/bidders/prebid/gumgum.ts
  platforms/ucp-mercury/bidders/prebid/index-exchange.ts
  platforms/ucp-mercury/bidders/prebid/kargo.ts
  platforms/ucp-mercury/bidders/prebid/nobid.ts
  platforms/ucp-mercury/bidders/prebid/one-mobile.ts
  platforms/ucp-mercury/bidders/prebid/one-video.ts
  platforms/ucp-mercury/bidders/prebid/openx.ts
  platforms/ucp-mercury/bidders/prebid/pubmatic.ts
  platforms/ucp-mercury/bidders/prebid/rubicon-display.ts
  platforms/ucp-mercury/bidders/prebid/rubicon.ts
  platforms/ucp-mercury/bidders/prebid/telaria.ts
  platforms/ucp-mercury/bidders/prebid/triplelift.ts
  platforms/ucp-mercury/bidders/prebid/wikia-video.ts
  platforms/ucp-mercury/bidders/prebid/wikia.ts
  platforms/ucp-mercury/modes/ucp-mercury-ads.mode.ts
  platforms/ucp-mercury/setup/context/a9/ucp-mercury-a9-config.setup.ts
  platforms/ucp-mercury/setup/context/prebid/ucp-mercury-prebid-config.setup.ts
  platforms/ucp-mercury/ucp-mercury-platform.ts
Labels: Minor change

#910 ADEN-10640 Adding Top1k wikis targeting setting
  @types/ads/index.d.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
Labels: Bug, Minor change

#913 ADEN-10657 Do not forget about tablets when styling video in UAP
  platforms/f2/styles.scss
Labels: Patch change

#911 ADEN-10628 Add Permutive to BingeBot
  platforms/bingebot/ad-context.ts
  platforms/bingebot/modes/bingebot-ads.mode.ts
  platforms/shared/setup/base-context.setup.ts
  src/ad-services/permutive/index.ts
Labels: Minor change

#914 ADEN-10660 Change the Taxonomy Service endpoint
  src/ad-services/taxonomy/taxonomy-service.loader.ts
Labels: Patch change

#916 ADEN-10429 Fix hivi_leaderboard 970x250 size for A9
  platforms/ucp/setup/context/a9/a9.ts
Labels: Patch change

#909 [ADEN-10554] Integrate LiveRamp with simple Prebid id module
  @types/pbjs/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  spec/ad-bidders/prebid/live-ramp/live-ramp.spec.ts
  spec/ad-engine/services/pbjs.stub.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/live-ramp/index.ts
  src/ad-bidders/prebid/live-ramp/live-ramp.ts
  src/ad-engine/services/pbjs-factory.ts
Labels: Minor change

#917 ADEN-10555 | Integrate ATS Analytics
  platforms/shared/setup/base-context.setup.ts
  src/ad-bidders/prebid/index.ts
Labels: Minor change

#919 ADEN-10677 Extend sizes of incontent_boxad_1
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
Labels: Patch change

#922 ADEN-10685 Fix showing ads on Main page for users with Don't show all…
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
Labels: Patch change

#918 ADEN-10662 Reintroducing all Fandom ad placements
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/index.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.service.ts
Labels: Enhancement, Minor change
