Repository Wikia/ad-engine, pull requests merged in 2020-06, with the labels that each got.

#810 ADEN-10303 Destroy all slots on navigation
  src/ad-engine/ad-engine.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-service.ts
  src/ad-products/utils/fmr-rotator.ts
Labels: Major change

#812 ADEN-10309 | Add a workaround for js-cookie 2.2.1 bug
  src/ad-engine/services/cookie-storage-adapter.ts
  src/ad-engine/services/universal-storage.ts
Labels: Patch change

#807 ADEN-9749 Configure CTP/Audio key-val in FV on UCP
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
Labels: Patch change

#811 ADEN-9882 Reimplement BAB Tracking on UCP
  src/ad-engine/services/bab-detection.ts
Labels: Minor change

#815 ADEN-10327 Inject rotating slot only if it has a parent.
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Patch change

#813 ADEN-10302 BigFancyAd* servable from SafeFrame
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp/fallback-config.json
  platforms/ucp/templates/ucp-templates.setup.ts
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/providers/prebidium-provider.spec.ts
  spec/ad-engine/utils/iframe-builder.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/prebidium-provider.ts
  src/ad-engine/services/template-service.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
  src/ad-engine/utils/iframe-builder.ts
  src/ad-products/templates/index.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-config-loader.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-element.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Major change

#814 [ADEN-10304] LogoReplacement animation
  platforms/futhead/templates/logo-replacement-template.ts
  platforms/gamepedia/templates/logo-replacement.ts
  platforms/muthead/templates/logo-replacement-template.ts
  platforms/muthead/templates/muthead-templates.setup.ts
  platforms/ucp-hydra/templates/handlers/logo-replacement/logo-replacement-handler.ts
  platforms/ucp/templates/handlers/logo-replacement/logo-replacement-handler.ts
  src/ad-products/styles/_mixin.scss
Labels: Patch change

#817 ADEN-10311 Sync BFT with SafeFanTakeover
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  spec/ad-engine/services/btf-blocker-service.spec.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
Labels: Minor change

#821 ADEN-10349 Fix runitme of null bug
  spec/ad-engine/services/btf-blocker-service.spec.ts
  src/ad-engine/services/btf-blocker-service.ts
Labels: Patch change

#819 ADEN-10313 SafeFanTakeOverElement boxads.
  src/ad-products/templates/safe-uap/safe-fan-takeover-config-loader.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-element.ts
Labels: Patch change

#818 ADEN-10305 | Remove amazon from targeting when bid expired
  src/ad-bidders/a9/index.ts
  src/ad-engine/services/events.ts
  src/ad-engine/video/vast-url-builder.ts
Labels: Minor change

#822 ADEN-10312 Use campaign-provider service
  src/ad-engine/services/template-service.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-config-loader.ts
  src/ad-products/templates/safe-uap/safe-fan-takeover-element.ts
Labels: Patch change

#824 ADEN-10356 Unstick safe fan takeover after defined timeout
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/templates/helpers/stickiness-timeout.ts
  src/ad-products/templates/safe-uap/safe-big-fancy-ad-proxy.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Patch change

#823 ADEN-10332 Refactor EventService
  configs/tslint.json
  examples/video/jwplayer/script.ts
  platforms/f2/index.ts
  platforms/f2/setup-f2.ts
  platforms/f2/templates/handlers/hide-smart-banner-handler.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/shared/platform-startup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-hydra/index.ts
  platforms/ucp-minerva/index.ts
  platforms/ucp/index.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  spec/ad-engine/models/ad-slot.spec.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  spec/communication/action.spec.ts
  spec/communication/communication-service.spec.ts
  spec/communication/global-action.spec.ts
  spec/communication/is-type.spec.ts
  spec/communication/of-type.spec.ts
  src/ad-bidders/prebid/identity-library/index.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/bab-detection.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/template-service.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/utils/fmr-rotator.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/communication/action.ts
  src/communication/communication-service.ts
  src/communication/global-action.ts
  src/communication/index.ts
  src/communication/is-type.ts
  src/communication/of-type.ts
  src/communication/redux-devtools-options.ts
  src/communication/redux-devtools.ts
  src/index.ts
  src/tsconfig.json
  src/tslint.json
Labels: Major change

#825 ADEN-10359 Fix video ads hidden behind page elements
  src/ad-products/styles/_porvata.scss
Labels: Patch change

#828 Fix package-lock.json
  package-lock.json
Labels: Patch change

#830 Aden fix package lock revert
  package-lock.json
  package.json
Labels: Patch change

#829 ADEN-10362 Add distroScale service
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/slots/slots-context.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  src/ad-services/distro-scale/index.ts
  src/ad-services/index.ts
Labels: Minor change

#832 Fix design-system dependency source
  package.json
Labels: Patch change

#831 [ADEN-9901] Pass taxonomy ad tags to page level targeting on UCP and UCP-GP
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  src/ad-services/taxonomy/taxonomy-service.loader.ts
Labels: Minor change

#826 ADEN-10353 | Track ids from IX Identity Library
  @types/window/index.d.ts
  platforms/shared/tracking/tracking.setup.ts
  src/ad-bidders/prebid/identity-library/index.ts
Labels: Minor change

#834 [ADEN-10363] 50:50 experiment clean up
  examples/slots/rotating-slots/index.html
  examples/slots/rotating-slots/script.ts
  src/ad-products/utils/fmr-rotator.ts
Labels: Minor change

#836 ADEN-10329 Update PostQuecast
  package-lock.json
  package.json
  spec/communication/communication-service.spec.ts
  src/communication/communication-service.ts
  src/communication/redux-devtools.ts
Labels: Minor change
