Repository Wikia/ad-engine, pull requests merged in 2020-04, with the labels that each got.

#647 ADEN-9822 JWPlayer Tracking Refactor
  package-lock.json
  package.json
  spec/ad-products/video/jwplayer/jwplayer.stub.ts
  spec/ad-products/video/jwplayer/streams/jwplayer-stream-state.spec.ts
  spec/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.spec.ts
  spec/ad-products/video/jwplayer/streams/jwplayer-stream.spec.ts
  src/ad-engine/models/dictionary.ts
  src/ad-products/tracking/index.ts
  src/ad-products/tracking/video/jwplayer-tracker.ts
  src/ad-products/video/jwplayer/external-types/jwplayer.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-tracking-helper.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
  src/ad-products/video/jwplayer/jwplayer-handler.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/ad-products/video/jwplayer/jwplayer-streams.ts
  src/ad-products/video/jwplayer/streams/jwplayer-events.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-state.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream.ts
Labels: Patch change

#736 ADEN-10107 Fix FV rv tracking
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/jwplayer/jwplayer-handler.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-state.ts
Labels: Patch change

#733 ADEN-9937 Dispatch A9 BIDS_RESPONSE events for tracking purposes
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/alias-helper.ts
  src/ad-bidders/prebid/index.ts
  src/ad-tracking/bidder-tracker.ts
  src/ad-tracking/bidder-tracking-middleware.ts
  src/ad-tracking/index.ts
  src/ad-tracking/tracking-bid.ts
Labels: Major change

#731 ADEN-10056 Bump @wikia/tracking-opt-in to v3.0.5.
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#735 ADEN-10004 Adding StickyTLB template to UCP
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/ucp-base-context.setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/templates/bfaa-template.ts
  platforms/ucp/templates/bfab-template.ts
  platforms/ucp/templates/handlers/close-to-hidden-button-handler.ts
  platforms/ucp/templates/handlers/close-to-transition-button-handler.ts
  platforms/ucp/templates/handlers/slot/slot-dynamic-impact-decision-handler.ts
  platforms/ucp/templates/handlers/slot/slot-dynamic-impact-handler.ts
  platforms/ucp/templates/handlers/slot/slot-hidden-handler.ts
  platforms/ucp/templates/handlers/slot/slot-resolved-handler.ts
  platforms/ucp/templates/handlers/slot/slot-static-impact-handler.ts
  platforms/ucp/templates/handlers/slot/slot-sticky-decision-handler.ts
  platforms/ucp/templates/handlers/slot/slot-sticky-handler.ts
  platforms/ucp/templates/handlers/slot/slot-transition-handler.ts
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-bootstrap-handler.ts
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-config-handler.ts
  platforms/ucp/templates/handlers/video/video-bootstrap-handler.ts
  platforms/ucp/templates/handlers/video/video-completed-handler.ts
  platforms/ucp/templates/handlers/video/video-ctp-handler.ts
  platforms/ucp/templates/handlers/video/video-dynamic-impact-handler.ts
  platforms/ucp/templates/handlers/video/video-resolved-handler.ts
  platforms/ucp/templates/handlers/video/video-restart-handler.ts
  platforms/ucp/templates/handlers/video/video-static-impact-handler.ts
  platforms/ucp/templates/handlers/video/video-sticky-handler.ts
  platforms/ucp/templates/handlers/video/video-transition-handler.ts
  platforms/ucp/templates/helpers/close-button-helper.ts
  platforms/ucp/templates/helpers/uap-dom-manager.ts
  platforms/ucp/templates/helpers/uap-dom-reader.ts
  platforms/ucp/templates/sticky-tlb-template.ts
  platforms/ucp/templates/ucp-templates.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
Labels: Minor change

#741 ADEN-10114 Disable FMR rotation if UAP is loaded
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#734 ADEN-9574 Remove Moat YI (Yield Intelligence).
  @types/moat/index.d.ts
  @types/window/index.d.ts
  examples/services/moat-yi/index.html
  examples/services/moat-yi/script.ts
  platforms/ucp/ad-context.ts
  spec/ad-services/moat-yi/moat-yi.spec.ts
  src/ad-services/index.ts
  src/ad-services/moat-yi/index.ts
  tests/common/query-strings.js
  tests/pages/moat.page.js
  tests/specs/services/moat.desktop.test.js
Labels: Minor change

#740 ADEN-10117 center all slots
  platforms/ucp/styles.scss
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-config-handler.ts
Labels: Patch change

#739 ADEN-10096 Create external and a9 loggers
  platforms/ucp/ad-context.ts
  platforms/ucp/setup/ucp-base-context.setup.ts
  src/ad-engine/services/external-logger.ts
  src/ad-engine/services/index.ts
  src/ad-products/video/jwplayer/jwplayer-a9-logger.ts
  src/ad-products/video/jwplayer/jwplayer-handler.ts
Labels: Patch change

#743 ADEN-10128 Fixing IAS undefined error
  src/ad-products/video/jwplayer/jwplayer-handler.ts
Labels: Patch change

#742 ADEN-10097 Track JWP content_error events
  src/ad-products/video/jwplayer/helpers/jwplayer-tracking-helper.ts
  src/ad-products/video/jwplayer/streams/jwplayer-events.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.ts
Labels: Patch change

#744 ADEN-10129 Move hivi_leaderboard down
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/styles/_navbar.scss
  platforms/ucp/templates/bfaa-template.ts
  platforms/ucp/templates/bfab-template.ts
  platforms/ucp/templates/handlers/bfaa/bfaa-config-handler.ts
  platforms/ucp/templates/handlers/body/body-offset-impact-handler.ts
  platforms/ucp/templates/handlers/body/body-offset-resolved-handler.ts
  platforms/ucp/templates/handlers/navbar/navbar-offset-impact-to-resolved-handler.ts
  platforms/ucp/templates/handlers/navbar/navbar-offset-resolved-handler.ts
  platforms/ucp/templates/handlers/navbar/navbar-offset-resolved-to-none-handler.ts
  platforms/ucp/templates/handlers/slot/slot-decision-impact-to-resolved-handler.ts
  platforms/ucp/templates/handlers/slot/slot-decision-timeout-handler.ts
  platforms/ucp/templates/handlers/slot/slot-dynamic-impact-handler.ts
  platforms/ucp/templates/handlers/slot/slot-offset-resolved-to-none-handler.ts
  platforms/ucp/templates/handlers/slot/slot-size-impact-handler.ts
  platforms/ucp/templates/handlers/slot/slot-size-impact-to-resolved-handler.ts
  platforms/ucp/templates/handlers/slot/slot-size-resolved-handler.ts
  platforms/ucp/templates/handlers/slot/slot-sticky-handler.ts
  platforms/ucp/templates/handlers/slot/slot-transition-handler.ts
  platforms/ucp/templates/handlers/sticky-tlb/sticky-tlb-config-handler.ts
  platforms/ucp/templates/handlers/video/video-dynamic-impact-handler.ts
  platforms/ucp/templates/handlers/video/video-size-impact-handler.ts
  platforms/ucp/templates/handlers/video/video-size-impact-to-resolved-handler.ts
  platforms/ucp/templates/handlers/video/video-size-resolved-handler.ts
  platforms/ucp/templates/handlers/video/video-sticky-handler.ts
  platforms/ucp/templates/helpers/uap-dom-manager.ts
  platforms/ucp/templates/helpers/uap-dom-reader.ts
  platforms/ucp/templates/helpers/video-dom-manager.ts
  platforms/ucp/templates/sticky-tlb-template.ts
  src/ad-engine/services/template-service.ts
  src/ad-engine/services/templates-registry/template-registry.ts
Labels: Minor change

#745 ADEN-10122 Adding disabled recirculation experiment
  examples/slots/rotating-slots/index.html
  examples/slots/rotating-slots/script.ts
  examples/styles.scss
  src/ad-products/utils/fmr-rotator.ts
Labels: Minor change

#748 ADEN-9955 Add roadblock template
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/styles.scss
  platforms/ucp/templates/handlers/roadblock/roadblock-handler.ts
  platforms/ucp/templates/handlers/roadblock/roadblock-params.ts
  platforms/ucp/templates/roadblock-template.ts
  platforms/ucp/templates/ucp-templates.setup.ts
Labels: Minor change

#749 ADEN-10050 | Add IAS PO integration
  @types/ias-publisher-optimization/index.d.ts
  @types/window/index.d.ts
  spec/ad-services/ias-publisher-optimization/ias-publisher-optimization.spec.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-services/ias-publisher-optimization/index.ts
  src/ad-services/index.ts
Labels: Minor change

#751 ADEN-10007 Adding tab tracking to UCP
  @types/window/index.d.ts
  package-lock.json
  package.json
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/ucp-base-context.setup.ts
Labels: Minor change

#752 ADEN-10096 Clear A9 bids after first video impression/error
  examples/context.ts
  examples/video/jwplayer/script.ts
  spec/ad-engine/models/ad-slot.stub.ts
  src/ad-bidders/a9/index.ts
  src/ad-engine/models/ad-slot.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#746 [ADEN-10133] IAB ads on UCP Gamepedia desktop
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-hydra/ad-engine-runner/hydra-ad-engine-runner-setup.ts
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-hydra/index.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-hydra/modes/hydra-no-ads-mode.ts
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-hydra/setup/context/targeting/hydra-targeting-setup.ts
  platforms/ucp-hydra/setup/context/wiki/hydra-wiki-context-setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-hydra/setup/hydra-base-context-setup.ts
  platforms/ucp-hydra/setup/state/slots/hydra-slots-state-setup.ts
  platforms/ucp-hydra/styles.scss
  platforms/ucp-hydra/tsconfig.json
  src/ad-engine/models/ad-slot.ts
  webpack.platforms.js
Labels: Major change

#753 ADEN-9914 | Add IndexExchange Identity Library
  platforms/gamepedia/modes/gamepedia-ads.mode.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-services/identity-library/identity-library.spec.ts
  src/ad-services/identity-library/index.ts
  src/ad-services/index.ts
Labels: Minor change

#729 ADEN-10086 remove default geo
  examples/utils/labrador-basset/index.html
  examples/utils/labrador-basset/script.ts
  platforms/shared/bootstrap.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/ensure-geo-cookie.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/utils/geo.ts
Labels: Major change

#756 ADEN-10183 Build each platform separately
  platforms/platforms.json
  webpack.platforms.js
Labels: Patch change

#754 ADEN-10162 Unify UCP
  platforms/futhead/ad-engine-runner/futhead-ad-engine-runner.setup.ts
  platforms/futhead/setup-futhead-ioc.ts
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
  platforms/gamepedia/ad-engine-runner/gamepedia-ad-engine-runner.setup.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/muthead/ad-engine-runner/muthead-ad-engine-runner.setup.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/muthead/setup/targeting/muthead-targeting.setup.ts
  platforms/shared/ad-engine-runner/configure-slots-targeting.ts
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/context/wiki/ucp-wiki-context.setup.ts
  platforms/shared/index.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/shared/setup/_ad-engine-runner.setup.ts
  platforms/shared/tracking/common-tracking.setup.ts
  platforms/shared/tracking/data-warehouse.ts
  platforms/shared/tracking/page-tracker.ts
  platforms/shared/utils/get-sports-page-type.ts
  platforms/ucp-hydra/ad-engine-runner/hydra-ad-engine-runner-setup.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-hydra/modes/hydra-no-ads-mode.ts
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-hydra/setup/context/wiki/hydra-wiki-context-setup.ts
  platforms/ucp-hydra/setup/dynamic-slots/hydra-dynamic-slots-setup.ts
  platforms/ucp-hydra/setup/hydra-base-context-setup.ts
  platforms/ucp-minerva/ad-engine-runner/minerva-ad-engine-runner-setup.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-no-ads-mode.ts
  platforms/ucp-minerva/setup-minerva-ioc.ts
  platforms/ucp-minerva/setup/context/targeting/minerva-targeting-setup.ts
  platforms/ucp-minerva/setup/context/wiki/minerva-wiki-context-setup.ts
  platforms/ucp-minerva/setup/minerva-base-context-setup.ts
  platforms/ucp-minerva/templates/hide-all-ad-slots.ts
  platforms/ucp/ad-engine-runner/ucp-ad-engine-runner.setup.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  src/ad-engine/models/binder.ts
  src/ad-engine/models/index.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
Labels: Patch change

#758 ADEN-10182 | Identity Library vs GDPR, CCPA and child-directed wikis
  spec/ad-services/identity-library/identity-library.spec.ts
  src/ad-services/identity-library/index.ts
Labels: Patch change

#761 ADEN-10188 | Add double underscore as key-value separator in Instant …
  configs/tsconfig.json
  spec/ad-services/instant-config/instant-config.overrider.spec.ts
  src/ad-services/instant-config/instant-config.overrider.ts
Labels: Patch change

#755 ADEN-10173 Rename isSubjectToCoppa to isSubjectToCcpa.
  @types/ads/index.d.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  spec/ad-engine/services/tracking-opt-in.spec.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/tracking-opt-in.ts
Labels: Minor change

#763 ADEN-10163 | Add bidders to ucp-hydra and ucp-minerva.
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/gamepedia/setup/context/prebid/gamepedia-prebid-config.setup.ts
  platforms/shared/bidders/gamepedia/app-nexus.ts
  platforms/shared/bidders/gamepedia/index-exchange.ts
  platforms/shared/bidders/gamepedia/nobid.ts
  platforms/shared/bidders/gamepedia/openx.ts
  platforms/shared/bidders/gamepedia/pubmatic.ts
  platforms/shared/bidders/gamepedia/rubicon.ts
  platforms/shared/bidders/gamepedia/triplelift.ts
  platforms/shared/context/a9/gamepedia-a9-config.setup.ts
  platforms/shared/context/prebid/gamepedia-prebid-context-setup.ts
  platforms/shared/index.ts
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-hydra/templates/ucp-hydra-templates.setup.ts
  platforms/ucp-minerva/setup-minerva-ioc.ts
  platforms/ucp-minerva/templates/ucp-minerva-templates.setup.ts
Labels: Major change

#760 ADEN-10192 Add Execution Pipeline
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/slots/collapsinator/script.ts
  examples/slots/common-slots/script.ts
  examples/slots/safe-frame/script.ts
  examples/templates/floor-adhesion/script.ts
  examples/templates/hivi-uap/script.ts
  examples/tracking/postmessage-tracker/script.ts
  platforms/shared/tracking/common-tracking.setup.ts
  spec/ad-engine/pipeline/imps/di-pipeline.spec.ts
  spec/ad-engine/pipeline/imps/func-pipeline.spec.ts
  spec/ad-engine/pipeline/imps/pipeline-test-suite.ts
  spec/ad-engine/pipeline/imps/universal-pipeline.spec.ts
  spec/ad-engine/utils/middleware.spec.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/ad-engine/index.ts
  src/ad-engine/pipeline/imps/di-pipeline.ts
  src/ad-engine/pipeline/imps/func-pipeline.ts
  src/ad-engine/pipeline/imps/universal-pipeline.ts
  src/ad-engine/pipeline/pipeline-types.ts
  src/ad-engine/pipeline/pipeline.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
  src/ad-engine/tracking/viewability-properties-tracking-middleware.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/middleware.ts
  src/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.ts
  src/ad-tracking/bidder-tracker.ts
  src/ad-tracking/bidder-tracking-middleware.ts
  src/ad-tracking/click-position-tracker.ts
  src/ad-tracking/postmessage-tracker.ts
  src/ad-tracking/slot-tracker.ts
  src/ad-tracking/slot-tracking-middleware.ts
  src/ad-tracking/viewability-tracker.ts
  src/ad-tracking/viewability-tracking-middleware.ts
Labels: Major change

#765 ADEN-10166 | Add incontent_boxad to ucp-minerva.
  platforms/ucp-minerva/ad-context.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-minerva/setup/context/slots/minerva-slots-context-setup.ts
  platforms/ucp-minerva/setup/state/slots/minerva-slots-state-setup.ts
Labels: Minor change
