Repository Wikia/ad-engine, pull requests merged in 2020-08, with the labels that each got.

#797 ADEN-10245 Prebid v3.23.0 + TCF v2.0 integration
  @types/tcf/index.d.ts
  @types/window/index.d.ts
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/fallback-config.json
  src/ad-bidders/a9/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/wrappers/index.ts
  src/ad-engine/index.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/pbjs-factory.ts
  src/ad-engine/video/vast-url-builder.ts
  src/ad-engine/wrappers/cmp.ts
  src/ad-engine/wrappers/index.ts
  src/ad-engine/wrappers/tcf.ts
  src/ad-engine/wrappers/usp.ts
  src/ad-products/utils/index.ts
  src/ad-products/utils/npa.ts
  src/ad-products/utils/tcf.ts
Labels: Major change

#866 ADEN-10474 Expose ICBM sdk
  examples/context.ts
  platforms/f2/ad-context.ts
  platforms/f2/setup-f2-ioc.ts
  platforms/futhead/ad-context.ts
  platforms/futhead/setup-futhead-ioc.ts
  platforms/gamepedia/ad-context.ts
  platforms/gamepedia/setup-gamepedia-ioc.ts
  platforms/muthead/ad-context.ts
  platforms/muthead/setup-muthead-ioc.ts
  platforms/shared/index.ts
  platforms/shared/utils/instant-config-setup.ts
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-hydra/setup-hydra-ioc.ts
  platforms/ucp-minerva/ad-context.ts
  platforms/ucp-minerva/setup-minerva-ioc.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/ucp-ioc-setup.ts
  platforms/ucp/ucp-platform.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  src/ad-services/instant-config/instant-config.loader.ts
  tsconfig.json
Labels: Minor change

#869 [ADEN-10467] Create BingeBot bundle MVP
  platforms/bingebot/ad-context.ts
  platforms/bingebot/bingebot-ioc-setup.ts
  platforms/bingebot/bingebot-platform.ts
  platforms/bingebot/index.ts
  platforms/bingebot/setup/context/slots/bingebot-slots-context.setup.ts
  platforms/bingebot/setup/context/targeting/bingebot-targeting.setup.ts
  platforms/bingebot/setup/state/slots/bingebot-slots-state-setup.ts
  platforms/bingebot/style.scss
  platforms/bingebot/tsconfig.json
  platforms/platforms.json
Labels: Major change

#868 ADEN-10493 Do not lazy load icp and call DS immediately after collapse
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
Labels: Patch change

#870 ADEN-10503 Fix GP and Sports not waiting for ICBM issue
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#871 ADEN-10503 Bump tracking-opt-in version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#873 ADEN-10262 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change

#876 ADEN-10529 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#877 ADEN-10529 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#880 ADEN-10511 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#878 ADEN-10499 Use DM library url from ICBM
  platforms/futhead/ad-context.ts
  platforms/gamepedia/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp/ad-context.ts
  spec/ad-services/duration-media/duration-media.spec.ts
  src/ad-services/duration-media/index.ts
Labels: Major change

#885 ADEN-10539 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#883 [ADEN-10500] BingeBot: set s2 in page level targeting
  platforms/bingebot/setup/context/slots/bingebot-slots-context.setup.ts
  platforms/bingebot/setup/context/targeting/bingebot-targeting.setup.ts
Labels: Minor change

#889 ADEN-10568 Update TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#884 ADEN-10540 Move TrackingOptIn version to ICBM variable
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Minor change

#887 ADEN-10561 Make the label clickable
  platforms/shared/templates/handlers/sponsored-logo/sponsored-logo.scss
  platforms/shared/templates/handlers/sponsored-text-logo/sponsored-text-logo-component.ts
  platforms/shared/templates/handlers/sponsored-text-logo/sponsored-text-logo.scss
Labels: Patch change

#886 [ADEN-10543] Bingebot: update correlator value on next page views
  platforms/bingebot/bingebot-platform.ts
  platforms/bingebot/setup/hooks/bingebot-view-rendered-setup.ts
Labels: Patch change

#890 ADEN-10540-2 Bump TrackingOptIn version
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Patch change

#888 ADEN-10451 Load video ads in FV
  platforms/ucp-mercury/ad-context.ts
  platforms/ucp-mercury/modes/ucp-mercury-ads.mode.ts
  platforms/ucp-mercury/ucp-mercury-ioc-setup.ts
Labels: Minor change
