Repository Wikia/ad-engine, pull requests merged in 2020-01, with the labels that each got.

#614 ADEN-9619-fix Reverse ICBM variable
  src/ad-bidders/prebid/index.ts
  src/ad-engine/services/pbjs-factory.ts
Labels: Patch change

#616 ADEN-9699 JWPlayer ads on UCP
  package-lock.json
  package.json
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/index.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Minor change

#608 ADEN-9682 Send all bids feature
  @types/pbjs/index.d.ts
  examples/bidders/prebid/index.html
  examples/bidders/prebid/script.ts
  examples/templates/outstream/index.html
  examples/templates/outstream/script.ts
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp/fallback-config.json
  src/ad-bidders/prebid/index.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#596 [ADEN-9569] OneVideo bidder integration
  platforms/futhead/fallback-config.json
  platforms/gamepedia/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp/fallback-config.json
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/one-video.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#621 ADEN-9759 Emit event with uap load status via @wikia/post-queuecast.
  spec/ad-engine/models/ad-slot.spec.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/events.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Minor change

#619 ADEN-9738 Upgrade Prebid.js to v3.2.0
  src/ad-bidders/prebid/index.ts
Labels: Minor change

#620 ADEN-9774 Reimplement consentQueue for platforms
  @types/ads/index.d.ts
  @types/window/index.d.ts
  platforms/futhead/ad-context.ts
  platforms/gamepedia/@types/window/index.d.ts
  platforms/gamepedia/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/bootstrap.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/ucp/@types/ucp-mw/index.d.ts
Labels: Minor change

#623 ADEN-9786 | Permutive MVP
  .prettierignore
  @types/permutive/index.d.ts
  @types/window/index.d.ts
  README.md
  examples/services/permutive/index.html
  examples/services/permutive/script.ts
  package.json
  src/ad-services/index.ts
  src/ad-services/permutive/index.ts
Labels: Minor change

#625 ADEN-9802 | Add test value to permutive key
  src/ad-services/permutive/index.ts
Labels: Minor change

#622 ADEN-9785 Add A9 CCPA compliance
  @types/usp/index.d.ts
  @types/window/index.d.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/a9/types.ts
  src/ad-bidders/index.ts
  src/ad-bidders/wrappers/index.ts
  src/ad-bidders/wrappers/usp.ts
  tests/specs/bidders/a9.desktop.test.js
Labels: Minor change

#627 ADEN-9788 Set proped ad-layout based on Featured video status
  platforms/ucp/@types/ucp-mw/index.d.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
Labels: Minor change

#628 ADEN-9789 Do not insert slot if sibling does not exist.
  platforms/shared/setup/_bidders-state.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Patch change

#632 ADEN-9779 Disable ads when they are disabled in wiki context
  platforms/shared/setup/_base-context.setup.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  platforms/ucp/setup/context/wiki/ucp-wiki-context.setup.ts
Labels: Patch change

#634 ADEN-9569-2 Remove OneVideo api config parameter
  src/ad-bidders/prebid/adapters/one-video.ts
Labels: Patch change

#629 ADEN-9820 | Fix getting permutive segments from localStorage
  src/ad-services/permutive/index.ts
Labels: Patch change

#624 ADEN-9794 | Send s0, s1 and skin to permutive
  src/ad-services/permutive/index.ts
Labels: Minor change

#633 ADEN-9678 Fixing Criteo bidding parameters
  src/ad-bidders/prebid/adapters/criteo.ts
Labels: Minor change

#618 ADEN-9601 Adding bidders DW tracking
  @types/pbjs/index.d.ts
  examples/bidders/prebid/script.ts
  platforms/shared/setup/_base-context.setup.ts
  platforms/shared/tracking/common-tracking.setup.ts
  spec/ad-engine/providers/gpt-provider.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/events.ts
  src/ad-engine/services/slot-repeater.ts
  src/ad-engine/services/slot-service.ts
  src/ad-engine/utils/generate-unique-id.ts
  src/ad-engine/utils/index.ts
  src/ad-tracking/bidder-tracker.ts
  src/ad-tracking/bidder-tracking-middleware.ts
  src/ad-tracking/index.ts
Labels: Minor change

#637 Remove top padding from top leaderboard
  platforms/ucp/styles.scss
Labels: Patch change

#636 ADEN-9848 Add types to example pages
  examples/bidders/a9/script.ts
  examples/bidders/prebid/script.ts
  examples/bidders/reusable-prebid/script.ts
  examples/services/bill-the-lizard/script.ts
  examples/services/confiant/script.ts
  examples/services/likho/script.ts
  examples/slots/kill-codes/script.ts
  examples/slots/safe-frame/script.ts
  examples/templates/abcd/script.ts
  examples/templates/floating-rail/script.ts
  examples/templates/floor-adhesion/script.ts
  examples/templates/hide-on-viewability/script.ts
  examples/templates/hivi-uap-ab/script.ts
  examples/templates/hivi-uap-ctp/script.ts
  examples/templates/hivi-uap-stickiness-not-allowed/script.ts
  examples/templates/hivi-uap-sticky-bfab/script.ts
  examples/templates/interstitial/script.ts
  examples/templates/uap-roadblock/script.ts
  examples/templates/vuap/script.ts
  examples/utils/labrador-basset/script.ts
  examples/video/jwplayer/script.ts
  examples/video/porvata/script.ts
  src/ad-services/bill-the-lizard/index.ts
  webpack.common.js
Labels: Patch change

#631 ADEN-9823 Fix uap=none UAP detection issue
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#635 ADEN-9757 Remove old jwplayer
  examples/video/jwplayer/script.ts
  src/ad-products/index.ts
  src/ad-products/video/jwplayer-ads-factory.ts
  src/ad-products/video/jwplayer/external-types/jwplayer-config.ts
  src/ad-products/video/jwplayer/external-types/jwplayer-event.ts
  src/ad-products/video/jwplayer/external-types/jwplayer-list-item.ts
  src/ad-products/video/jwplayer/external-types/jwplayer.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
  src/ad-products/video/jwplayer/jwplayer-handler.ts
  src/ad-products/video/jwplayer/jwplayer-helper.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/ad-products/video/jwplayer/jwplayer-streams.ts
Labels: Major change

#639 IW-2882 | move spacing to UCP
  platforms/ucp/styles.scss
Labels: Patch change

#638 ADEN-9849 Add types to spec
  spec/ad-bidders/prebid/index.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/listeners/porvata-listener.spec.ts
  spec/ad-engine/listeners/scroll-listener.spec.ts
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/models/event-emitter.stub.ts
  spec/ad-engine/providers/gpt-provider.spec.ts
  spec/ad-engine/providers/gpt-size-map.spec.ts
  spec/ad-engine/services/btf-blocker-service.spec.ts
  spec/ad-engine/services/context-service.spec.ts
  spec/ad-engine/services/pbjs.stub.ts
  spec/ad-engine/services/slot-injector.spec.ts
  spec/ad-engine/services/slot-service.spec.ts
  spec/ad-engine/services/slot-tweaker.spec.ts
  spec/ad-engine/services/template-service.spec.ts
  spec/ad-engine/tracking/slot-properties-tracking-middleware.spec.ts
  spec/ad-engine/video/player/porvata/ima/google-ima-setup.spec.ts
  spec/ad-engine/video/player/porvata/porvata.spec.ts
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.ts
  spec/ad-products/templates/uap/ui/ui-template.spec.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  spec/ad-products/templates/uap/video-settings.spec.ts
  spec/ad-products/tracking/video/video-event-data-provider.spec.ts
  spec/ad-products/utils/npa.spec.ts
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  spec/ad-services/krux/krux.spec.ts
  spec/ad-services/moat-yi/moat-yi.spec.ts
  spec/ad-tracking/scroll-tracker.spec.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-products/templates/uap/uap-video-settings.ts
  webpack.common.js
Labels: Patch change

#630 ADEN-9772 Require `isResolved` argument in setResolvedState.
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
Labels: Patch change

#645 Add late_ready event
  src/ad-products/tracking/video/jwplayer-tracker.ts
Labels: Patch change

#644 ADEN-9869 | Call Permutive on UCP
  platforms/ucp/modes/ucp-ads.mode.ts
Labels: Minor change

#646 ADEN-9865 Fixing redundant force-close event
  src/ad-products/templates/interface/video/floating.ts
Labels: Patch change

#648 ADEN-9817 Enable tracking on UCP
  @types/ads/index.d.ts
  @types/window/index.d.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/shared/platform-startup.ts
  platforms/ucp/@types/ucp-mw/index.d.ts
  platforms/ucp/index.ts
  platforms/ucp/setup-ucp-ioc.ts
  platforms/ucp/setup/context/targeting/ucp-targeting.setup.ts
  src/ad-engine/ad-engine.ts
Labels: Minor change
