Repository Wikia/ad-engine, pull requests merged in 2021-01, with the labels that each got.

#953 ADEN-10760 Fixing UCP-Mobile missing slots on FV pages
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Bug, Patch change

#957 ADEN-10697 Fix floor_adhesion and BTRec UCP behaviour
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-hydra/setup/context/slots/hydra-slots-context-setup.ts
  platforms/ucp-minerva/setup/context/slots/minerva-slots-context-setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
Labels: Bug, Patch change

#954 ADEN-10703 Remove orphaned SessionCookie items
  src/ad-engine/services/session-cookie.ts
Labels: Enhancement, Minor change

#961 ADEN-10754 | Pause JWPlayer ad on tab switch
  platforms/shared/setup/base-context.setup.ts
  src/ad-products/video/jwplayer/external-types/jwplayer.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
Labels: Minor change

#960 ADEN-10759 Enable DistroScale when there is no FanTakeover
  platforms/ucp/setup/state/slots/ucp-slots-state-setup.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Patch change

#958 ADEN-10709 Integrating VerizonBidder alias
  platforms/ucp-mobile/bidders/prebid/verizon.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  platforms/ucp/bidders/prebid/verizon.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/verizon.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Enhancement, Minor change

#955 ADEN-10769 fix boxad shift
  platforms/ucp-mobile/styles.scss
Labels: Minor change
