Repository Wikia/ad-engine, pull requests merged in 2021-11, with the labels that each got.

#1162 ADEN-10909 | Call DistroScale explicitly
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
Labels: Minor change

#1161 ADEN-11267 Disable Moat integration for UAP video Porvata
  spec/ad-products/video/porvata4/plugins/ias/ias-video-tracker.spec.ts
  spec/ad-products/video/porvata4/plugins/moat/moat-video-tracker.spec.ts
  spec/ad-products/video/porvata4/plugins/porvata-settings.spec.ts
  src/ad-products/video/porvata/plugins/ias/ias-video-tracker.ts
  src/ad-products/video/porvata/plugins/moat/moat-video-tracker.ts
  src/ad-products/video/porvata/porvata-settings.ts
Labels: Minor change

#1164 ADEN-11322 add bottom label for sticky bfaa
  platforms/shared/index.ts
  platforms/shared/templates/handlers/bfaa/bfaa-new-big-advertisement-label-handler.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-template.ts
Labels: Minor change

#1167 ADEN-11332 Quick ajax implementation for Nativo
  @types/window/index.d.ts
  src/ad-services/nativo/index.ts
Labels: Patch change

#1174 Revert "ADEN-11322 add bottom label for sticky bfaa"
  platforms/shared/index.ts
  platforms/shared/templates/handlers/bfaa/bfaa-new-big-advertisement-label-handler.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-template.ts
Labels: Patch change

#1153 ADEN-11290 Collapse ad placeholders on pages with UAP
  platforms/shared/index.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/shared/templates/handlers/roadblock/roadblock-handler.ts
  platforms/shared/utils/ad-label-helper.ts
  platforms/shared/utils/ad-loading-helper.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  spec/ad-engine/models/ad-slot.stub.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-creator.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-placeholder-injector.ts
  src/ad-engine/utils/ad-label-helper.ts
  src/ad-engine/utils/index.ts
Labels: Major change

#1172 ADEN-11330 added sending click event on 'Learn more' video link click
  src/ad-products/templates/interface/video/learn-more.ts
  src/ad-tracking/click-tracker.ts
Labels: Minor change, Bug

#1169 ADEN-11341 Cleanup and upgrade Blockthrough integration
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/templates/configs/outstream-config.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/templates/configs/outstream-config.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/services/events.ts
  src/ad-engine/utils/logger.ts
  src/ad-products/utils/fmr-rotator.ts
  src/ad-products/utils/index.ts
  src/ad-products/utils/navbar-manager.ts
  src/ad-services/bt-rec/index.ts
Labels: Major change, Bug, Enhancement

#1173 ADEN 11342 - Remove slot: invisible_skin
  platforms/shared/templates/handlers/roadblock/roadblock-handler.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/roadblock-template.ts
  spec/ad-engine/config-mock.ts
  spec/ad-engine/models/ad-slot.spec.ts
Labels: Minor change

#1179 ADEN-11350 handle no incontent player slot
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
Labels: Minor change

#1166 ADEN-11287 Update TrackingOptI version + code changes
  package-lock.json
  package.json
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
Labels: Major change, Enhancement

#1163 ADEN-11320 Nativo ad in Fan Feed on FandomMobile
  @types/nativo/index.d.ts
  @types/window/index.d.ts
  platforms/f2/fallback-config.json
  platforms/shared/utils/native-ads-helper.ts
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  src/ad-engine/services/slot-creator.ts
  src/ad-services/nativo/index.ts
Labels: Minor change

#1182 ADEN-11321 - native ads code level prio
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/ad-engine/services/events.ts
  src/ad-services/nativo/index.ts
Labels: Minor change

#1188 Update README.md
  README.md
Labels: Patch change, Bug

#1186 ADEN-11352 Fixing labels translation system
  platforms/f2/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/ad-engine/services/slot-creator.ts
  src/ad-engine/services/slot-placeholder-injector.ts
  src/ad-engine/utils/i18n.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/translations.ts
  src/ad-products/common/i18n.ts
  src/ad-products/common/index.ts
  src/ad-products/common/translations.ts
  src/ad-products/templates/interface/advertisement-label.ts
  src/ad-products/templates/interface/video/learn-more.ts
  src/ad-products/templates/outstream/porvata-template.ts
Labels: Minor change, Enhancement

#1187 ADEN-11373 Fix a forced_collapse behaviour
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/styles.scss
Labels: Minor change

#1185 ADEN-11372 - Fix Nativo ad in fan feed displayed on page with UAP
  platforms/shared/dynamic-slots/fan-feed-native-ad-listener.ts
  platforms/shared/index.ts
  platforms/ucp-desktop/setup/dynamic-slots/desktop-fan-feed-native-ad-listener.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/mobile-fan-feed-native-ad-listener.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change

#1184 ADEN-11327 revert liveramp
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  spec/ad-bidders/prebid/ats/ats.spec.ts
  spec/ad-bidders/prebid/live-ramp/live-ramp.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/ats/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/live-ramp/index.ts
  src/ad-bidders/prebid/live-ramp/live-ramp.ts
Labels: Minor change

#1180 ADEN 10981 - Experiment: add collapse button to not filled slot
  platforms/shared/index.ts
  platforms/shared/utils/message-box.ts
  platforms/shared/utils/placeholder-service-helper.ts
  platforms/shared/utils/placeholder-service.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/styles.scss
  spec/platforms/shared/utils/placeholder-service-helper.spec.ts
  src/ad-tracking/click-tracker.ts
Labels: Work in progress, Minor change, Enhancement

#1190 ADEN 10762 - src=uap for BTF and Video components of the UAP family products
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-engine/services/context-service.ts
Labels: Minor change
