Repository Wikia/ad-engine, pull requests merged in 2021-06, with the labels that each got.

#1028 ADEN-11003 small css cleanup, bfaa video fix
  platforms/shared/styles/uap/_bfaa-sticky-impact.scss
  platforms/shared/styles/uap/_bfaa-sticky-resolved.scss
Labels: Bug, Patch change

#1025 ADEN-10794 Adding Stroer integration
  package.json
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-services/stroer/stroer.spec.ts
  src/ad-services/index.ts
  src/ad-services/stroer/index.ts
Labels: Minor change

#1026 ADEN-11007 | feat: move TOC under BFAA on start and complete state
  src/ad-engine/utils/logger.ts
  src/ad-products/video/porvata4/porvata-player.ts
Labels: Minor change

#1030 ADEN-11004 nvmrc ver revert
  .nvmrc
Labels: Patch change

#1006 ADEN-10890 Send RealVu detection result with bidders calls
  @types/pbjs/index.d.ts
  @types/window/index.d.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/ad-context.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  spec/ad-engine/services/pbjs.stub.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-engine/ad-engine.ts
  src/ad-services/index.ts
  src/ad-services/real-vu/index.ts
Labels: Enhancement, Minor change, Work in progress

#1035 ADEN-10771 fixing typo in media.net cfg
  platforms/ucp-desktop/bidders/prebid/medianet.ts
  platforms/ucp/bidders/prebid/medianet.ts
  src/ad-bidders/prebid/adapters/medianet.ts
  src/ad-bidders/prebid/prebid-models.ts
Labels: Patch change

#1033 ADEN-11044 Move UAP on FandomDesktop to the right of global nav
  platforms/shared/styles/uap/_bfaa-slot.scss
  platforms/shared/styles/uap/_sticky-tlb-slot.scss
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/configs/register-ucp-desktop-uap-dom-elements.ts
Labels: Enhancement, Minor change

#1032 ADEN-11002 UAP 3.0 BFAA: embedded/sticky big to embedded resolved
  platforms/shared/index.ts
  platforms/shared/templates/handlers/close-to-embedded-resolved-button-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-embedded-resolved-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Don't merge, Enhancement, Minor change, Work in progress

#1039 ADEN-11001 | feat: embedded small to embedded resolved
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-embedded-resolved-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1036 Aden 11027 - UAP 3.0 BFAA: handle video events
  platforms/shared/index.ts
  platforms/shared/styles/uap/_bfaa-embedded-small.scss
  platforms/shared/templates/handlers/video/video-new-bfaa-restart-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1042 ADEN-10944 Fixing navbar on News&Stories when menu is open
  platforms/f2/styles.scss
Labels: Bug, Patch change

#1040 ADEN-11063 Fix transition from embedded big to embedded resolved
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-embedded-resolved-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1043 ADEN-11057 fixed scaling/positioning player UI while changing BFAA size
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/styles/index.scss
  platforms/shared/styles/uap/_bfaa-embedded-big.scss
  platforms/shared/styles/uap/_bfaa-embedded-resolved.scss
  platforms/shared/styles/uap/_bfaa-embedded-small.scss
  platforms/shared/styles/uap/_bfaa-sticky-big.scss
  platforms/shared/styles/uap/_bfaa-sticky-resolved.scss
  platforms/shared/styles/uap/_bfaa-sticky-small.scss
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/templates/bfaa-new-template.ts
  platforms/ucp/fallback-config.json
Labels: Patch change

#1044 ADEN-11073 change UAP z-index to fix navigation viewability
  platforms/f2/fallback-config.json
  platforms/shared/styles/index.scss
  platforms/shared/styles/uap/_bfaa-sticky-big.scss
  platforms/shared/styles/uap/_bfaa-sticky-small.scss
  platforms/shared/styles/uap/_bfab-new-uap.scss
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/styles.scss
  platforms/ucp/fallback-config.json
  src/ad-products/styles/_uap-variables.scss
Labels: Patch change

#1038 ADEN-10999 Adding UAP 3.0 transition state
  platforms/shared/index.ts
  platforms/shared/templates/handlers/close-to-transition-button-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-timeout-without-scroll-handler.ts
  platforms/shared/templates/handlers/slot/slot-transition-new-template-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1047 Fixing AdEngine release mismatch
  README.md
Labels: Bug, Patch change

#1045 ADEN-11071 Fixing community header background with UAP
  platforms/ucp-desktop/styles.scss
Labels: Bug, Minor change

#1048 ADEN-11082 regression fix
  platforms/shared/templates/handlers/close-to-transition-button-handler.ts
Labels: Minor change

#1041 ADEN-10907 remove btl implementation (rip cats ;C)
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/bill-the-lizard/ucp-desktop-bill-the-lizard.setup.ts
  platforms/ucp-desktop/ucp-desktop-ioc-setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-ioc-setup.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  platforms/ucp/setup/context/bill-the-lizard/ucp-bill-the-lizard.setup.ts
  platforms/ucp/ucp-ioc-setup.ts
  platforms/ucp/ucp-platform.ts
  spec/ad-services/bill-the-lizard/bill-the-lizard.spec.ts
  spec/ad-services/bill-the-lizard/executor.spec.ts
  spec/ad-services/bill-the-lizard/projects-handler.spec.ts
  spec/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.spec.ts
  src/ad-services/bill-the-lizard/executor.ts
  src/ad-services/bill-the-lizard/index.ts
  src/ad-services/bill-the-lizard/projects-handler.ts
  src/ad-services/bill-the-lizard/slot-bill-the-lizard-tracking-middleware.ts
  src/ad-services/index.ts
Labels: Minor change

#1053 ADEN-11085 Tweaking background behaviour when UAP is loaded
  platforms/ucp-desktop/styles.scss
Labels: Bug, Patch change

#1052 ADEN-10998 sticky big to sticy small transition
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-sticky-small-handler.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1054 [ADEN-11045] ucp-mobile: UAP 3.0 change placeholder size in embeddedR…
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-placeholder-size-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Patch change

#1055 [ADEN-11045-revert] Revert: ucp-mobile: UAP 3.0 change placeholder size in embeddedResolved state
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-placeholder-size-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Patch change

#1046 ADEN-11079 | ucp-mobile: UAP 3.0 fix bug on infobox pages + fix transitions between embedded and sticky states
  platforms/f2/fallback-config.json
  platforms/shared/index.ts
  platforms/shared/styles/index.scss
  platforms/shared/styles/uap/_bfaa-embedded-resolved.scss
  platforms/shared/styles/uap/_bfaa-embedded-small.scss
  platforms/shared/styles/uap/_bfaa-embedded.scss
  platforms/shared/styles/uap/_bfaa-sticky-big.scss
  platforms/shared/styles/uap/_bfaa-sticky-small.scss
  platforms/shared/styles/uap/_bfaa-with-infobox.scss
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-small-to-embedded-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-small-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-new-template.ts
  platforms/ucp/fallback-config.json
  src/ad-products/styles/_uap-variables.scss
Labels: Minor change

#1050 ADEN-11083 Fixing BLB position
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
Labels: Bug, Patch change

#1056 ADEN-11089 ucp-mobile UAP 3.0 - states transitions fixes
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-small-to-embedded-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-initial-y-position-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change
