Repository Wikia/ad-engine, pull requests merged in 2021-12, with the labels that each got.

#1192 ADEN-11397 featured-video events fix
  src/ad-services/permutive/video-tracker.ts
Labels: Minor change

#1193 ADEN-11405 change code prio for native ads
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  src/ad-engine/services/events.ts
  src/ad-services/nativo/index.ts
Labels: Minor change

#998 ADEN-10892-2 Remove Google's Interstitial custom styles
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Minor change

#1197 ADEN-11424 Fix regression for Permutive
  spec/ad-services/permutive/permutive.spec.ts
  src/ad-services/permutive/index.ts
Labels: Patch change

#1194 ADEN-11390 Cleaning up StickyTLB template
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/styles.scss
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Patch change, Enhancement

#1202 ADEN-11390-3 Expanding UCP-Desktop TLB pos
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Patch change, Bug

#1201 ADEN-11402 Add time delta to the log messages
  src/ad-engine/utils/logger.ts
Labels: Minor change

#1196 ADEN-11235 fix CLS on sticky TLB
  platforms/shared/styles/uap/_bfaa-slot.scss
  platforms/shared/templates/handlers/slot/slot-hidden-handler.ts
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-config-handler.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/sticky-tlb-template.ts
Labels: Minor change

#1204 ADEN-11412 - Add Fan Lab message when collapse appears on a page
  .prettierignore
  platforms/shared/index.ts
  platforms/shared/utils/collapsed-messages/fanlab-box.ts
  platforms/shared/utils/collapsed-messages/message-box-creator.ts
  platforms/shared/utils/collapsed-messages/message-box-service.ts
  platforms/shared/utils/collapsed-messages/message-box.ts
  platforms/shared/utils/collapsed-messages/newsletter-box.ts
  platforms/shared/utils/collapsed-messages/register-box.ts
  platforms/shared/utils/message-box.ts
  platforms/shared/utils/placeholder-service-helper.ts
  platforms/shared/utils/placeholder-service.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/styles.scss
  spec/platforms/shared/utils/collapsed-messages/message-box-service.spec.ts
  spec/platforms/shared/utils/placeholder-service-helper.spec.ts
  src/ad-tracking/cta-tracker.ts
Labels: Minor change, Enhancement

#1206 ADEN 11421 - Add Newsletter link when collapse appears on a page
  platforms/shared/utils/collapsed-messages/fanlab-box.ts
  platforms/shared/utils/collapsed-messages/message-box-service.ts
  platforms/shared/utils/collapsed-messages/message-box.ts
  platforms/shared/utils/collapsed-messages/newsletter-box.ts
  spec/platforms/shared/utils/collapsed-messages/message-box-service.spec.ts
Labels: Minor change, Enhancement

#1210 ADEN-11390-4 Fixing wrong multi-pos order
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Patch change, Bug

#1216 ADEN-11478 Restoring old StickyTLB template for transition process
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-config-handler.ts
  platforms/ucp-desktop/templates/sticky-tlb-old-template.ts
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.ts
Labels: Minor change, Enhancement
