Repository Wikia/ad-engine, pull requests merged in 2021-09, with the labels that each got.

#1097 ADEN-11209 finishing first call when babol is detected
  platforms/shared/services/wad-runner.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Patch change

#1098 ADEN-11154 Adding placeholder and animation for mobile_prefooter
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
Labels: Minor change, Enhancement

#1099 ADEN-10898 Allowing StickyTLB template on special pages
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Minor change, Enhancement

#1100 ADEN-11228 UAP sometimes throws an error in console and breaks itself
  spec/ad-engine/utils/try-property.spec.ts
  spec/ad-products/video/porvata4/native-fullscreen.spec.ts
  src/ad-engine/utils/try-property.ts
  src/ad-products/video/porvata4/native-fullscreen.ts
  src/ad-products/video/porvata4/porvata-player.ts
Labels: Minor change

#1101 ADEN-11233 Defer slot resize operations for BFAB Impact state
  platforms/shared/templates/handlers/slot/slot-size-impact-handler.ts
  platforms/shared/templates/handlers/video/video-size-impact-handler.ts
Labels: Patch change, Bug

#1104 ADEN-11190 fix safe frame check in click tracker
  src/ad-tracking/click-tracker.ts
Labels: Patch change

#1103 ADEN-11210 Call RealVu for flag before making ad call to GAM
  @types/real-vu/index.d.ts
  @types/window/index.d.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/tracking/index.ts
  src/ad-engine/tracking/real-vu.ts
Labels: Minor change, Enhancement

#1106 ADEN-1158 Removing five Muthead/Futhead bidders
  platforms/futhead/bidders/prebid/app-nexus.ts
  platforms/futhead/bidders/prebid/index-exchange.ts
  platforms/futhead/bidders/prebid/nobid.ts
  platforms/futhead/bidders/prebid/pubmatic.ts
  platforms/futhead/bidders/prebid/triplelift.ts
  platforms/futhead/setup/context/prebid/futhead-prebid-config.setup.ts
  platforms/muthead/bidders/prebid/app-nexus.ts
  platforms/muthead/bidders/prebid/index-exchange.ts
  platforms/muthead/bidders/prebid/nobid.ts
  platforms/muthead/bidders/prebid/pubmatic.ts
  platforms/muthead/bidders/prebid/triplelift.ts
  platforms/muthead/setup/context/prebid/muthead-prebid-config.setup.ts
  platforms/shared/bidders/gamepedia/app-nexus.ts
  platforms/shared/bidders/gamepedia/index-exchange.ts
  platforms/shared/bidders/gamepedia/nobid.ts
  platforms/shared/bidders/gamepedia/pubmatic.ts
  platforms/shared/bidders/gamepedia/rubicon.ts
  platforms/shared/bidders/gamepedia/triplelift.ts
  platforms/shared/context/a9/ucp-gamepedia-a9-config.setup.ts
  platforms/shared/context/prebid/gamepedia-prebid-context-setup.ts
  platforms/shared/index.ts
Labels: Major change, Enhancement

#1110 ADEN-11210 realvu exception fix
  src/ad-engine/tracking/real-vu.ts
Labels: Patch change

#1108 ADEN-11234 Force TLB to be sticky
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Minor change

#1109 ADEN-10935 Removing Templates 1.0
  spec/ad-products/templates/uap/themes/hivi/hivi.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/templates/floating-ad.ts
  src/ad-engine/templates/index.ts
  src/ad-products/templates/hide-on-viewability.ts
  src/ad-products/templates/index.ts
  src/ad-products/templates/out-of-page/floor-adhesion.ts
  src/ad-products/templates/out-of-page/index.ts
  src/ad-products/templates/out-of-page/interstitial.ts
  src/ad-products/templates/skin.ts
  src/ad-products/templates/sticky-ad.ts
  src/ad-products/templates/sticky-base.ts
  src/ad-products/templates/sticky-tlb.ts
  src/ad-products/templates/uap/big-fancy-ad-above.ts
  src/ad-products/templates/uap/big-fancy-ad-below.ts
  src/ad-products/templates/uap/big-fancy-ad-in-player.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/index.ts
  src/ad-products/templates/uap/roadblock.ts
  src/ad-products/templates/uap/themes/classic/classic.ts
  src/ad-products/templates/uap/themes/classic/index.ts
  src/ad-products/templates/uap/themes/factory.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfaa.ts
  src/ad-products/templates/uap/themes/hivi/hivi-bfab.ts
  src/ad-products/templates/uap/themes/hivi/hivi-theme.ts
  src/ad-products/templates/uap/themes/hivi/index.ts
  src/ad-products/templates/uap/themes/hivi/stickiness.ts
  src/ad-products/templates/uap/themes/theme.ts
Labels: Major change, Enhancement

#1107 ADEN-11169 cleanup TBplaceholder from BE implementation
  @types/ads/index.d.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Minor change

#1113 ADEN-11226 fix enabling moat tracking for Porvata
  platforms/shared/setup/base-context.setup.ts
  spec/ad-products/video/porvata4/plugins/porvata-settings.spec.ts
  src/ad-products/video/porvata4/porvata-settings.ts
Labels: Patch change

#1114 ADEN-11143 added event on full-screen change in porvata
  src/ad-products/video/player/porvata/porvata-listener.ts
Labels: Patch change
