Repository Wikia/ad-engine, pull requests merged in 2021-04, with the labels that each got.

#987 ADEN-10899 | bottom leaderboard placeholder
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Minor change

#990 ADEN-10899 | ad unit template fix
  platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#991 ADEN-10924 Quick fix for top_leaderboard appearing on FV page
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Minor change

#993 ADEN-10924 Revert quick fix for top_leaderboard appearing on FV page
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change

#988 ADEN-10866 | ucp-mobile: Lazy requesting for ICBs
  @types/ads/index.d.ts
  platforms/f2/fallback-config.json
  platforms/futhead/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-hydra/fallback-config.json
  platforms/ucp-minerva/fallback-config.json
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp/fallback-config.json
  spec/ad-engine/services/slot-placeholder-injector.spec.ts
  src/ad-engine/index.ts
  src/ad-engine/services/slot-creator.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-placeholder-injector.ts
Labels: Minor change

#994 ADEN-10923 Adding communicator module
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-engine/utils/logger.ts
Labels: Enhancement, Minor change

#997 ADEN-10923-2 Fixing communicator service
  src/ad-engine/services/templates-registry/template-registry.ts
Labels: Bug, Patch change

#999 ADEN-8807-2 Instant Config context key cleanup
  src/ad-engine/services/context-service.ts
Labels: Bug, Patch change

#992 ADEN-10917 Adding b_ias general IAS keyval
  spec/ad-services/ias-publisher-optimization/ias-publisher-optimization.spec.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Enhancement, Minor change

#1000 Update README.md
  README.md
Labels: Enhancement, Patch change

#1002 Create .nvmrc
  .nvmrc
Labels: Enhancement, Patch change

#995 ADEN-10874 Adapt UAP to UCX Desktop skin
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/configs/register-ucp-desktop-uap-dom-elements.ts
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
Labels: Enhancement, Minor change

#1005 ADEN-10866 | Refactor SlotPlaceholderInjector + unit tests
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  spec/ad-engine/services/slot-placeholder-injector.spec.ts
  src/ad-engine/services/slot-placeholder-injector.ts
  src/ad-products/video/porvata4/porvata-dom.ts
Labels: Patch change

#1010 ADEN-10928 | ucp-mobile: fix GumGum integration
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Patch change

#1008 ADEN-10952 Fixing JWPlayer types
  src/ad-products/video/jwplayer/jwplayer-actions.ts
Labels: Bug, Patch change
