Repository Wikia/ad-engine, pull requests merged in 2021-10, with the labels that each got.

#1111 ADEN-11248 Removing old ICBM variables
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/shared/context/slots/curse-slots-context-setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/slots/curse-slots-state.setup.ts
  platforms/shared/sports.scss
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon-display.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/a9/types.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/listeners/index.ts
  src/ad-engine/listeners/overscroll-listener.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/context-service.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/jwplayer-a9-logger.ts
  src/ad-tracking/click-position-tracker.ts
  src/ad-tracking/index.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Work in progress, Major change, Enhancement

#1116 ADEN-11216 minor refactor
  platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#1117 ADEN-11185 Replace placeholder animation
  platforms/ucp-mobile/styles.scss
Labels: Minor change

#1115 ADEN 11129 - Stop loading ads on collapse/blocked event
  platforms/shared/index.ts
  platforms/shared/utils/ad-label-helper.ts
  platforms/shared/utils/ad-loading-helper.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
Labels: Minor change

#1120 ADEN-11274 Load nativo script in non-auto mode
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  spec/ad-services/nativo/nativo.spec.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-services/index.ts
  src/ad-services/nativo/index.ts
Labels: Minor change

#1121 ADEN-11074 Adding targeting bundles functionality
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  spec/ad-engine/utils/targeting.spec.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/targeting.ts
Labels: Minor change, Enhancement
