Repository Wikia/ad-engine, pull requests merged in 2021-08, with the labels that each got.

#1080 ADEN-11149 Adjust F2 bundle for new page design
  platforms/f2/ad-context.ts
  platforms/f2/f2.actions.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/setup/dynamic-slots/f2-feed-boxad-stickiness.ts
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/f2/styles.scss
  platforms/f2/styles/feed-bottom-boxad.scss
  platforms/f2/templates/configs/register-f2-uap-dom-elements.ts
  platforms/f2/templates/handlers/bfaa/bfaa-f2-config-handler.ts
Labels: Enhancement, Major change

#1083 ADEN-11174 Fix ads placeholders + Blockthrough
  platforms/ucp-desktop/ad-context.ts
  src/ad-engine/services/bab-detection.ts
Labels: Bug, Enhancement, Minor change

#1084 ADEN-11179 wiki name displayed on the top of the UAP
  platforms/ucp-mobile/styles.scss
Labels: Bug, Patch change

#1082 Aden 11119 - Track ads clicks in DW
  platforms/shared/tracking/tracking.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-tracking/click-tracker.ts
  src/ad-tracking/index.ts
  src/ad-tracking/slot-tracker.ts
Labels: Minor change

#1086 ADEN-11178 | Sticky TLB not displayed properly on F2 new skin
  platforms/f2/templates/sticky-tlb-template.ts
Labels: Patch change

#1085 ADEN-11153 add Aax service
  @types/window/index.d.ts
  platforms/shared/services/wad-runner.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp/ad-context.ts
  src/ad-services/aax/index.ts
  src/ad-services/index.ts
Labels: Minor change, Enhancement

#1088 ADEN-10876 Changing Instant Config endpoints
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp/ad-context.ts
Labels: Major change, Enhancement

#1091 Revert of ADEN-11172 that was a Revert of ADEN-11117 Changing video ad units for ucp_mobile
  platforms/ucp-mobile/ad-context.ts
Labels: Minor change

#1089 ADEN 11195 - Improve ad click tracking data
  platforms/shared/tracking/tracking.setup.ts
  src/ad-tracking/click-tracker.ts
Labels: Patch change

#1092 SITE-1585 | UCP-desktop: remove positioning with UAP
  platforms/ucp-desktop/styles.scss
Labels: Patch change

#1094 ADEN-11170 Implementing UAP:JWPlayer feature
  platforms/f2/fallback-config.json
  platforms/f2/modes/f2-ads.mode.ts
  platforms/futhead/fallback-config.json
  platforms/muthead/fallback-config.json
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/fallback-config.json
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/ad-products/index.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
Labels: Major change, Enhancement
