Repository Wikia/ad-engine, pull requests merged in 2021-05, with the labels that each got.

#1007 ADEN-10948 Adding feature to disable floor_adhesion pushOnScroll
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
Labels: Enhancement, Minor change

#1009 unset top margin for futhead
  platforms/futhead/styles.scss
Labels: Bug, Patch change

#1011 ADEN-10878 Fixing UCX Desktop issues
  platforms/shared/styles/uap/_bfaa-slot.scss
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/styles.scss
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-injector.ts
Labels: Bug, Enhancement, Minor change

#1013 ADEN-10912 adding pushOnScrollThreshold var to instant config
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
Labels: Patch change

#1017 ADEN-10966 use Wikia fork of tscpaths
  package-lock.json
  package.json
Labels: Minor change

#1016 ADEN-10932 removed WatchingThat integration
  @types/window/index.d.ts
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp/ad-context.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/ad-products/video/jwplayer/watching-that/index.ts
Labels: Patch change

#1018 ADEN-10692 add isMobile targeting parameter
  @types/ads/index.d.ts
  platforms/f2/setup/context/targeting/f2-targeting.setup.ts
  platforms/futhead/setup/context/targeting/futhead-targeting.setup.ts
  platforms/muthead/setup/targeting/muthead-targeting.setup.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  spec/ad-engine/utils/client.spec.ts
  src/ad-engine/utils/client.ts
Labels: Minor change

#1014 ADEN-10945 | ucp-mobile PoC: UAP 3.0 BFAA in embedded and sticky states
  platforms/shared/index.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/styles/index.scss
  platforms/shared/styles/uap/_bfaa-embedded-impact.scss
  platforms/shared/styles/uap/_bfaa-embedded-resolved.scss
  platforms/shared/styles/uap/_bfaa-sticky-impact.scss
  platforms/shared/styles/uap/_bfaa-sticky-resolved.scss
  platforms/shared/templates/handlers/bfaa-new/bfaa-new-bootstrap-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-small-to-embedded-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-size-resolved-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-new-template.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates-setup.service.ts
Labels: Minor change

#1020 ADEN-10908 Add original host name to AdUnitId 5th part on ucp-desktop
  platforms/ucp-desktop/ad-context.ts
Labels: Patch change

#1019 ADEN-10943 - integrate ad-engine with SilverSurfer
  @types/silver-surfer/index.d.ts
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-hydra/modes/hydra-ads-mode.ts
  platforms/ucp-minerva/modes/minerva-ads-mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  spec/ad-services/silver-surfer/silver-surfer.spec.ts
  src/ad-services/index.ts
  src/ad-services/silver-surfer/index.ts
  src/ad-services/silver-surfer/silver-surfer.loader.ts
  src/ad-services/taxonomy/taxonomy-service.ts
Labels: Enhancement, Minor change

#1021 ADEN-10771 add medianet prebid
  @types/pbjs/index.d.ts
  platforms/ucp-desktop/bidders/prebid/medianet.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  platforms/ucp/bidders/prebid/medianet.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/medianet.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#1024 ADEN-11011 - call for silver-surfer service for lazy loaded slots
  spec/ad-services/silver-surfer/silver-surfer.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/slot-service.ts
  src/ad-services/silver-surfer/index.ts
Labels: Patch change
