Repository Wikia/ad-engine, pull requests merged in 2021-03, with the labels that each got.

#965 SITE-270 | do not toggle sections in FandomMobile
  platforms/ucp-mobile/index.ts
Labels: Patch change

#976 ADEN-10793 | Prebid GroupM Appnexus Integration
  platforms/ucp-mobile/bidders/prebid/appnexus-group-m.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  platforms/ucp/bidders/prebid/appnexus-group-m.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  spec/ad-bidders/prebid/adapters/appnexus-group-m.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/appnexus-group-m.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#980 ADEN-10865 Feature to disable FloorAdhesion autohide
  platforms/shared/templates/handlers/close-to-hidden-ihi-button-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-on-viewability-handler.ts
  src/ad-products/templates/hide-on-viewability.ts
Labels: Bug, Enhancement, Minor change

#979 ADEN-10861 New interstitial skin v2.1
  @types/ads/index.d.ts
  platforms/shared/templates/handlers/close-to-redirect-button-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-bootstrap-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-click-listener-handler.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/ad-engine/services/bab-detection.ts
Labels: Bug, Enhancement, Minor change

#981 ADEN-10799 Start using ad-tag-manager tags from inlined data instead of additional call to the service
  @types/ads/index.d.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/setup/base-context.setup.ts
  src/ad-services/permutive/index.ts
Labels: Patch change

#982 ADEN-10892 New interstitial skin v2.2
  platforms/shared/templates/handlers/close-to-redirect-button-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-bootstrap-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-click-listener-handler.ts
  platforms/shared/templates/interstitial-template.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-service.ts
Labels: Enhancement, Minor change

#985 ADEN-10889 | Add original host name to AdUnitId 5th part on ucp-mobile
  @types/ads/index.d.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/ucp-mobile/ad-context.ts
Labels: Minor change

#984 ADEN-10873 Create UCP-Desktop bundle based on UCP bundle
  platforms/platforms.json
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/bidders/prebid/appnexus-ast.ts
  platforms/ucp-desktop/bidders/prebid/appnexus-group-m.ts
  platforms/ucp-desktop/bidders/prebid/appnexus.ts
  platforms/ucp-desktop/bidders/prebid/beachfront.ts
  platforms/ucp-desktop/bidders/prebid/index-exchange.ts
  platforms/ucp-desktop/bidders/prebid/kargo.ts
  platforms/ucp-desktop/bidders/prebid/mediagrid.ts
  platforms/ucp-desktop/bidders/prebid/nobid.ts
  platforms/ucp-desktop/bidders/prebid/one-video.ts
  platforms/ucp-desktop/bidders/prebid/openx.ts
  platforms/ucp-desktop/bidders/prebid/pubmatic.ts
  platforms/ucp-desktop/bidders/prebid/rubicon-display.ts
  platforms/ucp-desktop/bidders/prebid/rubicon.ts
  platforms/ucp-desktop/bidders/prebid/telaria.ts
  platforms/ucp-desktop/bidders/prebid/triplelift.ts
  platforms/ucp-desktop/bidders/prebid/verizon.ts
  platforms/ucp-desktop/bidders/prebid/wikia-video.ts
  platforms/ucp-desktop/bidders/prebid/wikia.ts
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-desktop/index.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
  platforms/ucp-desktop/setup/context/bill-the-lizard/ucp-desktop-bill-the-lizard.setup.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/affiliate-disclaimer-template.ts
  platforms/ucp-desktop/templates/bfaa-template.ts
  platforms/ucp-desktop/templates/bfab-template.ts
  platforms/ucp-desktop/templates/configs/outstream-config.ts
  platforms/ucp-desktop/templates/configs/register-ucp-desktop-uap-dom-elements.ts
  platforms/ucp-desktop/templates/handlers/affiliate-disclaimer/affiliate-disclaimer-ucp-desktop-handler.ts
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-desktop/templates/handlers/logo-replacement/logo-replacement-ucp-desktop-handler.ts
  platforms/ucp-desktop/templates/logo-replacement-template.ts
  platforms/ucp-desktop/templates/roadblock-template.ts
  platforms/ucp-desktop/templates/sticky-tlb-template.ts
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
  platforms/ucp-desktop/tsconfig.json
  platforms/ucp-desktop/ucp-desktop-ioc-setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
Labels: Enhancement, Minor change, Work in progress
