Repository Wikia/ad-engine, pull requests merged in 2021-07, with the labels that each got.

#1061 ADEN-11084 make adSlotEvent a global action
  src/ad-engine/models/ad-slot.ts
Labels: Enhancement, Patch change

#1058 ADEN-11088 fixed viewability for UAP
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-embedded-resolved-handler.ts
Labels: Minor change

#1062 ADEN-11115 Remove enableRealVu WikiConfig variable usage
  platforms/shared/setup/base-context.setup.ts
Labels: Enhancement, Minor change

#1057 ADEN-11064 Adding Instant Search Ads implementation
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp/ad-context.ts
  platforms/ucp/modes/ucp-ads.mode.ts
  src/ad-services/ad-marketplace/index.ts
  src/ad-services/index.ts
  src/ad-services/nielsen/index.ts
Labels: Enhancement, Minor change

#1064 ADEN-11117 Changing video ad units for ucp_mobile platform
  platforms/ucp-mobile/ad-context.ts
Labels: Enhancement, Minor change

#1065 ADEN-11066 | ucp-desktop: fix injecting incontent boxad ads
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  src/ad-products/utils/fmr-rotator.ts
Labels: Patch change

#1060 [ADEN-11092] ucp-mobile UAP 3.0 - remove transition state
  platforms/shared/index.ts
  platforms/shared/templates/handlers/close-to-embedded-resolved-button-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-timeout-without-scroll-handler.ts
  platforms/shared/templates/handlers/slot/slot-transition-new-template-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1066 ADEN-11123 | ucp-mobile UAP 3.0 - do not unstick BFAA on scroll
  platforms/shared/index.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-embedded-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-small-to-embedded-small-handler.ts
  platforms/ucp-mobile/templates/bfaa-new-template.ts
Labels: Minor change

#1067 ADEN-11118 Distroscale changes on FandomDesktop
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
Labels: Minor change

#1059 ADEN-10982 use top and bottom leaderboard placeholders
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Minor change

#1069 ADEN-11136 - iPhone fullscreen video bug fix
  src/ad-products/video/player/porvata/porvata.ts
  src/ad-products/video/porvata4/native-fullscreen.ts
Labels: Patch change

#1070 ADEN-11135 Disable Search Ads by Wiki Config variable
  src/ad-services/ad-marketplace/index.ts
Labels: Enhancement, Minor change

#1072 ADEN-11133 Adding FandomMobile ads labels
  platforms/ucp-mobile/styles.scss
Labels: Enhancement, Minor change

#1076 ADEN-11064-2 Disable Instant Search Ads for logged users
  src/ad-services/ad-marketplace/index.ts
Labels: Enhancement, Minor change

#1068 SITE-733 | Emit AdSlot.HIDDEN_EVENT when floor adhesion hides
  platforms/shared/templates/handlers/slot/slot-hidden-handler.ts
Labels: Patch change

#1074 ADEN-11134 Hide TLB placeholder on collapse + placeholders cleanup
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/styles.scss
  src/ad-products/common/index.ts
Labels: Enhancement, Minor change

#1079 ADEN-11161 Correct Instant Search Ads "partner" parameter
  src/ad-services/ad-marketplace/index.ts
Labels: Bug, Patch change

#1077 ADEN-11139 Pass "uap" keyval to Featured Video calls
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp/setup/context/slots/ucp-slots-context.setup.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Enhancement, Major change

#1075 ADEN-11045 | feat: UAP embedded placeholder size always big
  platforms/shared/styles/uap/_bfaa-embedded.scss
  platforms/shared/styles/uap/_bfaa-sticky-big.scss
  platforms/shared/styles/uap/_bfaa-sticky-small.scss
  platforms/shared/styles/uap/_bfaa-with-infobox.scss
  platforms/shared/templates/handlers/slot/slot-position-embedded-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-small-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/ucp-mobile/styles.scss
Labels: Enhancement, Minor change
