Repository Wikia/ad-engine, pull requests merged in 2021-02, with the labels that each got.

#956 ADEN-10723 | UCP-NO-ADS ad-engine platform
  @types/ads/index.d.ts
  platforms/platforms.json
  platforms/shared/context/base/ucp-base-context.setup.ts
  platforms/shared/context/wiki/ucp-wiki-context.setup.ts
  platforms/shared/index.ts
  platforms/shared/services/no-ads-detector.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-hydra/ucp-hydra-platform.ts
  platforms/ucp-minerva/ucp-minerva-platform.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp-mobile/setup/context/wiki/ucp-mobile-wiki-context.setup.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  platforms/ucp-no-ads/index.ts
  platforms/ucp-no-ads/no-ads-mode.ts
  platforms/ucp-no-ads/setup/wiki-context.setup.ts
  platforms/ucp-no-ads/styles.scss
  platforms/ucp-no-ads/ucp-no-ads-platform.ts
  platforms/ucp/ucp-platform.ts
Labels: Major change

#952 ADEN-10713 Adding MediaGrid bidder and JWPlayer RDP integration
  @types/pbjs/index.d.ts
  platforms/ucp-mobile/bidders/prebid/mediagrid.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  platforms/ucp/bidders/prebid/mediagrid.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/aol.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/beachfront.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/kargo.ts
  src/ad-bidders/prebid/adapters/mediagrid.ts
  src/ad-bidders/prebid/adapters/one-video.ts
  src/ad-bidders/prebid/adapters/onemobile.ts
  src/ad-bidders/prebid/adapters/openx.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/telaria.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Enhancement, Minor change

#962 ADEN-10751 | UCP-mobile: top leaderboard placeholder
  @types/ads/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change

#969 ADEN-10831 Fixing one-pixel impact image visible issue
  platforms/shared/templates/helpers/uap-dom-manager.ts
Labels: Bug, Patch change

#963 ADEN-10814 Fixing bids refreshing + cleanup
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp/ad-context.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/bidder-provider.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-engine/services/context-service.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change

#964 ADEN-10750 | UCP-mobile: implement TLB placeholder on pages with infoboxes
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-no-ads/no-ads-mode.ts
Labels: Patch change

#966 SITE-270 | Only uncollapse sections, prevent toggling
  platforms/ucp-mobile/index.ts
Labels: Patch change

#968 ADEN-10814 Removing TrackingOptInWrapper timeout path
  platforms/futhead/ad-context.ts
  platforms/muthead/ad-context.ts
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  platforms/ucp-hydra/ad-context.ts
  platforms/ucp-minerva/ad-context.ts
Labels: Bug, Enhancement, Minor change

#971 ADEN-10812 Adding New Interstitial implementation
  platforms/shared/styles/out-of-page/_interstitial.scss
  platforms/shared/templates/handlers/close-to-redirect-button-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-bootstrap-handler.ts
  platforms/shared/templates/handlers/interstitial/interstitial-click-listener-handler.ts
  platforms/shared/templates/interstitial-template.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Enhancement, Minor change

#972 ADEN-10812-2 Close FloorAdhesion if Interstitial is loaded
  platforms/shared/templates/handlers/interstitial/interstitial-click-listener-handler.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp/setup/dynamic-slots/ucp-dynamic-slots.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/events.ts
  src/ad-tracking/slot-tracker.ts
Labels: Bug, Patch change

#974 [UCP] Use services.fandom.com for bill-the-lizard and ICBM
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-no-ads/setup/wiki-context.setup.ts
  platforms/ucp/ad-context.ts
Labels: Patch change

#973 ADEN-10822 | UCP-mobile: add incontent ads placeholders
  @types/ads/index.d.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-no-ads/no-ads-mode.ts
Labels: Patch change

#975 ADEN-10842 | Logo Replacement 2.0: add padding between assets
  platforms/f2/styles.scss
  platforms/ucp-hydra/styles.scss
  platforms/ucp-mobile/styles.scss
  platforms/ucp/styles.scss
  src/ad-products/styles/_mixin.scss
Labels: Patch change

#977 ADEN-10829 Adding IncontentPlayer placeholder
  @types/ads/index.d.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/styles.scss
Labels: Enhancement, Minor change

#970 ADEN-10788 Removing AOL and OneMobile Prebid adapters
  platforms/ucp-mobile/bidders/prebid/aol.ts
  platforms/ucp-mobile/bidders/prebid/one-mobile.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  platforms/ucp/bidders/prebid/aol.ts
  platforms/ucp/bidders/prebid/one-mobile.ts
  platforms/ucp/setup/context/prebid/ucp-prebid-config.setup.ts
  spec/ad-bidders/prebid/adapters/aol.spec.ts
  spec/ad-bidders/prebid/adapters/onemobile.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/aol.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/onemobile.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Enhancement, Minor change

#967 ADEN-10808 remove LiveRamp integration
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  spec/ad-bidders/prebid/ats/ats.spec.ts
  spec/ad-bidders/prebid/live-ramp/live-ramp.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/ats/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/live-ramp/index.ts
  src/ad-bidders/prebid/live-ramp/live-ramp.ts
  src/ad-engine/services/pbjs-factory.ts
Labels: Minor change

#978 ADEN-10862 Apply top_leaderboard to all_ads page type
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change
