Repository Wikia/ad-engine, pull requests merged in 2022-06, with the labels that each got.

#1431 ADEN-11882 Limiting TLB sizes on FV pages
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Minor change, Enhancement

#1433 ADEN-11901 Adjustments for NTC on Main pages
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change, Bug, Enhancement

#1432 ADEN-11799 | Integrating prebid native ads from AppNexus
  @types/pbjs/index.d.ts
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/bidders/prebid/appnexus.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/bidders/prebid/appnexus.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/native/index.ts
  src/ad-bidders/prebid/native/native-models.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
  src/ad-engine/providers/nativo/nativo.ts
  src/communication/event-types.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Patch change

#1429 ADEN-11824 | Change id sent from liveConnect to sha2
  src/ad-services/live-connect/index.ts
Labels: Minor change

#1436 ADEN-11904 Making custom player video adUnit always available
  @types/ads/index.d.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
Labels: Minor change, Enhancement

#1438 ADEN-11906 remove unused code
  src/ad-tracking/click-tracker.ts
Labels: Patch change

#1443 ADEN-11882-2 Size reduction cleanup
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Patch change

#1439 ADEN-11824 reporting both sha2 and unifiedId
  src/ad-services/live-connect/index.ts
Labels: Patch change

#1274 ADEN-11560 implemented outstream experiment logic
  platforms/shared/experiments/experiment.ts
  platforms/shared/experiments/outstream-experiment.ts
  platforms/shared/index.ts
  platforms/shared/setup/base-context.setup.ts
  spec/platforms/shared/experiments/experiment.spec.ts
  spec/platforms/shared/experiments/outstream-experiment.spec.ts
Labels: Minor change

#1441 ADEN-11954 Audigent changes
  platforms/shared/modes/start-ad-engine.ts
  platforms/shared/setup/base-context.setup.ts
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-services/audigent/index.ts
Labels: Minor change

#1437 ADEN-11938 use loader context set up variables
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/f2/f2-platform.ts
  platforms/shared/index.ts
  platforms/shared/setup/platform-context.setup.ts
  platforms/shared/setup/tracking-parameters.setup.ts
  platforms/sports/ad-context.ts
  platforms/sports/sports-platform.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  platforms/ucp-no-ads/setup/wiki-context.setup.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  src/ad-services/instant-config/instant-config.loader.ts
Labels: Patch change

#1450 ADEN-11914 | Add tests to prebid native
  spec/ad-bidders/prebid/native/prebid-native-config.spec.ts
  spec/ad-bidders/prebid/native/prebid-native-provider.spec.ts
  src/ad-bidders/prebid/native/native-models.ts
  src/ad-bidders/prebid/native/prebid-native-config.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
Labels: Patch change

#1446 ADEN-11849 | Improve prebid native media types
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/native/prebid-native-config.spec.ts
  spec/ad-bidders/prebid/native/prebid-native-provider.spec.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/native/index.ts
  src/ad-bidders/prebid/native/native-models.ts
  src/ad-bidders/prebid/native/prebid-native-config.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
Labels: Patch change

#1453 ADEN-11979 Introduce new page-level key-val from IAS
  spec/ad-services/ias-publisher-optimization/ias-publisher-optimization.spec.ts
  src/ad-services/ias-publisher-optimization/index.ts
Labels: Minor change

#1444 ADEN 11817 - add slots for quizes questions
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/ad-tracking/click-tracker.ts
Labels: Patch change
