Repository Wikia/ad-engine, pull requests merged in 2022-02, with the labels that each got.

#1243 ADEN-11488 bump prebid.js to v6.9 :noice:
  @types/pbjs/index.d.ts
  src/ad-bidders/prebid/prebid-settings.ts
Labels: Minor change

#1247 ADEN-10900 Setting Google and Celtra interstitials frequency cap
  platforms/shared/utils/email-validator.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  spec/ad-bidders/prebid/adapters/openx.spec.ts
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  spec/ad-engine/providers/gpt-size-map.spec.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/utils/targeting.ts
  src/ad-services/instant-config/instant-config.loader.ts
  src/ad-tracking/slot-tracker.ts
  src/communication/event-types.ts
Labels: Minor change, Enhancement

#1252 ADEN-11567 Use a flag from GAM creative to force special ad unit for video
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Minor change

#1254 ADEN-11425 add Anyclip partner
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-services/anyclip/index.ts
  src/ad-services/index.ts
Labels: Minor change

#1251 ADEN-11428 Removing Duration Media important CSS rules
  platforms/shared/styles/uap/_bfaa-slot.scss
  platforms/ucp-desktop/styles.scss
Labels: Minor change, Enhancement

#1258 ADEN-11466 Upgrading @wikia/dependency-injection
  package-lock.json
  package.json
Labels: Patch change, Enhancement

#1261 ADEN-11562 Adjusting NoAds mode
  platforms/shared/index.ts
  platforms/shared/modes/no-ads/no-ads.mode.ts
  platforms/shared/modes/no-ads/ucp-no-ads.mode.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  platforms/ucp-no-ads/ucp-no-ads-platform.ts
Labels: Minor change

#1253 ADEN-11565 UAP improvements
  platforms/shared/styles/uap-porvata/_uap-porvata-right-position.scss
  platforms/shared/templates/handlers/video/video-bootstrap-handler.ts
  platforms/sports/styles.scss
  spec/ad-products/templates/interface/listeners/player-overlay-click-listener.spec.ts
  spec/ad-products/templates/uap/ui/ui-template.spec.ts
  spec/ad-products/templates/uap/universal-ad-package.spec.ts
  src/ad-products/styles/_mixin.scss
  src/ad-products/styles/_uap.scss
  src/ad-products/templates/interface/listeners/player-overlay-click-listener.ts
  src/ad-products/templates/interface/video/player-overlay.ts
  src/ad-products/templates/interface/video/ui-elements.ts
  src/ad-products/templates/interface/video/ui-template.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/video/porvata/porvata-player.ts
  src/ad-tracking/click-tracker.ts
  src/communication/event-types.ts
Labels: Minor change

#1255 ADEN-11551 Clip UAP using height instead of clip-path
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Minor change, Bug, Enhancement

#1262 ADEN-11576 Add internal tracking for nativo ads
  src/ad-engine/models/ad-slot.ts
  src/ad-services/nativo/index.ts
Labels: Patch change

#1264 ADEN-11524 Simple try to push 3rdpersonshooter tag manually
  @types/window/index.d.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1260 ADEN-11573 Fixing selectors for desktop and mobile unification
  platforms/ucp-desktop/templates/configs/register-ucp-desktop-uap-dom-elements.ts
  platforms/ucp-desktop/templates/handlers/logo-replacement/logo-replacement-ucp-desktop-handler.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/configs/outstream-config.ts
  platforms/ucp-mobile/templates/configs/register-ucp-mobile-uap-dom-elements.ts
  platforms/ucp-mobile/templates/handlers/logo-replacement/logo-replacement-ucp-mobile-handler.ts
Labels: Minor change, Enhancement

#1267 ADEN-11531 Adding Load Time tracking
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/sports/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
Labels: Minor change, Enhancement

#1272 ADEN-11588 added centering ad for cdm-zone-04 id
  platforms/sports/styles.scss
Labels: Minor change

#1270 Implement Identity Hub Script
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-bidders/prebid/identity-hub/index.ts
Labels: Minor change

#1271 ADEN-11545 Disable StickyTLB if AdBlock is enabled
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
  src/ad-engine/services/bab-detection.ts
Labels: Minor change, Enhancement

#1266 ADEN-11425 update fandom credentials for anyclip
  platforms/ucp-desktop/ad-context.ts
Labels: Patch change

#1259 ADEN-11427 Connatix integration
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  spec/ad-services/connatix/connatix.spec.ts
  spec/ad-services/connatix/test_doubles/connatix-player-spy.ts
  spec/ad-services/connatix/test_doubles/player-injector-spy.ts
  spec/ad-services/connatix/test_doubles/script-loader-spy.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-services/connatix/connatix-player.ts
  src/ad-services/connatix/index.ts
  src/ad-services/connatix/player-injector.ts
  src/ad-services/index.ts
Labels: Minor change

#1276 ADEN-11585 Rafactoring custom companion sizes
  platforms/f2/f2-platform.ts
  platforms/f2/setup/context/base/f2-base-context.setup.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/templates/handlers/bfaa/bfaa-f2-config-handler.ts
  platforms/shared/index.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/slots/slots-context.ts
  platforms/sports/setup/context/slots/sports-slots-context.setup.ts
  platforms/sports/setup/dynamic-slots/sports-dynamic-slots-setup.service.ts
  platforms/sports/setup/dynamic-slots/sports-dynamic-slots.setup.ts
  platforms/sports/setup/dynamic-slots/sports-slots-definition-repository.ts
  platforms/sports/sports-platform.ts
  platforms/sports/templates/handlers/bfaa/bfaa-sports-config-handler.ts
  platforms/ucp-desktop/setup/context/base/ucp-desktop-base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-products/templates/uap/constants.ts
Labels: Major change, Bug, Enhancement

#1277 ADEN-11511 | lazy loading nativo incontent slot
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/ad-services/index.ts
  src/ad-services/nativo/lazy-loader.ts
Labels: Minor change

#1278 ADEN-11598 Disable slot repeating if it was force_collapsed
  platforms/shared/utils/placeholder-service.ts
Labels: Minor change, Bug, Enhancement

#1281 ADEN-11604 Add event for Newsletter Form submission
  platforms/shared/utils/collapsed-messages/newsletter-form-box.ts
Labels: Patch change

#1282 ADEN-11519 Cleanup after header and footer unification
  platforms/ucp-desktop/templates/configs/register-ucp-desktop-uap-dom-elements.ts
  platforms/ucp-desktop/templates/handlers/logo-replacement/logo-replacement-ucp-desktop-handler.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/configs/outstream-config.ts
  platforms/ucp-mobile/templates/configs/register-ucp-mobile-uap-dom-elements.ts
  platforms/ucp-mobile/templates/handlers/logo-replacement/logo-replacement-ucp-mobile-handler.ts
  src/ad-services/ad-marketplace/index.ts
Labels: Minor change, Enhancement

#1280 ADEN-11597 Removing lodash from AdEngine
  configs/babel-app.config.js
  package-lock.json
  package.json
  platforms/shared/templates/helpers/manipulators/element-manipulator.ts
  spec/ad-products/video/jwplayer/streams/jwplayer-stream-state.spec.ts
  src/ad-bidders/prebid/price-helper.ts
  src/ad-engine/log-version.ts
  src/ad-engine/services/btf-blocker-service.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.ts
  src/ad-services/silver-surfer/silver-surfer.loader.ts
  tsconfig.json
  webpack.common.js
Labels: Major change

#1283 ADEN-11605 Enable StickyTLB on pages with FV
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
Labels: Major change, Enhancement

#1284 ADEN-11599 fix nativo events handling
  @types/nativo/index.d.ts
  src/ad-services/nativo/index.ts
Labels: Minor change

#1287 ADEN-11610 | Add params to audigent urls
  src/ad-services/audigent/index.ts
Labels: Minor change
