Repository Wikia/ad-engine, pull requests merged in 2022-11, with the labels that each got.

#1582 ADEN-12161 Adding new bidder Ogury
  spec/ad-bidders/prebid/adapters/ogury.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/ogury.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
  src/core/models/ad-slot.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/ogury.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  src/platforms/ucp-mobile/templates/handlers/floor-adhesion/floor-adhesion-bootstrap-handler.ts
Labels: Minor change, Enhancement

#1593 ADEN-12076 Disabling ads for logged users
  @types/ads/index.d.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/shared/modes/no-ads/no-ads.mode.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/platforms/ucp-no-ads/setup/wiki-context.setup.ts
  src/platforms/ucp-no-ads/ucp-no-ads-platform.ts
Labels: Major change

#1598 ADEN-12061 Preparing StickyICB for the experiment
  src/ad-tracking/slot-tracker.ts
  src/core/models/ad-slot.ts
  src/core/services/index.ts
  src/core/services/slot-impact-watcher.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/platforms/ucp-mobile/styles.scss
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-incontent-sticked-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-waiting-to-incontent-sticky-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/sticky-icb-bootstrap-handler.ts
Labels: Minor change

#1599 ADEN-12241 Add tracking for Anyclip player
  spec/ad-products/tracking/video/anyclip-tracker.spec.ts
  src/ad-products/index.ts
  src/ad-products/tracking/video/anyclip/anyclip-tracker.ts
  src/ad-products/tracking/video/porvata-tracker.ts
  src/ad-services/anyclip/index.ts
  src/core/video/index.ts
  src/core/video/video-tracker.interface.ts
  src/platforms/shared/setup/player-experiment.setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
Labels: Patch change

#1594 ADEN-12231 - Added frontend integration with IdentityStorage
  spec/ad-services/user-identity/adms-strategy.spec.ts
  spec/ad-services/user-identity/identity-storage-strategy.spec.ts
  spec/ad-services/user-identity/local-storage-strategy.spec.ts
  spec/ad-services/user-identity/user-identity.spec.ts
  src/ad-services/user-identity/adms-identity-repository/adms-client.ts
  src/ad-services/user-identity/identity-repositories.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-dto.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-service.ts
  src/ad-services/user-identity/identity-storage-repository/index.ts
  src/ad-services/user-identity/index.ts
  src/ad-services/user-identity/utils/service-base-url.ts
Labels: Patch change

#1597 ADEN-12194 Refactor targeting strategies
  @types/fandom/index.d.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/prefix-decorator.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/tags-plain-sum-builder.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-selected-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/common-targeting-params.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/optional-targeting-params.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-provider.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/common-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/prefix-decorator.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-plain-sum-builder.ts
  src/platforms/shared/context/targeting/ucp-targeting.setup.ts
Labels: Patch change

#1605 ADEN-12368 Remove 'vertical' variable from Targeting
  @types/ads/index.d.ts
  @types/fandom/index.d.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
Labels: Patch change

#1613 ADEN-12439 Initial bundle for Gamespot site
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/index.ts
  src/platforms/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/gamespot/setup/dynamic-slots/gamespot-dynamic-slots.setup.ts
  src/platforms/gamespot/styles.scss
  src/platforms/platforms.json
Labels: Patch change

#1607 ADEN-12438 Create a bundle for GameFAQs and Gamespot
  src/platforms/gamefaqs/ad-context.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/index.ts
  src/platforms/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
  src/platforms/gamefaqs/setup/dynamic-slots/gamefaqs-dynamic-slots.setup.ts
  src/platforms/gamefaqs/styles.scss
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/index.ts
  src/platforms/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/gamespot/setup/dynamic-slots/gamespot-dynamic-slots.setup.ts
  src/platforms/gamespot/styles.scss
  src/platforms/platforms.json
Labels: Minor change

#1611 ADEN-12355 short/long page
  @types/ads/index.d.ts
  @types/fandom/index.d.ts
  spec/core/utils/targeting.spec.ts
  spec/core/utils/word-counter.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  src/ad-tracking/compilers/page-tracking-compiler.ts
  src/core/utils/index.ts
  src/core/utils/targeting.ts
  src/core/utils/word-counter.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/common-targeting-params.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
  src/platforms/ucp-desktop/setup/context/base/ucp-desktop-base-context.setup.ts
  src/platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
Labels: Don't merge, Minor change

#1614 ADEN-12460 Fix blocking preroll for the first video
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
Labels: Patch change

#1620 Revert "ADEN-12460 Fix blocking preroll for the first video (#1614)"
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
Labels: Patch change

#1621 ADEN-12460 Fix blocking preroll for the first video
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
Labels: Patch change

#1615 ADEN-12441 Create new platform - Comicvine
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/comicvine/index.ts
  src/platforms/comicvine/setup/context/slots/comicvine-slots-context.setup.ts
  src/platforms/comicvine/setup/dynamic-slots/comicvine-dynamic-slots.setup.ts
  src/platforms/comicvine/styles.scss
  src/platforms/platforms.json
Labels: Minor change

#1617 ADEN-12440 Add initial Giant Bomb bundle
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/giantbomb/index.ts
  src/platforms/giantbomb/setup/context/slots/giantbomb-slots-context.setup.ts
  src/platforms/giantbomb/setup/dynamic-slots/giantbomb-dynamic-slots.setup.ts
  src/platforms/giantbomb/styles.scss
  src/platforms/platforms.json
Labels: Minor change, Patch change

#1624 Aden 12430
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#1618 ADEN-12412 sponsored videos
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-services/user-identity/adms-identity-repository/adms-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/core/utils/index.ts
  src/core/utils/service-base-url.ts
Labels: Patch change

#1622 ADEN-12452 Preroll changes
  .github/workflows/package-size-report.yml
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-services/user-identity/adms-identity-repository/adms-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/core/utils/index.ts
  src/core/utils/service-base-url.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#1606 ADEN-12349 Prebid Module initial cleanup
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/price-helper.ts
  src/platforms/ucp-desktop/bidders/prebid/pubmatic.ts
Labels: Minor change

#1626 Revert "ADEN-12349 Prebid Module initial cleanup"
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/price-helper.ts
  src/platforms/ucp-desktop/bidders/prebid/pubmatic.ts
Labels: Patch change

#1625 ADEN-12452 Improve 1st video preroll behaviour
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
Labels: Patch change

#1627 ADEN-12349 Revert-revert
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/price-helper.ts
  src/platforms/ucp-desktop/bidders/prebid/pubmatic.ts
Labels: Patch change

#1629 ADEN-12452 Improve 1st video preroll behaviour
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.spec.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-sponsored-video.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/core/utils/script-loader.ts
Labels: Patch change

#1628 ADEN-12456 Hold on with requesting ads until you get the consent
  src/platforms/gamefaqs/gamefaqs-platform.ts
Labels: Patch change

#1630 ADEN-12394 Extend Eyeota pixel payload with fandom context tags data
  @types/fandom/index.d.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-services/eyeota/index.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/prefix-decorator.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.ts
Labels: Minor change
