Repository Wikia/ad-engine, pull requests merged in 2022-07, with the labels that each got.

#1454 ADEN-11986 Send adengadinfo event to DW when rendered ad with prebid-native-provider
  src/ad-bidders/prebid/native/prebid-native-provider.ts
Labels: Patch change

#1456 ADEN-12005 Keep checking global var from Audigent up to 4s
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1455 ADEN-11617 to ADEN-11823 - the complete page level tags targeting solution
  platforms/shared/context/targeting/targeting-strategies/builders/legacy-site-context-strategy-builder.ts
  platforms/shared/context/targeting/targeting-strategies/configurators/targeting-strategies-configurator.ts
  platforms/shared/context/targeting/targeting-strategies/configurators/targeting-strategy-priorities-configurator.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/priority-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/default-only-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/page-tags-first-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/site-tags-first-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/site-tags-only-priority.ts
  platforms/shared/context/targeting/targeting-strategies/services/targeting-strategy-priority-service.ts
  platforms/shared/context/targeting/targeting-strategy-executor.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  spec/platforms/shared/context/targeting/targeting-strategies/services/targeting-strategy-priority-service.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategy-executor.spec.ts
  spec/platforms/shared/context/test_doubles/targeting-strategies/builders/default-strategy-builder.mock.ts
  spec/platforms/shared/context/test_doubles/targeting-strategies/builders/strategy-builder.mock.ts
Labels: Patch change

#1460 ADEN-12014 Register listener sooner
  src/ad-services/audigent/index.ts
Labels: Patch change

#1448 ADEN-11823 - Page Level Targeting Part I
  .gitignore
  platforms/shared/context/targeting/targeting-strategies/README.md
  platforms/shared/context/targeting/targeting-strategies/builders/legacy-site-context-strategy-builder.ts
  platforms/shared/context/targeting/targeting-strategies/builders/page-context-strategy-builder.ts
  platforms/shared/context/targeting/targeting-strategies/configurators/targeting-strategies-configurator.ts
  platforms/shared/context/targeting/targeting-strategies/configurators/targeting-strategy-priorities-configurator.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/priority-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/strategy-builder.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/interfaces/window-context-dto.ts
  platforms/shared/context/targeting/targeting-strategies/models/context.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/default-only-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/page-tags-first-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/site-tags-first-priority.ts
  platforms/shared/context/targeting/targeting-strategies/priorities-strategies/site-tags-only-priority.ts
  platforms/shared/context/targeting/targeting-strategies/services/targeting-strategy-priority-service.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/common-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
  platforms/shared/context/targeting/targeting-strategy-executor.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  spec/platforms/shared/context/targeting/targeting-strategies/services/targeting-strategy-priority-service.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategy-executor.spec.ts
  spec/platforms/shared/context/test_doubles/targeting-strategies/builders/strategy-builder.mock.ts
  spec/platforms/shared/context/test_doubles/targeting-strategies/strategies/defautl-strategy.spy.ts
  spec/platforms/shared/sequential-messaging/infrastructure/gam-targeting-manager.spec.ts
  spec/platforms/shared/test_doubles/context.spy.ts
Labels: Patch change

#1447 ADEN-s2s Testing pgRubicon setup
  @types/pbjs/index.d.ts
  platforms/ucp-desktop/bidders/prebid/rubicon-pg.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  platforms/ucp-mobile/bidders/prebid/rubicon-pg.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  spec/ad-engine/services/pbjs.stub.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/rubicon-pg.ts
  src/ad-bidders/prebid/index.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change, Enhancement

#1461 ADEN-11972-v2 Improve NTC with opacity transition
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
Labels: Patch change

#1458 ADEN-11907 NTC on F2
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/f2/styles.scss
  platforms/f2/templates/f2-templates.setup.ts
  platforms/f2/templates/floor-adhesion-template.ts
  platforms/f2/templates/handlers/bfaa/bfaa-f2-config-handler.ts
  platforms/f2/templates/handlers/floor-adhesion/floor-adhesion-bootstrap-handler.ts
Labels: Patch change

#1463 ADEN-12025 | Change the order of loading audigent script
  src/ad-services/audigent/index.ts
Labels: Patch change

#1466 ADEN-12032 Hotfixing IAS P1
  platforms/shared/context/targeting/ucp-targeting.setup.ts
Labels: Patch change

#1464 ADEN-11994 Removing unused AdInfo and Video tracking parameters
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/tracking/slot-properties-tracking-middleware.spec.ts
  spec/ad-engine/tracking/slot-tracking-middleware.spec.ts
  spec/ad-engine/tracking/viewability-properties-tracking-middleware.spec.ts
  spec/ad-engine/utils/document.spec.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  spec/ad-engine/video/vast-parser.spec.ts
  spec/ad-products/tracking/video/video-event-data-provider.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/listeners/listeners.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
  src/ad-engine/tracking/viewability-properties-tracking-middleware.ts
  src/ad-engine/utils/document.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Don't merge, Minor change, Enhancement

#1467 ADEN-12004 | Add prebid native impression and click trackers
  spec/ad-bidders/prebid/native/prebid-native-provider.spec.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/native/index.ts
  src/ad-bidders/prebid/native/native-models.ts
  src/ad-bidders/prebid/native/prebid-native-config.ts
  src/ad-bidders/prebid/native/prebid-native-helper.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
Labels: Minor change, Patch change

#1469 ADEN-12032 IAS PO key values dropped delivery
  platforms/shared/context/targeting/targeting-strategies/builders/page-context-strategy-builder.ts
  platforms/shared/context/targeting/targeting-strategies/configurators/targeting-strategy-priorities-configurator.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
Labels: Minor change

#1474 ADEN-12030 Added PpidAdmsStorage flag
  @types/silver-surfer/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#1476 ADEN-11996 | Track additional load times
  platforms/shared/tracking/models/tracking-params.ts
  src/ad-engine/services/load-times-service.ts
  src/ad-services/live-connect/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1478 ADEN-12050 | Add a testing variable for audigent
  platforms/shared/setup/base-context.setup.ts
  src/ad-engine/providers/gpt-targeting.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1475 ADEN-12020 featuredVideo data source change
  platforms/shared/context/targeting/targeting-strategies/strategies/common-strategy.ts
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
  src/ad-bidders/prebid/adapters/mediagrid.ts
  src/ad-bidders/prebid/index.ts
Labels: Patch change

#1479 ADEN-12028 Add '_p' prefix to page level tags
  platforms/shared/context/targeting/targeting-strategies/interfaces/page-level-tags.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
Labels: Patch change

#1480 ADEN-12026 - Track targeting key-vals in DW
  platforms/shared/tracking/models/tracking-params.ts
  platforms/shared/tracking/tracking.setup.ts
  src/ad-services/audigent/index.ts
Labels: Minor change

#1473 ADEN-12012 Send liveConnect events to DW + add load times service
  platforms/shared/index.ts
  platforms/shared/setup/load-times.setup.ts
  platforms/shared/tracking/models/tracking-params.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  src/ad-engine/services/index.ts
  src/ad-engine/services/load-times-service.ts
  src/ad-services/live-connect/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1481 ADEN-12036 - Improved setting PPID process
  src/ad-engine/providers/gpt-provider.ts
Labels: Patch change

#1472 ADEN-11994 Removing unused AdInfo and Video tracking parameters (#1464)
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/tracking/slot-properties-tracking-middleware.spec.ts
  spec/ad-engine/tracking/slot-tracking-middleware.spec.ts
  spec/ad-engine/tracking/viewability-properties-tracking-middleware.spec.ts
  spec/ad-engine/utils/document.spec.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  spec/ad-engine/video/vast-parser.spec.ts
  spec/ad-products/tracking/video/video-event-data-provider.spec.ts
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-engine/listeners/listeners.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/tracking/slot-properties-tracking-middleware.ts
  src/ad-engine/tracking/viewability-properties-tracking-middleware.ts
  src/ad-engine/utils/document.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Minor change
