Repository Wikia/ad-engine, pull requests merged in 2022-10, with the labels that each got.

#1563 ADEN-12189 Add LI to N&S
  @types/live-connect/index.d.ts
  platforms/f2/modes/f2-ads-mode-deprecated.service.ts
  platforms/f2/modes/f2-ads-mode.service.ts
  platforms/shared/setup/base-context.setup.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  src/ad-engine/services/local-cache.ts
  src/ad-engine/services/universal-storage.ts
  src/ad-products/templates/uap/resolved-state-switch.ts
  src/ad-services/live-connect/index.ts
Labels: Patch change

#1558 ADEN-12262 Switching Confiant script
  src/ad-services/confiant/index.ts
Labels: Patch change, Enhancement

#1562 ADEN-12247 | Remove ad marketplace
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/ad-services/ad-marketplace/index.ts
  src/ad-services/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1566 ADEN-12278 Add feature flag for collapse messages AKA MessageBox
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/utils/collapsed-messages/message-box-service.ts
  platforms/shared/utils/collapsed-messages/message-box.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  spec/platforms/shared/utils/collapsed-messages/message-box-service.spec.ts
Labels: Patch change

#1559 ADEN-12244 Adding StickyICB template
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/platforms/ucp-mobile/styles.scss
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-incontent-sticked-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-waiting-to-incontent-sticky-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/sticky-icb-bootstrap-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/sticky-icb-disabled-handler.ts
  src/platforms/ucp-mobile/templates/sticky-icb-template.ts
  src/platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
Labels: Minor change, Enhancement

#1572 ADEN-lcfix Fixing wrong LiveConnect isEnabled()
  src/ad-services/live-connect/index.ts
Labels: Patch change

#1577 ADEN-12171 | case insensitive VIDEO_TIER_3 bundle recognition
  spec/core/utils/targeting.spec.ts
  src/core/utils/targeting.ts
Labels: Patch change

#1570 ADEN-12266 Small adjustments to Wikia Prebid adapter
  spec/ad-bidders/prebid/adapters/wikia.spec.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/platforms/ucp-desktop/bidders/prebid/wikia.ts
Labels: Patch change, Enhancement

#1576 ADEN-12160 Adding Media.Net display configuration
  spec/ad-bidders/prebid/adapters/medianet.spec.ts
  src/ad-bidders/prebid/adapters/medianet.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-desktop/bidders/prebid/medianet.ts
  src/platforms/ucp-mobile/bidders/prebid/medianet.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Minor change, Enhancement

#1580 ADEN-12171 do not add existing bundles
  spec/core/utils/targeting.spec.ts
  src/core/utils/targeting.ts
Labels: Patch change

#1581 ADEN-12308 - Removed unnecessary waiting for GPT from IAS
  src/ad-services/ias-publisher-optimization/index.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
Labels: Patch change

#1584 ADEN-12275 - Added GDPR consent to Eyeota string
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-services/eyeota/index.ts
  src/platforms/ucp-mobile/ucp-mobile-legacy-setup.ts
Labels: Patch change

#1583 ADEN-12273 - Added reporting failed pixel loading in Eyeota
  src/ad-services/eyeota/index.ts
  src/communication/event-types.ts
  src/platforms/shared/tracking/load-times-tracker.ts
Labels: Patch change

#1575 ADEN-12303 Extend Load Times Tracking to Fut, Mut and F2
  src/platforms/f2/f2-platform.ts
  src/platforms/sports/sports-platform.ts
Labels: Patch change

#1509 ADEN-12097 Refactored BaseServiceSetup into Decorator
  spec/core/pipeline/imps/partner-pipeline/partner-pipeline.spec.ts
  spec/core/runner/runner.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
  src/ad-products/index.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jw-player.ts
  src/ad-services/audigent/index.ts
  src/ad-services/confiant/index.ts
  src/ad-services/duration-media/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/facebook-pixel/index.ts
  src/ad-services/ias-publisher-optimization/index.ts
  src/ad-services/index.ts
  src/ad-services/live-connect/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/ad-services/nielsen/index.ts
  src/ad-services/stroer/index.ts
  src/ad-services/user-identity/index.ts
  src/core/ad-engine.ts
  src/core/index.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/pipeline/imps/partner-pipeline/index.ts
  src/core/pipeline/imps/partner-pipeline/partner-pipeline-types.ts
  src/core/pipeline/imps/partner-pipeline/partner-pipeline.ts
  src/core/pipeline/imps/service-pipeline/index.ts
  src/core/pipeline/imps/service-pipeline/pipeline-service-decorator.ts
  src/core/pipeline/imps/service-pipeline/service-pipeline-types.ts
  src/core/pipeline/imps/service-pipeline/service-pipeline.service.ts
  src/core/runner/index.ts
  src/core/runner/runner.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/f2/modes/f2-ads-mode-deprecated.service.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/shared/index.ts
  src/platforms/shared/modes/start-ad-engine.ts
  src/platforms/shared/services/wad-runner.ts
  src/platforms/shared/setup/ad-engine.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/shared/setup/player-experiment.setup.ts
  src/platforms/shared/setup/player.setup.ts
  src/platforms/sports/modes/ads/sports-ads-deprecated.mode.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  src/platforms/ucp-desktop/ucp-desktop-ad-layout-setup.ts
  src/platforms/ucp-desktop/ucp-desktop-legacy-setup.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/platforms/ucp-mobile/ucp-mobile-ad-layout-setup.ts
  src/platforms/ucp-mobile/ucp-mobile-legacy-setup.ts
Labels: Patch change

#1588 Revert "ADEN-12097 Refactored BaseServiceSetup into Decorator"
  spec/core/pipeline/imps/partner-pipeline/partner-pipeline.spec.ts
  spec/core/runner/runner.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
  src/ad-products/index.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
  src/ad-services/audigent/index.ts
  src/ad-services/confiant/index.ts
  src/ad-services/duration-media/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/facebook-pixel/index.ts
  src/ad-services/ias-publisher-optimization/index.ts
  src/ad-services/index.ts
  src/ad-services/live-connect/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/ad-services/nielsen/index.ts
  src/ad-services/stroer/index.ts
  src/ad-services/user-identity/index.ts
  src/core/ad-engine.ts
  src/core/index.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/pipeline/imps/partner-pipeline/index.ts
  src/core/pipeline/imps/partner-pipeline/partner-pipeline-types.ts
  src/core/pipeline/imps/partner-pipeline/partner-pipeline.ts
  src/core/pipeline/imps/service-pipeline/index.ts
  src/core/pipeline/imps/service-pipeline/pipeline-service-decorator.ts
  src/core/pipeline/imps/service-pipeline/service-pipeline-types.ts
  src/core/pipeline/imps/service-pipeline/service-pipeline.service.ts
  src/core/runner/index.ts
  src/core/runner/runner.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/f2/modes/f2-ads-mode-deprecated.service.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/shared/index.ts
  src/platforms/shared/modes/start-ad-engine.ts
  src/platforms/shared/services/wad-runner.ts
  src/platforms/shared/setup/ad-engine.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/shared/setup/player-experiment.setup.ts
  src/platforms/shared/setup/player.setup.ts
  src/platforms/sports/modes/ads/sports-ads-deprecated.mode.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  src/platforms/ucp-desktop/ucp-desktop-ad-layout-setup.ts
  src/platforms/ucp-desktop/ucp-desktop-legacy-setup.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/platforms/ucp-mobile/ucp-mobile-ad-layout-setup.ts
  src/platforms/ucp-mobile/ucp-mobile-legacy-setup.ts
Labels: Patch change

#1585 ADEN-12218 - Changed ESRB targeting key name
  spec/core/utils/targeting.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.spec.ts
  src/core/models/targeting.ts
  src/platforms/f2/setup/context/targeting/f2-targeting.setup.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
Labels: Patch change

#1591 ADEN-11910-2 Fixing BT side units on mainpages
  src/ad-services/bt-rec/index.ts
Labels: Patch change

#1587 ADEN-12219 - Added handling MPA Values
  @types/ads/index.d.ts
  @types/fandom/index.d.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
Labels: Patch change

#1592 ADEN-12319 Fix rv key-val value after changes to frequency of video ad plays
  spec/ad-products/video/jwplayer/streams/jwplayer-stream-state.spec.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-state.ts
Labels: Minor change

#1532 ADEN-12194 Refactor targeting strategies
  @types/fandom/index.d.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/prefix-decorator.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/tags-plain-sum-builder.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-selected-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/common-targeting-params.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/optional-targeting-params.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-provider.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/targeting-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/common-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/prefix-decorator.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-plain-sum-builder.ts
  src/platforms/shared/context/targeting/ucp-targeting.setup.ts
Labels: Patch change
