Repository Wikia/ad-engine, pull requests merged in 2022-03, with the labels that each got.

#1286 ADEN-11434 Adding LIS: Layout Initializer Slot
  platforms/bingebot/ad-context.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/sports/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  spec/ad-engine/video/vast-url-builder.spec.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-engine/utils/tagless-request-url-builder.ts
  src/ad-engine/video/index.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/porvata/google-ima-wrapper.ts
Labels: Major change, Enhancement

#1293 ADEN-11434-2 Adding impression tracking to LIS
  platforms/shared/bootstrap.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/index.ts
  src/ad-engine/log-version.ts
  src/ad-engine/runner/runner.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-engine/utils/tagless-request-url-builder.ts
Labels: Patch change, Bug

#1268 ADEN-11578 Change Nativo from a service to a proper ad provider
  @types/nativo/index.d.ts
  @types/window/index.d.ts
  docs/adr/a-sample-template.md
  docs/adr/nativo-as-an-ad-provider.md
  platforms/shared/dynamic-slots/fan-feed-native-ad-listener.ts
  platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  platforms/shared/index.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/base/ucp-desktop-base-context.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  spec/ad-engine/providers/nativo/nativo-provider.spec.ts
  spec/ad-engine/providers/nativo/nativo.spec.ts
  spec/ad-services/nativo/nativo.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/providers/index.ts
  src/ad-engine/providers/nativo/index.ts
  src/ad-engine/providers/nativo/lazy-loader.ts
  src/ad-engine/providers/nativo/nativo-provider.ts
  src/ad-engine/providers/nativo/nativo.ts
  src/ad-services/index.ts
  src/ad-services/nativo/index.ts
  src/ad-services/nativo/lazy-loader.ts
Labels: Major change

#1295 ADEN-11434-3 Reverting some stuff without tests ]:->
  src/ad-engine/ad-engine.ts
  src/ad-services/audigent/index.ts
Labels: Minor change

#1294 ADEN-11569 extend galactus targeting with wiki and discussion interac…
  @types/silver-surfer/index.d.ts
  spec/ad-services/silver-surfer/silver-surfer.spec.ts
  src/ad-services/silver-surfer/index.ts
  src/ad-services/silver-surfer/silver-surfer-profile-extender.ts
  src/ad-services/silver-surfer/silver-surfer-profile-fetcher.ts
Labels: Minor change

#1298 ADEN-11637 Fixing incorrect promise return in porvata-factory.ts
  src/ad-products/video/porvata/porvata-factory.ts
Labels: Patch change, Bug

#1299 ADEN-11498 | Add click tracking to Celtra interstitial
  src/ad-tracking/click-tracker.ts
Labels: Patch change

#1301 ADEN-11653 Fixing Sports AdSlot issue after bumping webpack
  src/ad-engine/services/slot-injector.ts
Labels: Minor change, Bug

#1296 ADEN-11388 Introduce AdLayoutSetup concept
  docs/adr/ad-unit-for-layout-initializer-request.md
  platforms/shared/index.ts
  platforms/shared/setup/ad-layout-initializer.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads.mode.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/ucp-desktop-ad-layout-setup.ts
  platforms/ucp-desktop/ucp-desktop-legacy-setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/utils/tagless-request-url-builder.ts
Labels: Major change

#1302 ADEN-11544 | Add Live Connect service
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  src/ad-services/index.ts
  src/ad-services/live-connect/index.ts
Labels: Minor change

#1307 ADEN-11662 Adding icVariable with UAP:JWP line item ids
  platforms/bingebot/setup/context/slots/bingebot-slots-context.setup.ts
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
Labels: Minor change, Bug, Enhancement

#1306 ADEN-11465 bump dependencies
  package-lock.json
  package.json
Labels: Minor change

#1305 ADEN-11612 ads in quizes
  platforms/shared/dynamic-slots/quiz-slots-definition-repository.ts
  platforms/shared/index.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/communication/event-types.ts
Labels: Minor change

#1310 ADEN-11314 AdEngine stops working when the page is loaded in an iframe
  platforms/shared/index.ts
  platforms/shared/setup/iframe-detector.setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
Labels: Minor change

#1316 add codecov
  .github/dependabot.yml
  .github/workflows/workflow.yml
  .nycrc
  README.md
  package.json
Labels: Minor change

#1318 ADEN-11683 refactor: reduce bundle size
  package.json
  webpack.common.coverage.js
  webpack.common.js
Labels: Major change, Bug

#1324 ADEN-11462 Adding GPID to IndexExchange
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
Labels: Minor change, Enhancement

#1312 ADEN-11498 Update selector for Celtra
  src/ad-tracking/click-tracker.ts
Labels: Patch change

#1326 ADEN-11663 dependency bump and removal
  package-lock.json
  package.json
  platforms/shared/templates/helpers/stickiness-timeout.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/shared/templates/helpers/video-dom-manager.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-bidders/prebid/prebid-helper.ts
Labels: Major change

#1325 ADEN-11691 Ignore Prebid.js multiauction of UAP is loaded
  spec/ad-bidders/prebid/index.spec.ts
  src/ad-bidders/prebid/index.ts
Labels: Minor change, Bug, Enhancement

#1309 ADEN-11657 Log in Kibana Audigent segments
  docs/adr/ad-unit-for-layout-initializer-request.md
  docs/adr/tracking-in-kibana.md
  platforms/shared/setup/base-context.setup.ts
  spec/ad-engine/services/external-logger.spec.ts
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-engine/services/external-logger.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1330 ADEN-9029 Cleaning up bidders configs
  platforms/ucp-desktop/bidders/prebid/appnexus.ts
  platforms/ucp-desktop/bidders/prebid/index-exchange.ts
  platforms/ucp-desktop/bidders/prebid/kargo.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  platforms/ucp-mobile/bidders/prebid/appnexus.ts
  platforms/ucp-mobile/bidders/prebid/index-exchange.ts
  platforms/ucp-mobile/bidders/prebid/pubmatic.ts
  platforms/ucp-mobile/bidders/prebid/rubicon-display.ts
  platforms/ucp-mobile/bidders/prebid/verizon.ts
  platforms/ucp-mobile/bidders/prebid/wikia.ts
  platforms/ucp-mobile/setup/context/a9/ucp-mobile-a9-config.setup.ts
Labels: Minor change, Bug, Enhancement
