Repository Wikia/ad-engine, pull requests merged in 2022-12, with the labels that each got.

#1636 ADEN-12479 | send rv=2+ for 2,3,4,... video
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/core/models/ad-slot.ts
Labels: Patch change

#1634 ADEN-12466 Add initial bundle for Metacritic
  src/platforms/metacritic/ad-context.ts
  src/platforms/metacritic/index.ts
  src/platforms/metacritic/metacritic-platform.ts
  src/platforms/metacritic/setup/context/slots/metacritic-slots-context.setup.ts
  src/platforms/metacritic/setup/dynamic-slots/metacritic-dynamic-slots.setup.ts
  src/platforms/metacritic/styles.scss
  src/platforms/platforms.json
Labels: Patch change

#1639 ADEN-12473 - Added integration with Captify
  @types/window/index.d.ts
  spec/ad-bidders/prebid/ats/ats.spec.ts
  spec/ad-bidders/prebid/identity-hub/identity-hub.spec.ts
  spec/ad-bidders/prebid/native/prebid-native-provider.spec.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
  src/ad-services/audigent/index.ts
  src/ad-services/captify/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/facebook-pixel/index.ts
  src/ad-services/ias-publisher-optimization/index.ts
  src/ad-services/index.ts
  src/ad-services/live-connect/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/communication/event-types.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/tracking/load-times-tracker.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
Labels: Patch change

#1637 ADEN-12448 Create TargetingSetup on Gamefaqs
  @types/window/index.d.ts
  src/platforms/gamefaqs/ad-context.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
  src/platforms/gamefaqs/setup/context/targeting/gamefaqs-targeting.setup.ts
Labels: Patch change

#1646 ADEN-12490 Create TargetingSetup on Giantbomb
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
Labels: Patch change

#1647 ADEN-12492 Create TargetingSetup on Comicvine
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
Labels: Patch change

#1641 ADEN-12504 Add proper src values
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/gamefaqs/ad-context.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/index.ts
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/metacritic/ad-context.ts
  src/platforms/metacritic/metacritic-platform.ts
Labels: Patch change

#1640 ADEN-12243 Implementing incontent_leaderboard for UCP-Desktop
  src/core/utils/dimensions.ts
  src/platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  src/platforms/ucp-desktop/setup/context/base/ucp-desktop-base-context.setup.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
Labels: Minor change, Enhancement

#1635 ADEN-12487 Switch GAM IDs in order to call for RV indirect ads
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/gamefaqs/ad-context.ts
  src/platforms/gamefaqs/bidders/appnexus.ts
  src/platforms/gamefaqs/bidders/index-exchange.ts
  src/platforms/gamefaqs/bidders/medianet.ts
  src/platforms/gamefaqs/bidders/rubicon-display.ts
  src/platforms/gamefaqs/bidders/wikia.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/index.ts
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/metacritic/ad-context.ts
  src/platforms/metacritic/metacritic-platform.ts
Labels: Patch change

#1638 ADEN-12491 Add TargetingSetup to Gamespot, Giantbomb and Comicvine
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/shared-news-and-ratings/context/targeting/interfaces/targeting-params.ts
  src/platforms/shared-news-and-ratings/context/targeting/news-and-ratings-targeting.setup.ts
Labels: Don't merge, Patch change

#1651 ADEN-12529 - New LiveConnect event
  src/ad-services/live-connect/index.ts
  src/communication/event-types.ts
  src/platforms/shared/tracking/load-times-tracker.ts
Labels: Patch change

#1648 ADEN-12407 - Changed Bootstrap order
  src/platforms/shared/bootstrap.ts
Labels: Patch change

#1657 ADEN-12545 Ad slots go into wrong placeholders
  src/platforms/comicvine/setup/dynamic-slots/comicvine-dynamic-slots.setup.ts
  src/platforms/gamefaqs/setup/dynamic-slots/gamefaqs-dynamic-slots.setup.ts
  src/platforms/gamespot/setup/dynamic-slots/gamespot-dynamic-slots.setup.ts
  src/platforms/giantbomb/setup/dynamic-slots/giantbomb-dynamic-slots.setup.ts
  src/platforms/metacritic/setup/dynamic-slots/metacritic-dynamic-slots.setup.ts
Labels: Patch change

#1660 ADEN-12534 Fix the JSON.parse(string_cookie) issue
  spec/platforms/news-and-ratings/shared/context/targeting/news-and-ratings-targeting.setup.spec.ts
  src/platforms/shared-news-and-ratings/context/targeting/news-and-ratings-targeting.setup.ts
Labels: Patch change

#1649 ADEN-12516 Add instant-config support to NnR bundles
  src/platforms/comicvine/ad-context.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/gamefaqs/ad-context.ts
  src/platforms/gamefaqs/bidders/wikia.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/gamespot/ad-context.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/giantbomb/ad-context.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/metacritic/ad-context.ts
  src/platforms/metacritic/metacritic-platform.ts
Labels: Patch change

#1631 ADEN-12465 Add new platform TVGuide
  src/platforms/platforms.json
  src/platforms/tvguide/ad-context.ts
  src/platforms/tvguide/index.ts
  src/platforms/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
  src/platforms/tvguide/styles.scss
  src/platforms/tvguide/tvguide-platform.ts
Labels: Patch change

#1653 ADEN-12533 Add initial prebid configuration for remaining NnR sites
  spec/platforms/shared/bidders/bidders-state.setup.spec.ts
  src/ad-bidders/index.ts
  src/platforms/comicvine/bidders/wikia.ts
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/comicvine/modes/comicvine-ads-mode.ts
  src/platforms/comicvine/setup/context/prebid/comicvine-prebid-config.setup.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/modes/gamefaqs-ads-mode.ts
  src/platforms/gamespot/bidders/wikia.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/modes/gamespot-ads-mode.ts
  src/platforms/gamespot/setup/context/prebid/gamespot-prebid-config.setup.ts
  src/platforms/giantbomb/bidders/wikia.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/giantbomb/modes/giantbomb-ads-mode.ts
  src/platforms/giantbomb/setup/context/prebid/giantbomb-prebid-config.setup.ts
  src/platforms/metacritic/bidders/wikia.ts
  src/platforms/metacritic/metacritic-platform.ts
  src/platforms/metacritic/modes/metacritic-ads-mode.ts
  src/platforms/metacritic/setup/context/prebid/metacritic-prebid-config.setup.ts
Labels: Patch change

#1650 ADEN-12062 Removing StickyICB template
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-services/facebook-pixel/index.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/platforms/ucp-mobile/styles.scss
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-incontent-sticked-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/slot-state-waiting-to-incontent-sticky-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/sticky-icb-bootstrap-handler.ts
  src/platforms/ucp-mobile/templates/handlers/sticky-icb/sticky-icb-disabled-handler.ts
  src/platforms/ucp-mobile/templates/sticky-icb-template.ts
  src/platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
Labels: Minor change, Enhancement

#1655 ADEN-11566
  @types/ads/index.d.ts
  spec/ad-services/connatix/connatix.spec.ts
  spec/ad-services/connatix/test_doubles/connatix-player-spy.ts
  spec/ad-services/connatix/test_doubles/player-injector-spy.ts
  spec/ad-services/connatix/test_doubles/script-loader-spy.ts
  spec/core/services/instant-config-cache-storage-serializer.spec.ts
  spec/platforms/shared/experiments/outstream-experiment.spec.ts
  src/ad-services/connatix/connatix-player.ts
  src/ad-services/connatix/index.ts
  src/ad-services/connatix/player-injector.ts
  src/ad-services/distro-scale/index.ts
  src/ad-services/exco/index.ts
  src/ad-services/index.ts
  src/platforms/shared/experiments/outstream-experiment.ts
  src/platforms/shared/index.ts
  src/platforms/shared/setup/anyclip-player.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/noads-experiment.setup.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  src/platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
Labels: Patch change

#1656 ADEN-12531 - Added Identity, LiveRamp and LiveIntent to N&R platforms
  src/platforms/comicvine/comicvine-platform.ts
  src/platforms/comicvine/modes/comicvine-ads-mode.ts
  src/platforms/gamefaqs/gamefaqs-platform.ts
  src/platforms/gamefaqs/modes/gamefaqs-ads-mode.ts
  src/platforms/gamespot/gamespot-platform.ts
  src/platforms/gamespot/modes/gamespot-ads-mode.ts
  src/platforms/giantbomb/giantbomb-platform.ts
  src/platforms/giantbomb/modes/giantbomb-ads-mode.ts
  src/platforms/metacritic/metacritic-platform.ts
  src/platforms/metacritic/modes/metacritic-ads-mode.ts
Labels: Patch change

#1670 ADEN-12573
  src/core/utils/geo.ts
  src/platforms/shared/bootstrap.ts
Labels: Patch change

#1658 ADEN-12401 - Removed mpaRating and esrbRating variables from context
  spec/ad-services/eyeota/eyeota.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/page-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/providers/site-level-taxonomy-tags.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/interfaces/taxonomy-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
  src/platforms/shared/context/targeting/targeting-strategies/structures/tags-by-key-composer.ts
Labels: Patch change

#1672 ADEN-12401 - Hotfix to MPA and ESRB Ratings
  spec/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
Labels: Patch change
