Repository Wikia/ad-engine, pull requests merged in 2022-08, with the labels that each got.

#1483 ADEN-12055 Adding Audigent assets preloading
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/utils/instant-config-setup.ts
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-services/audigent/index.ts
Labels: Minor change, Enhancement

#1484 ADEN-11836 | Add country column to load times tracking
  platforms/shared/tracking/models/tracking-params.ts
  src/ad-engine/services/load-times-service.ts
Labels: Patch change

#1486 ADEN-12066 Send global PV number to GAM
  platforms/shared/context/targeting/targeting-strategies/strategies/common-strategy.ts
Labels: Patch change

#1487 ADEN-10791 Refactor lABlador/BAsset code
  spec/ad-engine/services/instant-config-cache-storage-serializer.spec.ts
  spec/ad-engine/services/instant-config-cache-storage.spec.ts
  spec/ad-engine/utils/geo.spec.ts
  src/ad-engine/services/cookie-storage-adapter.ts
  src/ad-engine/services/instant-config-cache-storage-serializer.ts
  src/ad-engine/services/instant-config-cache-storage.ts
  src/ad-engine/services/local-cache.ts
  src/ad-engine/services/session-cookie.ts
  src/ad-engine/services/universal-storage.ts
Labels: Minor change

#1485 ADEN-12021 Expanding pgRubicon to all slots
  platforms/ucp-desktop/bidders/prebid/rubicon-pg.ts
  platforms/ucp-mobile/bidders/prebid/rubicon-pg.ts
  src/ad-bidders/prebid/index.ts
Labels: Minor change, Enhancement

#1490 ADEN-12069 Track PPID to adengadinfo table
  spec/ad-tracking/slot-tracking-middleware.spec.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#1491 ADEN-11899 allow icp on sm UAP
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-desktop/ucp-desktop-legacy-setup.ts
  platforms/ucp-mobile/ucp-mobile-legacy-setup.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Patch change

#1492 ADEN-10791 basset cookie backward compatibility
  spec/ad-engine/services/instant-config-cache-storage-serializer.spec.ts
  src/ad-engine/services/instant-config-cache-storage-serializer.ts
  src/ad-engine/services/instant-config-cache-storage.ts
  src/ad-engine/services/session-cookie.ts
Labels: Minor change

#1482 ADEN-11841 Integrate new Pre-Bidder: Roundel
  platforms/ucp-desktop/bidders/prebid/roundel.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  spec/ad-bidders/prebid/adapters/roundel.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/roundel.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change, Enhancement

#1495 ADEN-12073 Finish off new integration with Audigent
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-engine/providers/gpt-targeting.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1497 ADEN-12063 Remove Optimera integration
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  spec/ad-services/optimera/optimera.spec.ts
  src/ad-services/index.ts
  src/ad-services/optimera/index.ts
Labels: Patch change

#1498 ADEN-12057 Refactor PPID Process
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-services/index.ts
  src/ad-services/user-identity/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1496 ADEN-12023 Implementing sticking TopBoxad experiment
  platforms/f2/styles.scss
  platforms/f2/templates/bfaa-template.ts
  platforms/f2/templates/f2-templates.setup.ts
  platforms/shared/dynamic-slots/sticked-boxad-helper.ts
  platforms/shared/index.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
Labels: Minor change, Enhancement

#1499 ADEN-12106 Fix audigent two-script loading
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  spec/ad-services/audigent/audigent.spec.ts
  src/ad-engine/services/load-times-service.ts
  src/ad-services/audigent/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1500 ADEN-12085 | Prebid native: replace icon with image + remove displayU…
  @types/pbjs/index.d.ts
  platforms/ucp-desktop/styles.scss
  spec/ad-bidders/prebid/native/prebid-native-config.spec.ts
  spec/ad-bidders/prebid/native/prebid-native-provider.spec.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/native/native-models.ts
  src/ad-bidders/prebid/native/prebid-native-config.ts
  src/ad-bidders/prebid/native/prebid-native-provider.ts
Labels: Patch change

#1503 ADEN-12049 | Remove load time tracking to adengpageinfo
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/sports/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#1504 ADEN-12114 Remove Audigent from key-vals tracking
  platforms/shared/tracking/tracking.setup.ts
  src/ad-services/audigent/index.ts
Labels: Patch change

#1502 ADEN-11884 Setting COPPA flag for GAM and Prebid
  platforms/shared/setup/base-context.setup.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/config-service.ts
  src/ad-engine/services/index.ts
  src/ad-engine/utils/tagless-request-url-builder.ts
  src/ad-engine/utils/targeting.ts
Labels: Minor change, Enhancement

#1505 ADEN-11997 | Add separate labrador tracker
  platforms/shared/tracking/labrador-tracker.ts
  platforms/shared/tracking/tracking.setup.ts
Labels: Patch change

#1506 ADEN-11921 Reconfigure Eyeota integration for GDPR etc
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-engine/services/load-times-service.ts
  src/ad-services/eyeota/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1507 ADEN-11924 Eyeota - add s0v to url param
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-engine/services/load-times-service.ts
  src/ad-services/eyeota/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1508 ADEN-12121 add other LiveConnect id types
  @types/live-connect/index.d.ts
  @types/window/index.d.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  src/ad-services/live-connect/index.ts
Labels: Patch change
