Repository Wikia/ad-engine, pull requests merged in 2022-04, with the labels that each got.

#1329 ADEN-11697 Load AdEngine in NoAdsMode when page is loaded inside iframe
  platforms/shared/index.ts
  platforms/shared/services/no-ads-detector.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/setup/iframe-detector.setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  spec/ad-engine/utils/document.spec.ts
  spec/platforms/shared/services/no-ads-detector.spec.ts
  src/ad-engine/utils/document.ts
Labels: Minor change

#1336 ADEN-11556 load PIH asynchronously
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads.mode.ts
  spec/ad-bidders/prebid/identity-hub/identity-hub.spec.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
Labels: Minor change

#1333 ADEN-11701 fix: put UAP sequence on hold when FV is loaded
  platforms/shared/sequential-messaging/domain/data-structures/user-sequential-message-state.ts
  platforms/shared/sequential-messaging/domain/sequence-continuation-handler.ts
  platforms/shared/sequential-messaging/domain/sequence-start-handler.ts
  platforms/shared/sequential-messaging/infrastructure/gam-targeting-manager.ts
  platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.ts
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-continuation-handler.spec.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-start-handler.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/gam-targeting-manager.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.spec.ts
Labels: Major change

#1342 ADEN-11717 Prebid multi auction - second iteration
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  spec/ad-engine/ad-slot-fake.ts
  spec/ad-engine/models/ad-slot.stub.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/communication/event-types.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change, Enhancement

#1343 ADEN-11645 Adjust LIS for UAP:JWPlayer
  platforms/shared/setup/ad-layout-initializer.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads.mode.ts
Labels: Minor change, Enhancement

#1351 ADEN-11730 Bump husky dependency from 1.1.4 to 7.0.0
  .husky/pre-commit
  package-lock.json
  package.json
Labels: Patch change

#1345 ADEN-11724 Bump dependencies
  .husky/pre-commit
  package-lock.json
  package.json
  platforms/shared/templates/handlers/close-to-hidden-button-handler.ts
  platforms/shared/templates/handlers/close-to-transition-button-handler.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/shared/utils/email-validator.ts
  spec/ad-engine/utils/iframe-builder.spec.ts
  spec/ad-engine/utils/tagless-request-url-builder.spec.ts
  spec/ad-products/video/porvata4/native-fullscreen.spec.ts
  spec/ad-tracking/scroll-tracker.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.spec.ts
  src/ad-engine/pipeline/imps/func-pipeline.ts
  src/ad-engine/pipeline/imps/universal-pipeline.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/templates-registry/template-registry.ts
  src/ad-engine/utils/client.ts
  src/ad-engine/utils/script-loader.ts
  src/ad-products/templates/interface/icons.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.ts
  src/ad-services/instant-config/instant-config.loader.ts
  webpack.common.coverage.js
Labels: Minor change

#1340 ADEN-11676 Disable ad slots for engagement test
  package-lock.json
  package.json
  platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  platforms/shared/setup/noads-experiment.setup.ts
  platforms/shared/slots/slots-context.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  spec/.eslintrc.json
  spec/platforms/shared/dynamic-slots/nativo-slots-definition-repository.spec.ts
  spec/platforms/shared/setup/noads-experiment.setup.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/providers/nativo/nativo.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
Labels: Minor change, Enhancement

#1360 ADEN-11737-2 Fixing Old UAP + sticky nav third time - properly this time
  platforms/shared/templates/handlers/bfaa/bfaa-bootstrap-handler.ts
  platforms/ucp-desktop/styles.scss
Labels: Patch change, Bug

#1362 ADEN-11741 Fixing disabling Outstream for NoAds experiment
  platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  platforms/shared/setup/noads-experiment.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  spec/ad-engine/providers/nativo/nativo.spec.ts
  spec/platforms/shared/dynamic-slots/nativo-slots-definition-repository.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/providers/nativo/nativo.ts
Labels: Patch change, Bug

#1357 ADEN-11725 Affiliate Unit and In-Content Ad are not co-existing properly
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/nativo/nativo.ts
Labels: Patch change

#1369 remove ts-node
  package-lock.json
  package.json
Labels: Minor change

#1377 aden-1234567 moar testing
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Patch change

#1368 ADEN-11764 Fix Nativo regression after implementing NoAdsExperimentSetup
  platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  platforms/shared/setup/noads-experiment.setup.ts
  spec/ad-engine/providers/nativo/nativo.spec.ts
  spec/platforms/shared/setup/noads-experiment.setup.spec.ts
  src/ad-engine/providers/nativo/nativo.ts
Labels: Patch change

#1378 ADEN-11731 The easiest way to pass a key-val to DW
  spec/ad-engine/tracking/slot-tracking-middleware.spec.ts
  src/ad-tracking/slot-tracking-middleware.ts
Labels: Patch change

#1385 ADEN-11773 Adding New Takeover Configurations
  platforms/f2/ad-context.ts
  platforms/shared/templates/handlers/slot/slot-decision-impact-to-resolved-handler.ts
  platforms/shared/templates/handlers/video/video-completed-handler.ts
  platforms/sports/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
  src/ad-products/common/product-info.ts
  src/ad-products/templates/uap/constants.ts
  src/ad-products/templates/uap/universal-ad-package.ts
Labels: Minor change, Enhancement

#1379 ADEN-11762 Fixing second iteration of Prebid multi auction
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  spec/ad-bidders/prebid/adapters/wikia-video.spec.ts
  spec/ad-bidders/prebid/adapters/wikia.spec.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/index.ts
  src/ad-engine/ad-engine.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Minor change, Bug, Enhancement
