Repository Wikia/ad-engine, pull requests merged in 2022-05, with the labels that each got.

#1392 ADEN-11182 Switching fully to UAP 4.3
  platforms/f2/styles.scss
  platforms/f2/templates/bfaa-template.ts
  platforms/f2/templates/sticky-tlb-template.ts
  platforms/shared/ensure-geo-cookie.ts
  platforms/shared/index.ts
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/styles/index.scss
  platforms/shared/styles/sponsored-logo/sponsored-logo.scss
  platforms/shared/styles/sponsored-logo/sponsored-text-logo.scss
  platforms/shared/styles/uap/_bfaa-embedded.scss
  platforms/shared/styles/uap/_bfaa-sticky-big.scss
  platforms/shared/styles/uap/_bfaa-sticky-small.scss
  platforms/shared/styles/uap/_bfaa-with-infobox.scss
  platforms/shared/styles/uap/_bfab-new-uap.scss
  platforms/shared/styles/uap/_uap-navbar.scss
  platforms/shared/templates/handlers/bfaa/bfaa-bootstrap-handler.ts
  platforms/shared/templates/handlers/bfaa/bfaa-bootstrap-light-handler.ts
  platforms/shared/templates/handlers/navbar/navbar-offset-impact-to-resolved-handler.ts
  platforms/shared/templates/handlers/navbar/navbar-offset-resolved-handler.ts
  platforms/shared/templates/handlers/navbar/navbar-offset-resolved-to-none-handler.ts
  platforms/shared/templates/handlers/page/page-offset-impact-handler.ts
  platforms/shared/templates/handlers/page/page-offset-resolved-handler.ts
  platforms/shared/templates/handlers/slot/slot-offset-resolved-to-none-handler.ts
  platforms/shared/templates/handlers/slot/slot-transition-handler.ts
  platforms/shared/templates/handlers/slot/slot-transition-light-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/sports/styles.scss
  platforms/sports/templates/bfaa-template.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/bfaa-old-template.ts
  platforms/ucp-desktop/templates/bfaa-template.ts
  platforms/ucp-desktop/templates/sticky-tlb-template.ts
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-old-template.ts
  platforms/ucp-mobile/templates/bfaa-template.ts
  platforms/ucp-mobile/templates/sticky-tlb-template.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
  src/ad-engine/providers/nativo/nativo.ts
  src/ad-engine/services/slot-data-params-updater.ts
Labels: Major change, Enhancement

#1393 SM UAP always in resolved state
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
Labels: Patch change

#1388 ADEN-11695 Optimera Integration trial period
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/tracking/tracking.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  spec/ad-engine/utils/wait-for.spec.ts
  spec/ad-services/optimera/optimera.spec.ts
  src/ad-engine/utils/index.ts
  src/ad-engine/utils/wait-for.ts
  src/ad-services/index.ts
  src/ad-services/optimera/index.ts
  src/communication/event-types.ts
Labels: Patch change, Enhancement

#1394 ADEN-11808 | Add identity DW tracking
  @types/window/index.d.ts
  platforms/shared/tracking/models/tracking-params.ts
  platforms/shared/tracking/tracking.setup.ts
  src/ad-services/live-connect/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1396 ADEN-11603 Optimera integration fix
  src/ad-services/optimera/index.ts
Labels: Patch change

#1410 ADEN-11827 Fix tracking for Optimera
  platforms/shared/tracking/tracking.setup.ts
  src/ad-services/optimera/index.ts
  src/communication/event-types.ts
Labels: Patch change

#1418 ADEN-retro=points: laberer
  .github/workflows/pr-labeler.yml
Labels: Enhancement

#1411 ADEN-11762 Adding Prebid.js auction tracking events
  platforms/shared/tracking/tracking.setup.ts
  src/ad-bidders/prebid/index.ts
  src/communication/event-types.ts
Labels: Minor change, Enhancement

#1420 ADEN-11791-2 Expanding NTC for non-LIS Roadblocks
  platforms/shared/templates/handlers/roadblock/roadblock-handler.ts
  platforms/shared/templates/handlers/roadblock/roadblock-params.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
Labels: Patch change

#1423 ADEN-11780 add Eyeota service
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/index.ts
Labels: Patch change

#1422 ADEN-11831 Full screen for UAP Porvata does not work on Firefox
  src/ad-products/video/porvata/native-fullscreen.ts
Labels: Patch change

#1389 Evaluate Ads refresh on viewable slots
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  spec/ad-engine/models/ad-slot.spec.ts
  spec/ad-engine/models/ad-slot.stub.ts
  spec/ad-engine/providers/gpt-provider.spec.ts
  spec/ad-engine/services/slot-refresher.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-engine/ad-engine.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-engine/services/slot-injector.ts
  src/ad-engine/services/slot-refresher.ts
  src/ad-services/eyeota/index.ts
Labels: Minor change, Patch change

#1419 ADEN-11353 Click event not send after clicking on video
  src/ad-products/templates/interface/listeners/player-overlay-click-listener.ts
  src/ad-products/templates/interface/video/learn-more.ts
  src/ad-products/templates/interface/video/toggle-ui.ts
  src/ad-tracking/click-tracker.ts
  src/communication/event-types.ts
Labels: Patch change

#1426 ADEN-11867 New integrated players are displayed with uap roadblock
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
Labels: Patch change

#1424 ADEN-11830 Clean up the styles in AdEngine
  platforms/f2/styles.scss
  platforms/shared/styles/_breakpoints.scss
  platforms/shared/styles/_mixin.scss
  platforms/shared/styles/uap-porvata/_bottom-panel.scss
  platforms/shared/styles/uap-porvata/_porvata.scss
  platforms/shared/styles/uap-porvata/_uap-porvata-learn-more.scss
  platforms/shared/styles/uap-porvata/_uap-porvata-right-position.scss
  platforms/shared/styles/uap/_bfaa-slot.scss
  platforms/shared/styles/uap/_bfab-slot.scss
  platforms/shared/styles/uap/_uap-advertisement-label.scss
  platforms/shared/styles/uap/_uap-button-close.scss
  platforms/shared/styles/uap/_uap-variables.scss
  platforms/sports/styles.scss
  platforms/ucp-desktop/styles.scss
  platforms/ucp-mobile/styles.scss
  src/ad-products/styles/_out-of-page.scss
  src/ad-products/styles/_stickiness.scss
  src/ad-products/styles/_uap.scss
  src/ad-products/styles/styles.scss
Labels: Patch change

#1428 ADEN-11768 add click listener to interstitial
  src/ad-tracking/click-tracker.ts
Labels: Patch change
