Repository Wikia/ad-engine, pull requests merged in 2022-01, with the labels that each got.

#1217 ADEN-11477 Replacing clip() with dynamic resize
  platforms/shared/index.ts
  platforms/shared/templates/handlers/bfaa-new/bfaa-new-bootstrap-handler.ts
  platforms/shared/templates/handlers/close-to-embedded-resolved-button-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-embedded-resolved-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-big-to-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-embedded-resolved-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-embedded-small-to-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-sticky-big-to-sticky-small-handler.ts
  platforms/shared/templates/handlers/slot/slot-decision-timeout-without-scroll-handler.ts
  platforms/shared/templates/handlers/slot/slot-height-clipping-handler.ts
  platforms/shared/templates/handlers/slot/slot-initial-y-position-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-embedded-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-big-handler.ts
  platforms/shared/templates/handlers/slot/slot-position-sticky-small-handler.ts
  platforms/shared/templates/handlers/video/video-new-bfaa-restart-handler.ts
  platforms/shared/templates/handlers/video/video-no-viewability-handler.ts
  platforms/shared/templates/helpers/uap-dom-manager.ts
  platforms/shared/templates/helpers/uap-dom-reader.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-desktop/templates/bfaa-template.ts
  platforms/ucp-desktop/templates/sticky-tlb-template.ts
  platforms/ucp-mobile/styles.scss
  platforms/ucp-mobile/templates/bfaa-3-template.ts
  platforms/ucp-mobile/templates/bfaa-template.ts
  platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
Labels: Minor change, Bug, Enhancement

#1200 ADEN-10381 Using SlotsCreator on all platforms
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/f2/setup/dynamic-slots/f2-slots-definition-repository.ts
  platforms/futhead/futhead-platform.ts
  platforms/futhead/setup/dynamic-slots/futhead-dynamic-slots.setup.ts
  platforms/muthead/muthead-platform.ts
  platforms/muthead/setup/dynamic-slots/muthead-dynamic-slots.setup.ts
  platforms/shared/context/slots/sports-slots-context-setup.service.ts
  platforms/shared/dynamic-slots/curse-uap.setup.ts
  platforms/shared/dynamic-slots/sports-dynamic-slots-setup.service.ts
  platforms/shared/dynamic-slots/sports-slots-definition-repository.service.ts
  platforms/shared/index.ts
  platforms/shared/modes/ads/sports-ads.mode.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/slots/curse-slots-state.setup.ts
  platforms/shared/utils/insert-slots.ts
  platforms/shared/utils/placeholder-service-helper.ts
  platforms/shared/utils/placeholder-service.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
  platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/desktop-fan-feed-native-ad-listener.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  platforms/ucp-desktop/setup/state/slots/ucp-desktop-slots-state-setup.ts
  platforms/ucp-desktop/styles.scss
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/setup/context/base/ucp-mobile-base-context.setup.ts
  platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/mobile-fan-feed-native-ad-listener.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/services/context-service.ts
  src/ad-engine/services/slot-creator.ts
  src/ad-engine/services/slot-injector.ts
Labels: Enhancement

#1205 ADEN-11445 Removing CMP logic (moved to TrackingOptIn)
  package-lock.json
  package.json
  platforms/shared/consent/tracking-opt-in-wrapper.ts
  src/communication/event-types.ts
Labels: Enhancement

#1221 ADEN-11452 Restore FMR rotation for AdBlock
  src/ad-products/utils/fmr-rotator.ts
Labels: Minor change, Enhancement

#1198 ADEN-10763 Adding 4x4 and 5x5 companion sizes
  platforms/f2/templates/handlers/bfaa/bfaa-f2-config-handler.ts
  platforms/futhead/templates/handlers/bfaa/bfaa-futhead-config-handler.ts
  platforms/muthead/templates/handlers/bfaa/bfaa-muthead-config-handler.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/slots/slots-context.ts
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
  src/ad-products/templates/uap/constants.ts
Labels: Minor change, Enhancement

#1215 ADEN-11413 Add newsletter signup form when collapse appears on page
  @types/sailthru/index.d.ts
  @types/window/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/utils/collapsed-messages/fanlab-box.ts
  platforms/shared/utils/collapsed-messages/message-box-creator.ts
  platforms/shared/utils/collapsed-messages/message-box-service.ts
  platforms/shared/utils/collapsed-messages/message-box.ts
  platforms/shared/utils/collapsed-messages/newsletter-form-box.ts
  platforms/shared/utils/collapsed-messages/newsletter-link-box.ts
  platforms/shared/utils/collapsed-messages/register-box.ts
  platforms/shared/utils/email-validator.ts
  platforms/shared/utils/placeholder-service.ts
  platforms/ucp-mobile/styles.scss
  spec/platforms/shared/utils/collapsed-messages/message-box-service.spec.ts
  src/ad-services/index.ts
  src/ad-services/sailthru/index.ts
Labels: Don't merge, Minor change, Enhancement

#1224 ADEN-11444-2 Remove unused files
  maintenance/rollup-plugins.js
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
Labels: Bug

#1226 ADEN-11472 Upgrade uuid from 7.0.3 to latest 8.3.2
  package-lock.json
  package.json
Labels: Patch change, dependencies

#1227 ADEN-11470 Remove query-string lib.
  package-lock.json
  package.json
  platforms/shared/tracking/data-warehouse.ts
  src/ad-engine/utils/query-string.ts
Labels: Minor change

#1237 ADEN-11521 Fix wrong UAP placeholder height
  platforms/f2/ad-context.ts
Labels: Patch change

#1232 ADEN-11500 Bump node version
  .nvmrc
  package-lock.json
Labels: Minor change

#1238 ADEN-11170-2 Missing UAP:JWP context setting on F2
  platforms/f2/setup/context/targeting/f2-targeting.setup.ts
Labels: Patch change

#1231 ADEN-11492 | Identify sequential UAP ad
  platforms/shared/index.ts
  platforms/shared/sequential-messaging/domain/data-structures/sequential-messaging-config.ts
  platforms/shared/sequential-messaging/domain/data-structures/user-sequential-message-state.ts
  platforms/shared/sequential-messaging/domain/interfaces/sequential-messaging-config-store.interface.ts
  platforms/shared/sequential-messaging/domain/interfaces/user-sequential-message-state-store.interface.ts
  platforms/shared/sequential-messaging/domain/sequence-detector.ts
  platforms/shared/sequential-messaging/domain/sequence-handler.ts
  platforms/shared/sequential-messaging/infrastructure/sequential-messaging-config-store.ts
  platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.ts
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-detector.spec.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-handler.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/sequential-messaging-config-store.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.spec.ts
  spec/platforms/shared/sequential-messaging/test_doubles/instant-config-service.spy.ts
  spec/platforms/shared/sequential-messaging/test_doubles/sequential-messaging-config-store.spy.ts
  spec/platforms/shared/sequential-messaging/test_doubles/state-store.spy.ts
  src/ad-services/instant-config/instant-config.service.ts
Labels: Patch change

#1236 ADEN-11471 bump rxjs
  package-lock.json
  package.json
  platforms/shared/templates/handlers/slot/slot-decision-timeout-handler.ts
  platforms/shared/templates/handlers/video/video-bootstrap-handler.ts
  platforms/shared/utils/placeholder-service.ts
  src/ad-engine/providers/prebidium-provider.ts
  src/ad-engine/services/templates-registry/template-action.ts
  src/ad-products/templates/uap/universal-ad-package.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-tracking-handler.ts
  src/ad-products/video/jwplayer/jwplayer-manager.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-state.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-stateless.ts
  src/communication/communication-service.ts
  src/communication/event-types.ts
  src/communication/of-type.ts
  src/communication/only-new.ts
  tsconfig.json
Labels: Minor change

#1234 ADEN-11469 bump js-cookie
  package-lock.json
  package.json
  src/ad-products/video/porvata/plugins/moat/moat-video-tracker-script.ts
Labels: Minor change

#1241 ADEN-11496 | Sequential Messaging
  platforms/shared/sequential-messaging/domain/data-structures/sequential-messaging-config.ts
  platforms/shared/sequential-messaging/domain/data-structures/user-sequential-message-state.ts
  platforms/shared/sequential-messaging/domain/interfaces/targeting-manager.interface.ts
  platforms/shared/sequential-messaging/domain/interfaces/user-sequential-message-state-store.interface.ts
  platforms/shared/sequential-messaging/domain/sequence-continuation-handler.ts
  platforms/shared/sequential-messaging/domain/sequence-handler.ts
  platforms/shared/sequential-messaging/domain/sequence-start-handler.ts
  platforms/shared/sequential-messaging/domain/services/new-sequence-detector.ts
  platforms/shared/sequential-messaging/infrastructure/sequential-messaging-config-store.ts
  platforms/shared/sequential-messaging/infrastructure/targeting-manager.ts
  platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.ts
  platforms/shared/sequential-messaging/sequential-messaging.setup.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-continuation-handler.spec.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-detector.spec.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-handler.spec.ts
  spec/platforms/shared/sequential-messaging/domain/sequence-start-handler.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/sequential-messaging-config-store.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/targeting-manager.spec.ts
  spec/platforms/shared/sequential-messaging/infrastructure/user-sequential-message-state-store.spec.ts
  spec/platforms/shared/sequential-messaging/test_doubles/context.spy.ts
  spec/platforms/shared/sequential-messaging/test_doubles/state-store.spy.ts
  spec/platforms/shared/sequential-messaging/test_doubles/targeting-manager.spy.ts
  src/ad-engine/services/context-service.ts
Labels: Minor change

#1242 ADEN-11534 Adding ad slot iframe resizing for new UAP companions
  platforms/f2/templates/handlers/bfaa/bfaa-f2-config-handler.ts
  platforms/shared/slots/slots-context.ts
  platforms/sports/templates/handlers/bfaa/bfaa-sports-config-handler.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  platforms/ucp-desktop/ucp-desktop-platform.ts
  platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
  platforms/ucp-mobile/ucp-mobile-platform.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-products/templates/uap/constants.ts
Labels: Minor change, Bug, Enhancement

#1239 ADEN-11374 Add bidders interstitial config
  platforms/ucp-mobile/bidders/prebid/appnexus.ts
  platforms/ucp-mobile/bidders/prebid/index-exchange.ts
  platforms/ucp-mobile/bidders/prebid/pubmatic.ts
  platforms/ucp-mobile/bidders/prebid/rubicon-display.ts
  platforms/ucp-mobile/bidders/prebid/verizon.ts
  platforms/ucp-mobile/bidders/prebid/wikia.ts
  platforms/ucp-mobile/setup/context/a9/ucp-mobile-a9-config.setup.ts
Labels: Minor change, Enhancement

#1244 ADEN-11550 Removing StickyTLB vs Outstream code prio restriction
  platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
Labels: Minor change, Enhancement
