Repository Wikia/ad-engine, pull requests merged in 2022-09, with the labels that each got.

#1514 ADEN-12126 - Added Requested state tracking
  src/ad-engine/models/ad-slot.ts
  src/ad-engine/providers/gpt-provider.ts
  src/ad-tracking/slot-tracker.ts
Labels: Patch change

#1513 ADEN-12134 Remove TaxonomyService and its usages
  @types/ads/index.d.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  spec/ad-services/taxonomy/taxonomy-service.spec.ts
  src/ad-services/index.ts
  src/ad-services/silver-surfer/index.ts
  src/ad-services/taxonomy/taxonomy-service.loader.ts
  src/ad-services/taxonomy/taxonomy-service.ts
Labels: Patch change

#1522 ADEN-11998 | Remove PageTracker
  platforms/shared/index.ts
  platforms/shared/tracking/page-tracker.ts
  platforms/shared/tracking/tracking.setup.ts
Labels: Patch change

#1518 ADEN-12123 Clean-up page-level key-vals we send to GAM
  @types/silver-surfer/index.d.ts
  platforms/f2/setup/context/targeting/f2-targeting.setup.ts
  platforms/shared/context/targeting/ucp-targeting.setup.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/utils/get-cross-domain-targeting.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  spec/ad-services/silver-surfer/silver-surfer.spec.ts
  spec/platforms/shared/utils/get-cross-domain-targeting.spec.ts
  src/ad-services/index.ts
  src/ad-services/silver-surfer/index.ts
  src/ad-services/silver-surfer/silver-surfer-profile-extender.ts
  src/ad-services/silver-surfer/silver-surfer-profile-fetcher.ts
Labels: Major change

#1515 ADEN-12035 ICBM fallback cleanup + backend bundles
  @types/ads/index.d.ts
  platforms/bingebot/ad-context.ts
  platforms/bingebot/fallback-config.json
  platforms/f2/ad-context.ts
  platforms/f2/fallback-config.json
  platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
  platforms/sports/ad-context.ts
  platforms/sports/fallback-config-futhead.json
  platforms/sports/fallback-config-muthead.json
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-desktop/fallback-config.json
  platforms/ucp-mobile/ad-context.ts
  platforms/ucp-mobile/fallback-config.json
  spec/ad-engine/utils/targeting.spec.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.spec.ts
  spec/platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.spec.ts
  src/ad-engine/utils/targeting.ts
  src/ad-services/instant-config/instant-config.loader.ts
Labels: Major change, Enhancement

#1529 ADEN-12174 Fixing and changing FV + FA code prio
  platforms/shared/setup/base-context.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Minor change, Bug, Enhancement

#1523 ADEN-12108 Removing AppNexusGroupM, Beachfront and MediaGrid bidders
  platforms/ucp-desktop/bidders/prebid/appnexus-group-m.ts
  platforms/ucp-desktop/bidders/prebid/beachfront.ts
  platforms/ucp-desktop/bidders/prebid/mediagrid.ts
  platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  platforms/ucp-mobile/bidders/prebid/appnexus-group-m.ts
  platforms/ucp-mobile/bidders/prebid/beachfront.ts
  platforms/ucp-mobile/bidders/prebid/mediagrid.ts
  platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
  spec/ad-bidders/prebid/adapters/appnexus-group-m.spec.ts
  spec/ad-bidders/prebid/adapters/beachfront.spec.ts
  spec/ad-bidders/tracking/slot-bidders-tracking-middleware.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/appnexus-group-m.ts
  src/ad-bidders/prebid/adapters/beachfront.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/mediagrid.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-bidders/tracking/slot-bidders-tracking-middleware.ts
  src/platforms-shared/bidders-state-setup.ts
Labels: Major change, Enhancement

#1530 ADEN-12002 | Send real ad sizes to DW
  package-lock.json
  platforms/shared/tracking/ad-size-tracker.ts
  platforms/shared/tracking/models/tracking-params.ts
  platforms/shared/tracking/tracking.setup.ts
  src/ad-engine/models/ad-slot.ts
  src/communication/event-types.ts
Labels: Patch change

#1535 ADEN-12188 Added LiveIntent to Sports
  package-lock.json
  platforms/sports/modes/ads/sports-ads-deprecated.mode.ts
  platforms/sports/modes/ads/sports-ads.mode.ts
  spec/ad-services/user-identity/user-identity.spec.ts
Labels: Patch change

#1536 ADEN-12180 Extend FIG to N&S
  platforms/f2/modes/f2-ads-mode-deprecated.service.ts
Labels: Patch change

#1539 ADEN-12221 Make sure all outstream players are disabled for experiment
  platforms/shared/setup/noads-experiment.setup.ts
Labels: Patch change

#1537 ADEN-12174 Remove an instant-config variable we do not need anymore
  platforms/shared/setup/base-context.setup.ts
  platforms/shared/slots/slots-context.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  spec/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.spec.ts
Labels: Patch change

#1541 ADEN-12001 Fix negative PV number in adengplayerinfo events
  spec/ad-products/tracking/video/video-event-data-provider.spec.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
Labels: Patch change

#1543 ADEN-12224 Fixed logging PPID usage
  src/ad-services/user-identity/adms-identity-repository/index.ts
  src/ad-services/user-identity/index.ts
  src/ad-services/user-identity/local-storage-repository/index.ts
Labels: Patch change

#1546 ADEN-12002 Exclude collapsed slots from size tracking
  src/ad-engine/models/ad-slot.ts
Labels: Patch change

#1531 ADEN-11788 Added new path for ICBM fallbacks
  platforms/bingebot/ad-context.ts
  platforms/f2/ad-context.ts
  platforms/sports/ad-context.ts
  platforms/ucp-desktop/ad-context.ts
  platforms/ucp-mobile/ad-context.ts
  spec/ad-services/instant-config/instant-config.loader.spec.ts
  src/ad-services/instant-config/instant-config.loader.ts
Labels: Patch change

#1548 ADEN-12235 Improved handling JWP player in pipeline-approach initialization
  platforms/f2/modes/f2-ads-mode.service.ts
  platforms/shared/setup/player.setup.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
Labels: Patch change

#1549 ADEN-12204 - Remove setting ESRB based on directedAtChildren flags
  platforms/shared/context/targeting/targeting-strategies/strategies/combined-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/legacy-strategy.ts
  platforms/shared/context/targeting/targeting-strategies/strategies/page-context-strategy.ts
Labels: Patch change

#1550 ADEN-12233 Adding feature to force StickyTLB from creative template
  platforms/f2/setup/dynamic-slots/f2-dynamic-slots.setup.ts
  platforms/shared/templates/handlers/roadblock/roadblock-handler.ts
  platforms/shared/templates/handlers/roadblock/roadblock-params.ts
  platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Minor change, Enhancement

#1554 ADEN-12233-2 Adding missing 320x100 on F2 mobile
  platforms/f2/setup/context/slots/f2-slots-context.setup.ts
Labels: Patch change

#1556 [ADEN-12180] Fix for double userIdentity call
  platforms/f2/modes/f2-ads-mode-deprecated.service.ts
Labels: Patch change

#1551 ADEN-12139 Integrate LiveRamp Pixel
  platforms/f2/modes/f2-ads-mode-deprecated.service.ts
  platforms/f2/modes/f2-ads-mode.service.ts
  platforms/shared/setup/base-context.setup.ts
  platforms/sports/modes/ads/sports-ads-deprecated.mode.ts
  platforms/sports/modes/ads/sports-ads.mode.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/ad-services/index.ts
  src/ad-services/liveramp-pixel/index.ts
Labels: Patch change

#1545 ADEN-12189 Integrate LiveConnect into f2
  @types/live-connect/index.d.ts
  platforms/f2/modes/f2-ads-mode-deprecated.service.ts
  platforms/f2/modes/f2-ads-mode.service.ts
  platforms/shared/setup/base-context.setup.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  src/ad-services/live-connect/index.ts
Labels: Patch change

#1552 ADEN-12209 Change the video ads logic
  platforms/shared/setup/base-context.setup.ts
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper.spec.ts
  spec/ad-products/video/jwplayer/streams/jwplayer-stream-state.spec.ts
  src/ad-engine/listeners/listeners.ts
  src/ad-products/tracking/video/video-event-data-provider.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-tracking-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/jwplayer/streams/jwplayer-stream-state.ts
Labels: Minor change

#1564 ADEN-12235 - Quick fix for JWPlayer in F2
  platforms/shared/setup/player.setup.ts
Labels: Patch change

#1565 ADEN-12201 Fix UAP:JWP
  platforms/shared/setup/player.setup.ts
  platforms/sports/modes/ads/sports-ads-deprecated.mode.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-desktop/modes/ucp-desktop-lighter-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode-deprecated.service.ts
  platforms/ucp-mobile/modes/ucp-mobile-lighter-ads-mode.service.ts
  src/ad-engine/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
  src/ad-services/user-identity/index.ts
Labels: Patch change
