Repository Wikia/ad-engine, pull requests merged in 2023-03, with the labels that each got.

#1777 ADEN-12660 Make video ads ad units differ from display ads ad units
  spec/platforms/news-and-ratings/shared/context/base/news-and-ratings-base-context.setup.spec.ts
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/gamespot/ad-context.ts
  src/platforms/news-and-ratings/giantbomb/ad-context.ts
  src/platforms/news-and-ratings/metacritic/ad-context.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
Labels: Patch change

#1795 ADEN-12839-2 Hotfixing bids refreshing on TVGuide
  src/platforms/news-and-ratings/tvguide/ad-context.ts
Labels: Patch change, Bug

#1746 ADEN-12715 Implementing Anyclip on UCP mobile
  src/communication/event-types.ts
  src/platforms/shared/index.ts
  src/platforms/shared/setup/anyclip-player.setup.ts
  src/platforms/shared/setup/ucp-incontent-player-state-setup.ts
  src/platforms/ucp-desktop/ucp-desktop-ad-layout-setup.ts
  src/platforms/ucp-desktop/ucp-desktop-legacy-setup.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/styles.scss
  src/platforms/ucp-mobile/ucp-mobile-ad-layout-setup.ts
  src/platforms/ucp-mobile/ucp-mobile-legacy-setup.ts
Labels: Minor change, Enhancement

#1800 ADEN-units-hang-fix Fixing hanging unit tests
  spec/ad-services/anyclip/anyclip.spec.ts
  spec/ad-services/audigent/audigent.spec.ts
  spec/ad-services/confiant/confiant.spec.ts
  spec/platforms/shared/setup/anyclip-player.setup.spec.ts
  spec/platforms/shared/setup/tracking-parameters.setup.spec.ts
  spec/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.spec.ts
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1792 ADEN-12844 Fix ads for 2nd content on TV Guide
  src/platforms/news-and-ratings/shared/setup/page-change-observers/seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/page-change-observers/tvguide-seamless-content-observer.setup.ts
Labels: Patch change

#1801 ADEN-12847 Fix ad slots on TVGuide Listing section
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
Labels: Patch change

#1799 SPORTS-451 add cdm-zone-04 to mobile queue
  src/platforms/shared/bidders/wikia-adapter.ts
  src/platforms/sports/setup/context/a9/sports-a9-config.setup.ts
  src/platforms/sports/setup/context/slots/sports-slots-context.setup.ts
  src/platforms/sports/setup/dynamic-slots/sports-dynamic-slots.setup.ts
Labels: Patch change, Bug

#1778 ADEN-12709 Adding Performance Ads widgets
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-performance-ads-definition-repository.ts
  src/platforms/ucp-desktop/styles.scss
Labels: Minor change, Enhancement

#1805 ADEN-12856 TV Guide fixes to improve ad performance (imps/unfilled imps)
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
Labels: Patch change

#1804 ADEN-12837 add pv_unique_id to NR sites
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1813 ADEN-12847 Fix dynamic slots logic on SPA TVGuide
  src/core/utils/wait-for.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
Labels: Patch change

#1802 ADEN-12865 Per appName local storage cache
  package-lock.json
  package.json
Labels: Patch change

#1817 ADEN-12870 Remove masthead-button slots from TVGuide
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
Labels: Patch change

#1793 ADEN-12845 Bring pos_nr to all slots
  src/platforms/news-and-ratings/shared/setup/page-change-observers/infinite-scroll-observer.setup.ts
  src/platforms/news-and-ratings/shared/setup/page-change-observers/seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
Labels: Patch change

#1820 ADEN-12709-2 Fixing ICBM flag after resolving merge conflicts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#1815 ADEN-12836 - Modified pvUniqueId source on N&R
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1822 ADEN-12874 Add Seamless to Metacritic News
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/page-change-observers/metacritic-neutron-see-more-button-click-listener.setup.ts
Labels: Minor change, Enhancement

#1823 ADEN-12875 | Add Pubmatic prebid video on N&R
  src/platforms/news-and-ratings/gamespot/bidders/pubmatic.ts
  src/platforms/news-and-ratings/giantbomb/bidders/pubmatic.ts
  src/platforms/news-and-ratings/metacritic/bidders/pubmatic.ts
  src/platforms/news-and-ratings/tvguide/bidders/pubmatic.ts
Labels: Patch change

#1816 ADEN-12771 - Add new API for BlockThrough
  @types/fandom/index.d.ts
  spec/ad-services/bt-rec/bt-rec.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-services/bt-rec/index.ts
  src/ad-services/eyeota/index.ts
  src/core/services/global-context-service.ts
  src/core/services/index.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1836 ADEN-12908 add load times tracking to tvguide
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Patch change

#1829 ADEN-12876 | Add AppnexusAst & Rubicon to N&R
  src/ad-bidders/prebid/index.ts
  src/core/utils/tagless-request-url-builder.ts
  src/platforms/news-and-ratings/gamefaqs/bidders/appnexus-ast.ts
  src/platforms/news-and-ratings/gamefaqs/bidders/rubicon.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamespot/bidders/appnexus-ast.ts
  src/platforms/news-and-ratings/gamespot/bidders/rubicon.ts
  src/platforms/news-and-ratings/gamespot/setup/context/prebid/gamespot-prebid-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/bidders/appnexus-ast.ts
  src/platforms/news-and-ratings/giantbomb/bidders/rubicon.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/prebid/giantbomb-prebid-config.setup.ts
  src/platforms/news-and-ratings/metacritic/bidders/appnexus-ast.ts
  src/platforms/news-and-ratings/metacritic/bidders/rubicon.ts
  src/platforms/news-and-ratings/metacritic/setup/context/prebid/metacritic-prebid-config.setup.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/tvguide/bidders/appnexus-ast.ts
  src/platforms/news-and-ratings/tvguide/bidders/rubicon.ts
  src/platforms/news-and-ratings/tvguide/setup/context/prebid/tvguide-prebid-config-setup.service.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Minor change, Enhancement

#1819 ADEN-12559 - Removed UserIdentity from AdEngine
  @types/fandom/index.d.ts
  spec/ad-services/user-identity/adms-strategy.spec.ts
  spec/ad-services/user-identity/identity-storage-strategy.spec.ts
  spec/ad-services/user-identity/local-storage-strategy.spec.ts
  spec/ad-services/user-identity/user-identity.spec.ts
  src/ad-services/identity-setup/index.ts
  src/ad-services/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/ad-services/user-identity/adms-identity-repository/adms-actions.ts
  src/ad-services/user-identity/adms-identity-repository/adms-client.ts
  src/ad-services/user-identity/adms-identity-repository/adms-service.ts
  src/ad-services/user-identity/adms-identity-repository/index.ts
  src/ad-services/user-identity/identity-repositories.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-dto.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-service.ts
  src/ad-services/user-identity/identity-storage-repository/index.ts
  src/ad-services/user-identity/index.ts
  src/ad-services/user-identity/local-storage-repository/index.ts
  src/communication/event-types.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
  src/platforms/shared/modes/no-ads/no-ads.mode.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#1838 ADEN-12876-2 Refactor PrebidProvider
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/rubicon-pg.ts
  src/ad-bidders/prebid/index.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-desktop/bidders/prebid/rubicon-pg.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/rubicon-pg.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Minor change, Enhancement

#1840 Revert "Revert "ADEN-12559 - Removed UserIdentity from AdEngine""
  @types/fandom/index.d.ts
  spec/ad-services/user-identity/adms-strategy.spec.ts
  spec/ad-services/user-identity/identity-storage-strategy.spec.ts
  spec/ad-services/user-identity/local-storage-strategy.spec.ts
  spec/ad-services/user-identity/user-identity.spec.ts
  src/ad-services/identity-setup/index.ts
  src/ad-services/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/ad-services/user-identity/adms-identity-repository/adms-actions.ts
  src/ad-services/user-identity/adms-identity-repository/adms-client.ts
  src/ad-services/user-identity/adms-identity-repository/adms-service.ts
  src/ad-services/user-identity/adms-identity-repository/index.ts
  src/ad-services/user-identity/identity-repositories.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-dto.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-service.ts
  src/ad-services/user-identity/identity-storage-repository/index.ts
  src/ad-services/user-identity/index.ts
  src/ad-services/user-identity/local-storage-repository/index.ts
  src/communication/event-types.ts
  src/platforms/f2/modes/f2-ads-mode.service.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
  src/platforms/shared/modes/no-ads/no-ads.mode.ts
  src/platforms/sports/modes/ads/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Major change, Enhancement

#1814 ADEN-12861 Refactor of TVGuide slots logic based on events
  src/communication/event-types.ts
  src/core/providers/gpt-provider.ts
  src/core/services/slot-creator.ts
  src/platforms/bingebot/bingebot-platform.ts
  src/platforms/bingebot/setup/hooks/bingebot-before-view-change.setup.ts
  src/platforms/f2/f2-ioc.setup.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/page-change-observers/gamespot-infinite-scroll-observer.setup.ts
  src/platforms/news-and-ratings/gamespot/setup/page-change-observers/gamespot-seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/modes/metacritic-neutron-next-page-ads.mode.ts
  src/platforms/news-and-ratings/shared/index.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/news-and-ratings/tvguide/index.ts
  src/platforms/news-and-ratings/tvguide/modes/tvguide-next-page-ads.mode.ts
  src/platforms/news-and-ratings/tvguide/setup/context/prebid/tvguide-prebid-config.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/page-change-observers/tvguide-seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
  src/platforms/shared/index.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/ucp-incontent-player-state.setup.ts
  src/platforms/shared/utils/insert-slots.ts
  src/platforms/shared/utils/instant-config.setup.ts
  src/platforms/sports/sports-ioc-setup.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
  webpack.platforms.js
Labels: Major change, Enhancement

#1854 ADEN-12954 add load times tracking to nr sites
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
Labels: Patch change

#1818 ADEN-12433 Removing PorvataTemplate and Outstream player
  spec/ad-services/anyclip/anyclip-tracker.spec.ts
  spec/ad-services/anyclip/anyclip.spec.ts
  spec/core/video/video-event-provider.spec.ts
  spec/platforms/shared/setup/anyclip-player.setup.spec.ts
  src/ad-products/common/product-info.ts
  src/ad-products/index.ts
  src/ad-products/templates/index.ts
  src/ad-products/templates/interface/animate.ts
  src/ad-products/templates/interface/video/close-button.ts
  src/ad-products/templates/interface/video/dynamic-reveal.ts
  src/ad-products/templates/interface/video/floating.ts
  src/ad-products/templates/interface/video/pause-overlay.ts
  src/ad-products/templates/outstream/index.ts
  src/ad-products/templates/outstream/porvata-template.ts
  src/ad-products/tracking/index.ts
  src/ad-products/tracking/video/player-event-emitter.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-tracking-handler.ts
  src/ad-products/video/porvata/porvata-player.ts
  src/ad-products/video/porvata/porvata-tracker.ts
  src/ad-products/video/porvata/porvata.ts
  src/ad-services/anyclip/anyclip-tracker.ts
  src/ad-services/anyclip/index.ts
  src/ad-services/ias-publisher-optimization/index.ts
  src/ad-tracking/bidder-tracker.ts
  src/ad-tracking/postmessage-tracker.ts
  src/ad-tracking/slot-tracker.ts
  src/ad-tracking/viewability-tracker.ts
  src/core/services/btf-blocker-service.ts
  src/core/services/filler-service.ts
  src/core/services/index.ts
  src/core/services/slot-tweaker.ts
  src/core/video/index.ts
  src/core/video/video-event-provider.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/shared/index.ts
  src/platforms/shared/setup/anyclip-player.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/noads-experiment.setup.ts
  src/platforms/shared/setup/ucp-incontent-player-state.setup.ts
  src/platforms/shared/slots/slots-context.ts
  src/platforms/sports/ad-context.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  src/platforms/ucp-desktop/templates/configs/outstream-config.ts
  src/platforms/ucp-desktop/templates/handlers/bfaa/bfaa-ucp-desktop-config-handler.ts
  src/platforms/ucp-desktop/templates/roadblock-template.ts
  src/platforms/ucp-desktop/templates/ucp-desktop-templates.setup.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/templates/configs/outstream-config.ts
  src/platforms/ucp-mobile/templates/roadblock-template.ts
  src/platforms/ucp-mobile/templates/ucp-mobile-templates.setup.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Don't merge, Work in progress, Major change

#1851 ADEN-12944 | backfill top nav slots
  spec/platforms/shared/setup/slots-config-extender.spec.ts
  src/core/models/ad-slot.ts
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/comicvine/setup/context/slots/comicvine-slots-context.setup.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/slots/giantbomb-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/slots/metacritic-neutron-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/metacritic/setup/context/slots/metacritic-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
  src/platforms/shared/setup/slots-config-extender.ts
Labels: Patch change

#1859 ADEN-12433-2 Anyclip custom ad unit hotfix
  src/platforms/shared/slots/slots-context.ts
Labels: Patch change

#1841 ADEN-12878 | Integrate A9 video prebid on N&R
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/comicvine/setup/context/a9/comicvine-a9-config.setup.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/a9/gamefaqs-a9-config.setup.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/context/a9/gamespot-a9-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/a9/giantbomb-a9-config.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/a9/metacritic-neutron-a9-config.setup.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/metacritic/setup/context/a9/metacritic-a9-config.setup.ts
  src/platforms/news-and-ratings/shared/index.ts
  src/platforms/news-and-ratings/shared/setup/bidders/bidders-state-overwrite.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/context/a9/tvguide-a9-config.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Patch change

#1860 ADEN-12961 Fixing unsticking Celtra UAP
  src/platforms/shared/templates/helpers/stickiness-timeout.ts
Labels: Patch change

#1855 ADEN-12863 - add observer for galleries, to rotate ads together with …
  src/ad-products/video/porvata/google-ima-wrapper.ts
  src/core/models/ad-slot.ts
  src/core/providers/gpt-provider.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/metacritic/setup/page-observers/metacritic-page-change-gallery-observer.setup.ts
Labels: Patch change

#1858 ADEN-12685 Adding A9 to incontent_leaderboard
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
Labels: Minor change, Enhancement

#1866 ADEN-12898 Extend current A9 initialization
  spec/platforms/shared/context/targeting/targeting-strategies/providers/open-rtb2-tags.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/a9/types.ts
  src/platforms/shared/context/targeting/targeting-strategies/factories/create-open-rtb2-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/open-rtb2.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/open-rtb2-tags.ts
  src/platforms/shared/context/targeting/ucp-targeting.setup.ts
  src/platforms/shared/index.ts
Labels: Patch change
