Repository Wikia/ad-engine, pull requests merged in 2023-04, with the labels that each got.

#1869 ADEN-12988 Fix UAP glitch on mobile Safari
  src/platforms/shared/templates/handlers/bfaa/bfaa-bootstrap-handler.ts
  src/platforms/shared/templates/handlers/slot/slot-size-impact-to-resolved-handler.ts
  src/platforms/shared/templates/handlers/slot/slot-size-impact-with-placeholder-handler.ts
Labels: Patch change

#1844 ADEN-12849 Change incontent ads injection policy
  spec/core/ad-slot-fake.ts
  spec/core/models/ad-slot.spec.ts
  spec/core/services/slot-injector.spec.ts
  spec/core/services/slot-repeater.spec.ts
  src/ad-products/utils/index.ts
  src/core/ad-engine.ts
  src/core/models/ad-slot.ts
  src/core/services/index.ts
  src/core/services/slot-creator.ts
  src/core/services/slot-injector.ts
  src/core/services/slot-repeater.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/dynamic-slots/metacritic-neutron-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
  src/platforms/shared/dynamic-slots/nativo-slots-definition-repository.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/utils/placeholder-service.ts
  src/platforms/sports/setup/context/slots/sports-slots-context.setup.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
  src/platforms/ucp-desktop/setup/context/base/ucp-desktop-base-context.setup.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  src/platforms/ucp-desktop/styles.scss
  src/platforms/ucp-desktop/utils/fmr-rotator.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
  src/platforms/ucp-mobile/templates/handlers/bfaa/bfaa-ucp-mobile-config-handler.ts
Labels: Major change, Enhancement

#1876 ADEN-12994 Extend Eyeota pixel payload with media tags
  spec/ad-services/eyeota/eyeota.spec.ts
  src/ad-services/eyeota/index.ts
Labels: Patch change

#1853 ADEN-12905 - Added AgeGate handling
  src/ad-bidders/a9/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/live-ramp/live-ramp.ts
  src/ad-services/bt-rec/index.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/providers/gpt-provider.ts
  src/core/utils/index.ts
  src/core/utils/is-coppa-subject.ts
  src/core/utils/tagless-request-url-builder.ts
  src/core/utils/targeting.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#1882 [ADEN-13039] Hotfix for Static UAPs on mobile
  src/platforms/shared/templates/handlers/slot/slot-size-impact-with-placeholder-handler.ts
Labels: Patch change

#1890 ADEN-12849-2 Incontent Leaderboard and Anyclip adjustments
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
Labels: Patch change

#1892 ADEN-13053 Fix TypeError in OpenRtb2Tags
  spec/platforms/shared/context/targeting/targeting-strategies/providers/open-rtb2-tags.spec.ts
  src/platforms/shared/context/targeting/targeting-strategies/models/fandom-context.ts
  src/platforms/shared/context/targeting/targeting-strategies/providers/open-rtb2-tags.ts
Labels: Patch change

#1888 ADEN-13051 UAP video glitch
  src/platforms/shared/templates/handlers/slot/slot-size-impact-with-placeholder-handler.ts
Labels: Patch change

#1798 ADEN-12854 - gathering and sending data to prometheus throug…
  src/core/utils/fetch-timeout.ts
  src/core/utils/index.ts
  src/core/utils/is-coppa-subject.ts
  src/core/utils/logger.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
  src/platforms/shared/index.ts
  src/platforms/shared/setup/metric-reporter.setup.ts
  src/platforms/shared/tracking/metric-reporter-trackers/click-detector.ts
  src/platforms/shared/tracking/metric-reporter.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
  src/platforms/ucp-no-ads/ucp-no-ads-platform.ts
Labels: Patch change

#1899 ADEN-12962 - hotfix for absence of icbm vars
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1908 ADEN-13092 Delete 320x480 for f2 tlb
  src/platforms/f2/setup/context/slots/f2-slots-context.setup.ts
Labels: Patch change

#1895 ADEN-12949 Adding DoubleVerify integration
  @types/window/index.d.ts
  src/ad-services/double-verify/index.ts
  src/ad-services/index.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Minor change, Enhancement

#1906 Lower coverage levels so test-coverage command does not fail
  .nycrc
  codecov.yml
  spec/ad-bidders/a9/a9.spec.ts
  spec/ad-bidders/alias-helper.spec.ts
  spec/ad-bidders/index.spec.ts
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/criteo.spec.ts
  spec/ad-bidders/prebid/adapters/nobid.spec.ts
  spec/ad-bidders/prebid/adapters/one-video.spec.ts
  spec/ad-bidders/prebid/adapters/test-bidder.spec.ts
  spec/ad-bidders/prebid/adapters/triplelift.spec.ts
  spec/ad-bidders/prebid/adapters/verizon.spec.ts
  spec/ad-bidders/prebid/adapters/yahoossp.spec.ts
  spec/ad-products/common/product-info.spec.ts
Labels: Minor change, Enhancement
