Repository Wikia/ad-engine, pull requests merged in 2023-07, with the labels that each got.

#2028 ADEN-13349 | adding flag to control
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#1992 ADEN-12211 Wunderkind Integration
  spec/ad-services/wunderkind/wunderkind.spec.ts
  src/ad-services/index.ts
  src/ad-services/wunderkind/index.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2024 Aden 13323 2 fix for spa
  src/platforms/news-and-ratings/comicvine/setup/context/a9/comicvine-a9-config.setup.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/a9/gamefaqs-a9-config.setup.ts
  src/platforms/news-and-ratings/gamespot/setup/context/a9/gamespot-a9-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/a9/giantbomb-a9-config.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/a9/metacritic-neutron-a9-config.setup.ts
  src/platforms/news-and-ratings/metacritic/setup/context/a9/metacritic-a9-config.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots-neutron.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/context/a9/tvguide-a9-config.setup.ts
Labels: Patch change

#2018 ADEN-13176 - Stickiness on N&R
  src/platforms/news-and-ratings/comicvine/setup/context/slots/comicvine-slots-context.setup.ts
  src/platforms/news-and-ratings/comicvine/styles.scss
  src/platforms/news-and-ratings/comicvine/templates/comicvine-templates.setup.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
  src/platforms/news-and-ratings/gamefaqs/styles.scss
  src/platforms/news-and-ratings/gamefaqs/templates/gamefaqs-templates.setup.ts
  src/platforms/news-and-ratings/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/news-and-ratings/gamespot/styles.scss
  src/platforms/news-and-ratings/gamespot/templates/gamespot-templates.setup.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/slots/giantbomb-slots-context.setup.ts
  src/platforms/news-and-ratings/giantbomb/styles.scss
  src/platforms/news-and-ratings/giantbomb/templates/giantbomb-templates.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/slots/metacritic-neutron-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/styles.scss
  src/platforms/news-and-ratings/metacritic-neutron/templates/metacritic-neutron-templates.setup.ts
  src/platforms/news-and-ratings/metacritic/setup/context/slots/metacritic-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic/styles.scss
  src/platforms/news-and-ratings/metacritic/templates/metacritic-templates.setup.ts
  src/platforms/news-and-ratings/shared/index.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots-neutron.setup.ts
  src/platforms/news-and-ratings/shared/styles/uap-styles.scss
  src/platforms/news-and-ratings/shared/templates/sticky-tlb-template.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/styles.scss
  src/platforms/news-and-ratings/tvguide/templates/tvguide-templates.setup.ts
  src/platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
Labels: Minor change

#2036 ADEN-13307 | Update PriceGranularity
  src/ad-bidders/prebid/index.ts
Labels: Enhancement

#2000 ADEN-13257 LiveRamp ATS 2.0
  @types/ats/index.d.ts
  @types/window/index.d.ts
  spec/ad-bidders/prebid/ats/ats.spec.ts
  src/ad-bidders/prebid/ats/ats.ts
  src/platforms/ucp-no-ads/ucp-no-ads-platform.ts
Labels: Patch change

#2038 ADEN-13318 bylo sailthru nie ma sailthru
  @types/sailthru/index.d.ts
  @types/window/index.d.ts
  spec/platforms/shared/utils/collapsed-messages/message-box-service.spec.ts
  src/ad-services/index.ts
  src/ad-services/sailthru/index.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/utils/collapsed-messages/message-box-creator.ts
  src/platforms/shared/utils/collapsed-messages/message-box-service.ts
  src/platforms/shared/utils/collapsed-messages/newsletter-form-box.ts
Labels: Patch change

#2039 ADEN-13391 - do not add new label, if there is any existing
  src/platforms/shared/templates/handlers/advertisement-label-handler.ts
Labels: Patch change

#2043 COTECH-605 Add plcmt to IndexExchange video bids params
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
Labels: Patch change

#2037 ADEN-13366 | use instant config from loader
  package-lock.json
  package.json
Labels: Patch change

#1974 ADEN-13282 use Prebid price bucketing
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/price-helper.spec.ts
  spec/core/services/pbjs.stub.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/ad-bidders/prebid/prebid-settings.ts
  src/ad-bidders/prebid/price-helper.ts
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
  src/core/models/index.ts
  src/core/models/pricing.ts
Labels: Minor change, Enhancement

#2041 COTECH-590 Add plcmt param to Pubmatic
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
Labels: Patch change

#2044 ADEN-13175 Remove legacy AgeGate flag
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#2042 COTECH-606 Add plcmt param to AppNexusAst bidder
  spec/ad-bidders/prebid/adapters/appnexus-ast.spec.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
Labels: Patch change

#2035 ADEN-13347 Handle IIQ PPID in AdEngine
  @types/intent-iq/index.d.ts
  spec/ad-bidders/prebid/intent-iq/intent-iq.spec.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
  src/communication/event-types.ts
  src/core/providers/gpt-provider.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/tracking/load-times-tracker.ts
Labels: Patch change

#2045 COTECH-526 Add in-content Anyclip to tv shows and movies pages on TVGuide
  spec/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-anyclip.setup.spec.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-anyclip.setup.ts
Labels: Minor change

#2046 Aden 13348 Analysis of Performance Test
  src/platforms/shared/index.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-performance-ads-definition-repository.ts
Labels: Patch change

#2026 ADEN-13301 - bidders fo gallery slot
  src/platforms/ucp-desktop/bidders/prebid/appnexus.ts
  src/platforms/ucp-desktop/bidders/prebid/index-exchange.ts
  src/platforms/ucp-desktop/bidders/prebid/kargo.ts
  src/platforms/ucp-desktop/bidders/prebid/pubmatic.ts
  src/platforms/ucp-desktop/bidders/prebid/rubicon-display.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
Labels: Patch change

#2048 ADEN-13410 - gpt-ready event send to grafana
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/shared/tracking/metric-reporter.ts
Labels: Patch change

#2050 COTECH-669 Update IndexExchange video params
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/adapters/index-exchange.spec.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
Labels: Minor change

#2060 ADEN-13377-2 Fixing issues with StickyTLB + Floor integration
  src/platforms/shared/dynamic-slots/activate-floor-adhesion-on-uap.ts
  src/platforms/shared/templates/handlers/sticky-tlb/sticky-tlb-blocking-handler.ts
Labels: Patch change

#2067 ADEN-13425 | moving DM right after GPT
  spec/ad-services/duration-media/duration-media.spec.ts
  src/ad-services/duration-media/index.ts
  src/communication/event-types.ts
  src/platforms/shared/setup/gpt.setup.ts
Labels: Patch change

#2071 ADEN-13444 - upgrade pubmatic-gallery configuration
  src/platforms/ucp-desktop/bidders/prebid/pubmatic.ts
Labels: Patch change

#2061 ADEN-13416 Move Brand marketing script from GTM to AddEngine
  src/ad-services/brand-metrics/index.ts
  src/ad-services/index.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2077 ADEN-13425 | revert to org.
  src/ad-services/duration-media/index.ts
Labels: Patch change

#2074 ADEN-13379 Fix css for uaps
  src/platforms/news-and-ratings/tvguide/styles.scss
Labels: Patch change
