Repository Wikia/ad-engine, pull requests merged in 2023-12, with the labels that each got.

#2238 ADEN-13690 Send GPID to all bidders
  spec/ad-bidders/prebid/adapters/appnexus.spec.ts
  spec/ad-bidders/prebid/adapters/criteo.spec.ts
  spec/ad-bidders/prebid/adapters/magnite.spec.ts
  spec/ad-bidders/prebid/adapters/medianet.spec.ts
  spec/ad-bidders/prebid/adapters/openx.spec.ts
  spec/ad-bidders/prebid/adapters/roundel.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon-display.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  spec/ad-bidders/prebid/adapters/test-bidder.spec.ts
  spec/ad-bidders/prebid/adapters/triplelift.spec.ts
  spec/ad-bidders/prebid/adapters/wikia-video.spec.ts
  spec/ad-bidders/prebid/adapters/wikia.spec.ts
  spec/ad-bidders/prebid/adapters/yahoossp.spec.ts
  src/ad-bidders/prebid/adapters/criteo.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/magniteS2s.ts
  src/ad-bidders/prebid/adapters/medianet.ts
  src/ad-bidders/prebid/adapters/openx.ts
  src/ad-bidders/prebid/adapters/roundel.ts
  src/ad-bidders/prebid/adapters/rubicon-display.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/ad-bidders/prebid/adapters/test-bidder.ts
  src/ad-bidders/prebid/adapters/triplelift.ts
  src/ad-bidders/prebid/adapters/webads.ts
  src/ad-bidders/prebid/adapters/wikia-video.ts
  src/ad-bidders/prebid/adapters/wikia.ts
  src/ad-bidders/prebid/adapters/yahoossp.ts
  src/ad-bidders/prebid/prebid-adapter.ts
Labels: Patch change

#2262 Fix TVGuide MTC platform
  src/platforms/news-and-ratings/tvguide-mtc/index.ts
Labels: Patch change, Bug

#2252 COTECH-832 Improve the synchronization between display ads and video ads
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-second-video.spec.ts
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper.spec.ts
  spec/ad-products/video/jwplayer/video-display-takeover-synchronizer.spec.ts
  spec/platforms/shared/services/display-and-video-ads-sync-setup.spec.ts
  spec/platforms/shared/setup/player.setup.spec.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/index.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper-skipping-second-video.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/jwplayer/helpers/video-display-takeover-synchronizer.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
  src/core/utils/display-and-video-ads-sync-context.ts
  src/core/utils/index.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/shared/index.ts
  src/platforms/shared/services/display-and-video-ads-sync-setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/player.setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2266 TACO-298 Fix ppid param that is missing from DWH request
  spec/platforms/shared/tracking/tracking.setup.spec.ts
  src/platforms/shared/tracking/models/tracking-params.ts
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Patch change

#2264 Revert "Revert "COTECH-808 | track eligible for anyclip (#2249)" (#22…
  spec/ad-services/anyclip/anyclip.spec.ts
  src/ad-services/anyclip/anyclip-tracker.ts
  src/ad-services/anyclip/index.ts
  src/core/video/video-event-provider.ts
Labels: Patch change

#2270 ADEN-13571 | fix for UAPs
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/gamespot/ad-context.ts
  src/platforms/news-and-ratings/giantbomb/ad-context.ts
  src/platforms/news-and-ratings/metacritic-neutron/ad-context.ts
  src/platforms/news-and-ratings/metacritic/ad-context.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
Labels: Patch change

#2229 TACO-178 TACO-177 Update and Remove Amazon Token
  @types/apstag/index.d.ts
  spec/ad-bidders/wrappers/apstag.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/a9/types.ts
  src/ad-bidders/wrappers/apstag.ts
  src/communication/event-types.ts
  src/core/services/tracking-opt-in.ts
  src/core/services/universal-storage.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Minor change

#2272 Inconsistent ad display on first page view for feature video
  spec/ad-products/video/jwplayer/helpers/jwplayer-helper.spec.ts
  spec/ad-products/video/jwplayer/video-display-takeover-synchronizer.spec.ts
  spec/platforms/shared/services/display-and-video-ads-sync-setup.spec.ts
  spec/platforms/shared/setup/player.setup.spec.ts
  src/ad-products/index.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/ad-products/video/jwplayer/helpers/vast-tagless-request.ts
  src/ad-products/video/jwplayer/helpers/video-display-takeover-synchronizer.ts
  src/core/utils/display-and-video-ads-sync-context.ts
  src/core/utils/index.ts
  src/core/video/display-and-video-ads-sync-context.ts
  src/core/video/index.ts
  src/platforms/shared/index.ts
  src/platforms/shared/services/display-and-video-ads-sync-setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/setup/player.setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2274 TACO-287 - Added handling new targeting keyvals from IdentityEngine
  src/ad-services/identity-setup/index.ts
Labels: Patch change

#2276 COTECH-832 | upgrade to always get VAST 4
  spec/core/utils/tagless-request-url-builder.spec.ts
  src/ad-products/video/jwplayer/helpers/vast-tagless-request.ts
  src/core/utils/tagless-request-url-builder.ts
  src/platforms/shared/setup/player.setup.ts
Labels: Patch change

#2245 ADEN-13686 add maginteS2S video slots
  spec/platforms/ucp-desktop/setup/prebid/ucp-desktop-prebid-config.setup.spec.ts
  spec/platforms/ucp-mobile/setup/prebid/ucp-mobile-prebid-config.setup.spec.ts
  src/ad-bidders/prebid/adapters/magniteS2s.ts
  src/platforms/ucp-desktop/bidders/prebid/magniteS2s.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/magniteS2s.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Patch change

#2275 TACO-206 Ozone should not create large set of key-vals
  src/ad-bidders/prebid/index.ts
Labels: Patch change
