Repository Wikia/ad-engine, pull requests merged in 2023-10, with the labels that each got.

#2158 ADEN-13608 Enable S2s magnite slots on n&r
  src/platforms/news-and-ratings/comicvine/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/comicvine/setup/context/prebid/comicvine-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamefaqs/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamespot/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/gamespot/setup/context/prebid/gamespot-prebid-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/prebid/giantbomb-prebid-config.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/prebid/metacritic-neutron-prebid-config.setup.ts
  src/platforms/news-and-ratings/metacritic/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/metacritic/setup/context/prebid/metacritic-prebid-config.setup.ts
  src/platforms/news-and-ratings/shared/setup/bidders/bidders-state-overwrite.setup.ts
  src/platforms/news-and-ratings/tvguide/bidders/magniteS2s.ts
  src/platforms/news-and-ratings/tvguide/setup/context/prebid/tvguide-prebid-config.setup.ts
Labels: Patch change

#2141 COTECH-691 Prepare AdEngine for JWP Strategy Rules experiments
  spec/platforms/shared/setup/player.setup.spec.ts
  src/ad-products/video/jwplayer/jwplayer-actions.ts
  src/platforms/shared/setup/player.setup.ts
Labels: Minor change

#2177 [ADEN-13636] Added margin after #incontent_player (anyclip) video
  src/platforms/ucp-mobile/styles.scss
Labels: Patch change

#2176 ADEN-13628 Empty placeholder for collapsed floor adhesion on mobile
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Patch change

#2150 When switching tabs while an ad is playing, do *not* pause the ad playback
  src/ad-products/video/jwplayer/helpers/jwplayer-helper.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#2180 COTECH-764 Change uncaught error into a warning
  src/ad-bidders/prebid/prebid-adapter.ts
Labels: Patch change

#2179 Aden 13638 Enable Prebid localstorage for bidders
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/prebid-settings.spec.ts
  src/ad-bidders/prebid/adapters/appnexus-ast.ts
  src/ad-bidders/prebid/adapters/appnexus.ts
  src/ad-bidders/prebid/adapters/index-exchange.ts
  src/ad-bidders/prebid/adapters/kargo.ts
  src/ad-bidders/prebid/adapters/nobid.ts
  src/ad-bidders/prebid/adapters/roundel.ts
  src/ad-bidders/prebid/adapters/triplelift.ts
  src/ad-bidders/prebid/adapters/webads.ts
  src/ad-bidders/prebid/prebid-adapter.ts
  src/ad-bidders/prebid/prebid-settings.ts
Labels: Patch change

#2152 ADEN-13549 delay events after document load completed
  spec/platforms/shared/tracking/batch-processor.spec.ts
  src/platforms/shared/setup/ad-engine-stage.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/tracking/batch-processor.ts
  src/platforms/shared/tracking/data-warehouse.ts
  src/platforms/shared/tracking/load-times-tracker.ts
Labels: Work in progress, Patch change

#2186 TACO-75 Add experian pixel
  spec/ad-services/experian/experian.spec.ts
  src/ad-services/experian/index.ts
  src/ad-services/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/communication/event-types.ts
  src/core/utils/asset-loader.ts
  src/core/utils/index.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/tracking/load-times-tracker.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2185 ADEN-13006 - add new bidder: seedtag
  @types/pbjs/index.d.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/seedtag.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-desktop/bidders/prebid/seedtag.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/seedtag.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Patch change

#2183 ADEN-13644 Missing units from S2S integration
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
Labels: Patch change

#2188 TACO-214 Pass testgroup as string not array
  src/ad-bidders/prebid/adapters/ozone.ts
Labels: Patch change

#2182 ADEN-13629 More incontent ads (mobile)
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#2190 TACO-212 add iiq start/done events
  src/ad-bidders/prebid/id5/id5.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
  src/communication/event-types.ts
  src/platforms/shared/tracking/load-times-tracker.ts
Labels: Patch change

#2157 TACO-195 - refactored partner-pipeline services to use global timeout
  spec/core/utils/global-timeout.spec.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/pipeline/imps/partner-pipeline/partner-pipeline.ts
  src/core/utils/global-timeout.ts
Labels: Patch change

#2189 ADEN-13543 - move partners at the end, right after event: TLB rendered
  src/platforms/shared/index.ts
  src/platforms/shared/setup/ucp-partners-setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#2195 ADEN-13543-Hotfix - Fixed Get of null
  src/core/utils/global-timeout.ts
Labels: Patch change

#2194 Aden 13633 Remove search ads from Escape from Tarkov
  spec/ad-services/system1/system1.spec.ts
  src/ad-services/system1/index.ts
Labels: Patch change

#2196 ADEN-remove-galleries-unit-test
  src/platforms/ucp-desktop/bidders/prebid/magniteS2s.ts
Labels: Patch change

#2191 COTECH-713 | Add Optimizely experiments to targeting
  @types/window/index.d.ts
  spec/platforms/shared/context/targeting/ucp-targeting.setup.spec.ts
  src/platforms/shared/context/targeting/ucp-targeting.setup.ts
  src/platforms/shared/utils/optimizely.ts
Labels: Patch change

#2200 ADEN-13543-Hotfix-2 - Fixed Get of null
  spec/ad-bidders/index.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  spec/ad-services/open-web/open-web.spec.ts
  spec/platforms/shared/setup/player.setup.spec.ts
  src/ad-bidders/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/open-web/index.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/utils/global-timeout.ts
  src/core/utils/index.ts
  src/platforms/shared/setup/ad-engine-stage.setup.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/shared/setup/player.setup.ts
Labels: Patch change

#2202 ADEN-13661 remove gpt from double verify dependency
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2163 TACO-176 create amazon token from HEM
  @types/apstag/index.d.ts
  spec/ad-bidders/a9/a9.spec.ts
  spec/ad-bidders/wrappers/apstag.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/wrappers/apstag.ts
  src/communication/event-types.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/tracking/load-times-tracker.ts
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Minor change

#2207 ADEN-13675 revert bidderAliases from galleries and icb
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2155 ADEN-13538 Remove a style declaration
  src/platforms/ucp-desktop/styles.scss
Labels: Don't merge, Patch change

#2201 COTECH-787 Refresh bids after Anyclip ad displayed
  spec/ad-services/anyclip/anyclip-bids-refresher.spec.ts
  spec/platforms/ucp-desktop/setup/prebid/ucp-desktop-prebid-config.setup.spec.ts
  spec/platforms/ucp-mobile/setup/prebid/ucp-mobile-prebid-config.setup.spec.ts
  src/ad-bidders/prebid/index.ts
  src/ad-services/anyclip/anyclip-bids-refresher.ts
  src/ad-services/anyclip/index.ts
  src/platforms/shared/bidders/filter-video-bids.ts
  src/platforms/shared/index.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Patch change

#2181 ADEN-13637 Add WebAds sChain config
  src/ad-bidders/prebid/index.ts
Labels: Patch change

#2142 TACO-184 Only read from basset cookie, now set by IE
  package.json
  spec/core/services/instant-config-cache-storage.spec.ts
  src/core/services/instant-config-cache-storage.ts
Labels: Patch change

#2216 ADEN-13625: Fix DoubleVerify calls not including ad unit paths
  spec/ad-services/double-verify/double-verify.spec.ts
  src/ad-services/double-verify/index.ts
Labels: Patch change

#2210 ADEN-13665 Popular Pages not always refreshing
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  src/platforms/ucp-desktop/utils/fmr-rotator.ts
Labels: Patch change

#2218 COTECH-807 Use specific Anyclip embed codes per wiki genre
  spec/ad-services/anyclip/anyclip.spec.ts
  src/ad-services/anyclip/index.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-mobile/ad-context.ts
Labels: Patch change

#2204 ADEN-13630 add cache host key-val to prebid
  src/ad-bidders/prebid/index.ts
Labels: Patch change

#2221 ADEN-13625: Fix DoubleVerify calls not including ad unit paths
  spec/ad-services/double-verify/double-verify.spec.ts
  src/ad-services/double-verify/index.ts
Labels: Patch change

#2215 TACO-229 - Fixed problems with params not being cleared
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-neutron-helper.service.ts
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change
