Repository Wikia/ad-engine, pull requests merged in 2023-11, with the labels that each got.

#2224 ADEN-13661-v146-2-9 remove gpt from double verify dependency
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2217 ADEN-13681 TACO-176 Create Amazon Token from HEM
  @types/apstag/index.d.ts
  spec/ad-bidders/a9/a9.spec.ts
  spec/ad-bidders/wrappers/apstag.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/wrappers/apstag.ts
  src/communication/event-types.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/shared/tracking/load-times-tracker.ts
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Minor change

#2214 TACO-205 - Changed getTCData method into addEventListener
  src/core/wrappers/tcf.ts
Labels: Patch change

#2211 COTECH-806 Load Anyclip on mobile on the page load
  @types/anyclip/index.d.ts
  spec/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.spec.ts
  src/ad-services/anyclip/index.ts
  src/communication/event-types.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Patch change

#2213 COTECH-765 | Anyclip updates for gamefaqs
  spec/core/ad-engine.spec.ts
  spec/platforms/news-and-ratings/gamespot/setup/context/slots/gamefaqs-slots-definition-repository.spec.ts
  src/communication/event-types.ts
  src/core/ad-engine.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-anyclip.setup.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-slots-definition-repository.ts
  src/platforms/news-and-ratings/gamefaqs/styles.scss
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-anyclip.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots.setup.ts
Labels: Patch change

#2225 TACO-182 Handle franchise key values on N&R sites
  spec/platforms/news-and-ratings/shared/context/targeting/news-and-ratings-targeting.setup.spec.ts
  src/platforms/news-and-ratings/shared/setup/context/targeting/interfaces/targeting-params.ts
  src/platforms/news-and-ratings/shared/setup/context/targeting/news-and-ratings-targeting.setup.ts
Labels: Patch change

#2209 COTECH-800 Bring back Connatix player
  spec/ad-services/anyclip/anyclip.spec.ts
  spec/ad-services/connatix/connatix.spec.ts
  spec/ad-services/connatix/test-doubles/connatix-player-spy.ts
  spec/ad-services/connatix/test-doubles/player-injector-spy.ts
  src/ad-services/anyclip/index.ts
  src/ad-services/connatix/connatix-player.ts
  src/ad-services/connatix/head-script.ts
  src/ad-services/connatix/index.ts
  src/ad-services/connatix/player-injector.ts
  src/ad-services/index.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
Labels: Patch change

#2234 ADEN-13715 Deactivate desktop_galleries for Appnexus
  src/platforms/ucp-desktop/bidders/prebid/appnexus.ts
Labels: Patch change

#2239 COTECH-840 Fix Anyclip enabler on N&R
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
Labels: Patch change

#2230 COTECH-765 | Fix styling for anyclip on mobile breakpoint
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-anyclip.setup.ts
  src/platforms/news-and-ratings/gamefaqs/styles.scss
Labels: Patch change

#2235 TACO-249 - Added logic to set additional key-val to coppa-related sites
  src/ad-services/identity-setup/index.ts
  src/core/services/global-context-service.ts
Labels: Patch change

#2236 ADEN-13683 MTC=No
  src/platforms/news-and-ratings/tvguide/setup/context/targeting/tvguide-targeting.setup.ts
Labels: Patch change

#2242 ADEN-13686 | fixing incontent slots
  src/platforms/ucp-desktop/bidders/prebid/magniteS2s.ts
Labels: Patch change

#2244 COTECH-765 | Enable anyclip on mobile on GameFAQs
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-anyclip.setup.ts
  src/platforms/news-and-ratings/gamefaqs/styles.scss
Labels: Patch change

#2247 ADEN-13619 - bring back (liveramp)ATS
  @types/ats/index.d.ts
  @types/window/index.d.ts
  spec/ad-bidders/prebid/ats/ats.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/ats/index.ts
  src/ad-bidders/prebid/index.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2243 ADEN-13726 Bidders don't update gallery targeting
  src/ad-bidders/a9/index.ts
  src/ad-bidders/bidder-provider.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-mobile/setup/context/slots/ucp-mobile-slots-context.setup.ts
Labels: Patch change

#2253 ADEN-13726 | fix for reporting slots
  src/ad-bidders/bidder-provider.ts
  src/platforms/ucp-mobile/bidders/prebid/wikia.ts
Labels: Patch change

#2251 COTECH-695 | Fix hasVideoOnPage
  src/platforms/shared/context/targeting/targeting-strategies/providers/common-tags.ts
Labels: Patch change

#2246 COTECH-819 Bring back Connatix to mobile and make it work like Anyclip
  spec/ad-services/connatix/connatix.spec.ts
  spec/ad-services/connatix/test-doubles/connatix-tracker-spy.ts
  spec/ad-services/connatix/test-doubles/player-api-spy.ts
  spec/ad-services/connatix/test-doubles/player-injector-spy.ts
  spec/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.spec.ts
  src/ad-services/connatix/connatix-bids-refresher.ts
  src/ad-services/connatix/connatix-player.ts
  src/ad-services/connatix/connatix-tracker.ts
  src/ad-services/connatix/index.ts
  src/ad-services/connatix/player-injector.ts
  src/communication/event-types.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
Labels: Patch change

#2136 ADEN-13571 | don't allow prebid.js and reorg pipeline for it
  spec/platforms/shared/setup/metric-reporter.setup.spec.ts
  spec/platforms/shared/setup/noads-experiment.setup.spec.ts
  spec/platforms/shared/setup/preloaded-libraries-setup.spec.ts
  spec/platforms/shared/tracking/metric-reporter.spec.ts
  spec/platforms/shared/utils/instant-config.setup.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/index.ts
  src/ad-bidders/wrappers/apstag.ts
  src/core/utils/geo.ts
  src/platforms/bingebot/bingebot-platform.ts
  src/platforms/f2/ad-context.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamespot/ad-context.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/giantbomb/ad-context.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/ad-context.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic/ad-context.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/tvguide-mtc/tvguide-mtc-platform.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
  src/platforms/shared/bootstrap.ts
  src/platforms/shared/consent/consent-management-platform.setup.ts
  src/platforms/shared/ensure-geo-cookie.ts
  src/platforms/shared/index.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/setup/bidders-targeting-updater.service.ts
  src/platforms/shared/setup/gpt.setup.ts
  src/platforms/shared/setup/metric-reporter.setup.ts
  src/platforms/shared/setup/noads-experiment.setup.ts
  src/platforms/shared/setup/post-ad-stack-partners.setup.ts
  src/platforms/shared/setup/preloaded-libraries-setup.ts
  src/platforms/shared/tracking/metric-reporter.ts
  src/platforms/shared/utils/instant-config.setup.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/ad-context.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
  src/platforms/ucp-no-ads/ucp-no-ads-platform.ts
Labels: Patch change

#2257 ADEN-13726 | reorg
  src/ad-bidders/a9/index.ts
  src/ad-bidders/alias-helper.ts
  src/ad-bidders/bidder-provider.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/core/models/ad-slot.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
Labels: Patch change

#2240 ADEN-13629-cleanup (code cleanup) More incontent ads (mobile)
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#2237 ADEN-13714 | enable FV+Display sync for selected bundles
  spec/ad-products/video/jwplayer/video-display-takeover-synchronizer.spec.ts
  src/ad-products/index.ts
  src/ad-products/video/jwplayer/handlers/jwplayer-handler.ts
  src/ad-products/video/jwplayer/helpers/jwplayer-inhibitor.ts
  src/ad-products/video/jwplayer/helpers/video-display-takeover-synchronizer.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Patch change

#2261 fix N&R prebid load
  src/core/services/custom-ad-loader.ts
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/gamespot/ad-context.ts
  src/platforms/news-and-ratings/giantbomb/ad-context.ts
  src/platforms/news-and-ratings/metacritic-neutron/ad-context.ts
  src/platforms/news-and-ratings/metacritic/ad-context.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
  src/platforms/shared/setup/preloaded-libraries-setup.ts
Labels: Patch change

#2226 COTECH-765 | GameFAQs anyclip cleanup
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-anyclip.setup.ts
Labels: Don't merge, Patch change

#2256 ADEN-13726-s2s-gallery-name
  src/platforms/ucp-desktop/bidders/prebid/magniteS2s.ts
  src/platforms/ucp-mobile/bidders/prebid/magniteS2s.ts
Labels: Patch change

#2255 TACO-227 Track Topics in DWH
  spec/platforms/shared/tracking/tracking.setup.spec.ts
  src/core/services/instant-config/instant-config.service.ts
  src/platforms/shared/setup/tracking-urls.ts
  src/platforms/shared/tracking/models/tracking-params.ts
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Minor change
