Repository Wikia/ad-engine, pull requests merged in 2023-02, with the labels that each got.

#1728 ADEN-12678 Add IndexExchange bids for video on N&R
  src/platforms/news-and-ratings/gamefaqs/bidders/index-exchange.ts
  src/platforms/news-and-ratings/gamespot/bidders/index-exchange.ts
  src/platforms/news-and-ratings/giantbomb/bidders/index-exchange.ts
  src/platforms/news-and-ratings/metacritic-neutron/bidders/index-exchange.ts
  src/platforms/news-and-ratings/metacritic/bidders/index-exchange.ts
  src/platforms/news-and-ratings/tvguide/bidders/index-exchange.ts
Labels: Patch change

#1731 ADEN-12721 Decode adtags on N&R platforms
  spec/platforms/news-and-ratings/shared/context/targeting/news-and-ratings-targeting.setup.spec.ts
  src/platforms/news-and-ratings/shared/setup/context/targeting/news-and-ratings-targeting.setup.ts
Labels: Patch change

#1735 ADEN-12719 Add Audigent to N&R platforms
  src/ad-services/audigent/index.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
Labels: Patch change

#1733 SPORTS-402 extend page type for sports
  spec/platforms/sports/utils/pagetype-helper.spec.ts
  src/platforms/sports/setup/context/targeting/sports-targeting.setup.ts
  src/platforms/sports/utils/pagetype-helper.ts
Labels: Patch change

#1741 ADEN-12739 Add new script for Confiant on N&R
  spec/ad-services/confiant/confiant.spec.ts
  src/ad-services/confiant/index.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
Labels: Patch change

#1742 ADEN-12749 Add "ptype" key val to Metacritic platform
  spec/platforms/news-and-ratings/metacritic/setup/context/targeting/metacritic-targeting.setup.spec.ts
  src/platforms/news-and-ratings/metacritic/setup/context/targeting/metacritic-targeting.setup.ts
Labels: Patch change

#1723 ADEN-12183 - Added sending over_18 flag
  spec/ad-services/user-identity/identity-storage-strategy.spec.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-dto.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-service.ts
  src/core/utils/tagless-request-url-builder.ts
Labels: Patch change

#1756 Update README.md
  README.md
Labels: Patch change

#1755 ADEN-12667 Fix GPT errors on TV Guide
  README.md
  package-lock.json
  package.json
  src/core/services/slot-creator.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Patch change

#1758 ADEN-12754 Fix seamless content loading
  @types/phoenix/index.d.ts
  @types/window/index.d.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
Labels: Patch change

#1753 ADEN-12758 Introducing SPA support on TvGuide
  @types/phoenix/index.d.ts
  @types/window/index.d.ts
  src/core/pipeline/imps/partner-pipeline/base-service-setup.ts
  src/core/services/slot-creator.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
  src/platforms/news-and-ratings/tvguide/index.ts
  src/platforms/news-and-ratings/tvguide/modes/tvguide-page-change-ads-mode.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Major change, Enhancement

#1745 ADEN-12720 use tracking params from window object
  .github/workflows/workflow.yml
  @types/fandom/index.d.ts
  spec/platforms/shared/setup/tracking-parameters.setup.spec.ts
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Patch change

#1759 ADEN-12754 Fix ads in seamless content
  @types/window/index.d.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads-mode.ts
Labels: Minor change

#1754 ADEN-12704 - Added checking matching COPPA to A9
  spec/ad-bidders/a9/a9.spec.ts
  src/ad-bidders/a9/index.ts
  src/ad-bidders/index.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
Labels: Patch change

#1750 ADEN-12590 add tracking to NR sites
  src/ad-tracking/compilers/slot-tracking-compiler.ts
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/comicvine/setup/context/targeting/comicvine-targeting.setup.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/targeting/gamefaqs-targeting.setup.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/context/targeting/gamespot-targeting.setup.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/targeting/giantbomb-targeting.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/targeting/metacritic-neutron-targeting.setup.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/metacritic/setup/context/targeting/metacritic-targeting.setup.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/context/targeting/tvguide-targeting.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Minor change

#1768 fandomContext may be undefined
  src/platforms/shared/setup/tracking-parameters.setup.ts
Labels: Minor change

#1760 ADEN-12183 - Moved User-Identity to add over_18 to keyvals request
  src/platforms/ucp-desktop/modes/ucp-desktop-ads-mode.service.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads-mode.service.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#1766 ADEN-12772 Quick-fix for ads in "mobile river" feature on Gamespot
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/shared/index.ts
  src/platforms/news-and-ratings/shared/setup/page-change-observers/infinite-scroll-observer.setup.ts
  src/platforms/news-and-ratings/shared/setup/page-change-observers/seamless-content-observer.setup.ts
Labels: Patch change

#1767 ADEN-12784 Disabling long BFAA stick
  src/platforms/news-and-ratings/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/news-and-ratings/shared/setup/context/targeting/news-and-ratings-targeting.setup.ts
  src/platforms/news-and-ratings/shared/styles/uap-styles.scss
  src/platforms/news-and-ratings/shared/templates/bfaa-template.ts
Labels: Patch change

#1771 ADEN-12718 Make Anyclip working on ComicVine
  spec/platforms/news-and-ratings/shared/context/base/news-and-ratings-base-context.setup.spec.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
Labels: Patch change

#1738 ADEN-12628-2 Criteo and Yahoo integration fix
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
Labels: Patch change

#1770 ADEN-12788 Fix seamless browsing on TVGuide
  src/platforms/news-and-ratings/shared/setup/page-change-observers/seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/page-change-observers/tvguide-page-change-ads-observer.ts
  src/platforms/news-and-ratings/tvguide/setup/page-change-observers/tvguide-seamless-content-observer.setup.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
Labels: Patch change

#1780 ADEN-12731 Bring npa and rdp key-vals to N&R sites
  src/platforms/news-and-ratings/shared/setup/context/targeting/news-and-ratings-targeting.setup.ts
Labels: Patch change

#1783 ADEN-12807 Quick fix adding support for stubbed slots on Gamespot galleries pages
  src/platforms/gamefaqs/setup/context/targeting/gamefaqs-targeting.setup.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/context/dynamic-slots/gamespot-dynamic-slots.setup.ts
Labels: Patch change

#1784 ADEN-12808 Quick and dirty fix for ads in SPA on Metacritic
  src/platforms/news-and-ratings/metacritic-neutron/index.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/dynamic-slots/metacritic-neutron-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/page-change-observers/metacritic-neutron-page-change-ads-observer.service.ts
Labels: Patch change

#1781 ADEN-12802 Change captify ID for N&R sites
  src/ad-services/captify/index.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
Labels: Patch change

#1785 ADEN-12824 Remove lazy-loaded slots on GameFAQs pages
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
Labels: Patch change

#1782 ADEN-12806 - Added ICBM Variable to manipulate Identity TTL
  src/ad-services/user-identity/identity-storage-repository/identity-storage-client.ts
  src/ad-services/user-identity/identity-storage-repository/identity-storage-service.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change

#1765 ADEN-12746 Use @wikia/instant-config-loader library
  .github/workflows/package-size-report.yml
  .github/workflows/workflow.yml
  package-lock.json
  package.json
  spec/core/services/instant-config/instant-config.interpreter.spec.ts
  spec/core/services/instant-config/instant-config.loader.spec.ts
  spec/core/services/instant-config/instant-config.overrider.spec.ts
  spec/core/services/instant-config/instant-config.service.spec.ts
  spec/core/services/instant-config/matchers/browser-matcher.spec.ts
  spec/core/services/instant-config/matchers/device-matcher.spec.ts
  spec/core/services/instant-config/matchers/domain-matcher.spec.ts
  spec/core/services/instant-config/matchers/negation-extractor.spec.ts
  spec/core/services/instant-config/matchers/region-matcher.spec.ts
  spec/core/services/instant-config/matchers/sampling-cache.manager.spec.ts
  spec/core/services/query-string.spec.ts
  spec/core/utils/query-string.spec.ts
  spec/platforms/shared/sequential-messaging/test_doubles/instant-config-service.spy.ts
  src/core/services/instant-config-cache-storage.ts
  src/core/services/instant-config/instant-config.interpreter.ts
  src/core/services/instant-config/instant-config.loader.ts
  src/core/services/instant-config/instant-config.models.ts
  src/core/services/instant-config/instant-config.overrider.ts
  src/core/services/instant-config/instant-config.service.ts
  src/core/services/instant-config/matchers/browser-matcher.ts
  src/core/services/instant-config/matchers/device-matcher.ts
  src/core/services/instant-config/matchers/domain-matcher.ts
  src/core/services/instant-config/matchers/negation-extractor.ts
  src/core/services/instant-config/matchers/region-matcher.ts
  src/core/services/instant-config/matchers/sampling-cache.manager.ts
  src/core/utils/query-string.ts
Labels: Patch change

#1736 ADEN-12216 | Add freewheel bider
  spec/ad-bidders/prebid/adapters/freewheel.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/freewheel.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/prebid-models.ts
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-desktop/bidders/prebid/freewheel.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/freewheel.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Minor change

#1791 ADEN-12839 Refresh bids for lazy-loaded slots on TV Guide
  src/platforms/news-and-ratings/tvguide/ad-context.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
  src/platforms/news-and-ratings/tvguide/setup/dynamic-slots/tvguide-dynamic-slots.setup.ts
Labels: Patch change
