Repository Wikia/ad-engine, pull requests merged in 2023-06, with the labels that each got.

#1948 VIDEO-565 Change bidding parameters for Rubicon video bids
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/platforms/ucp-desktop/bidders/prebid/rubicon.ts
  src/platforms/ucp-mobile/bidders/prebid/rubicon.ts
Labels: Patch change

#1939 ADEN-13085 Move IntentIQ initialisation to as early as it is possible
  spec/ad-bidders/prebid/intent-iq/intent-iq.spec.ts
  spec/platforms/shared/utils/instant-config.setup.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
  src/platforms/shared/utils/instant-config.setup.ts
Labels: Patch change

#1954 ADEN-13238 - fix for script loading error
  src/ad-services/double-verify/index.ts
Labels: Patch change

#1942 ADEN-13020 - PoC - reduce number of request to prebid, for unnecessar…
  spec/ad-bidders/prebid/prebid-helper.spec.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/platforms/news-and-ratings/comicvine/setup/context/prebid/comicvine-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamespot/setup/context/prebid/gamespot-prebid-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/prebid/giantbomb-prebid-config.setup.ts
Labels: Patch change

#1971 VIDEO-610 Remove incontent_player from Rubicon in FCP
  src/platforms/ucp-desktop/bidders/prebid/rubicon.ts
  src/platforms/ucp-mobile/bidders/prebid/rubicon.ts
Labels: Patch change

#1977 VIDEO-611 Revert Magnite/Rubicon changes that were supposed to help it working with Prebid v7
  @types/pbjs/index.d.ts
  spec/ad-bidders/prebid/adapters/pubmatic.spec.ts
  spec/ad-bidders/prebid/adapters/rubicon.spec.ts
  src/ad-bidders/prebid/adapters/pubmatic.ts
  src/ad-bidders/prebid/adapters/rubicon.ts
  src/platforms/ucp-desktop/bidders/prebid/rubicon.ts
  src/platforms/ucp-mobile/bidders/prebid/rubicon.ts
Labels: Minor change

#1981 Revert ADEN-12562 - moving Ad Partners to IE (#1947)
  @types/fandom/index.d.ts
  spec/ad-bidders/prebid/identity-hub/identity-hub.spec.ts
  spec/ad-services/audigent/audigent.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  spec/platforms/shared/utils/instant-config.setup.spec.ts
  src/ad-bidders/index.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-bidders/prebid/identity-hub/index.ts
  src/ad-services/audigent/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/identity-setup/index.ts
  src/ad-services/index.ts
  src/ad-services/live-connect/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/core/services/global-context-service.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/shared/modes/no-ads.mode.ts
  src/platforms/shared/utils/instant-config.setup.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
Labels: Minor change

#1975 ADEN-13281 Report only winning bids of ads that are displayed to end user
  spec/ad-bidders/prebid/intent-iq/intent-iq.spec.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
  src/ad-bidders/prebid/prebid-helper.ts
  src/ad-tracking/slot-tracker.ts
Labels: Patch change

#1982 Fixed problems with LiveRamp launch
  src/ad-services/liveramp-pixel/index.ts
Labels: Patch change

#1915 ADEN-12884-2 Moving ICP above ICB1 on UCP-Mobile
  spec/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.spec.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-dynamic-slots.setup.ts
  src/platforms/ucp-mobile/setup/dynamic-slots/ucp-mobile-slots-definition-repository.ts
Labels: Major change, Enhancement

#1961 ADEN-13188 Run Performance Ads Experiment for Fanatical
  src/platforms/ucp-desktop/setup/experiments/ucp-desktop-experiments.setup.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/setup/experiments/ucp-mobile-experiments.setup.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#1990 ADEN-13135-floor-delay - floor delay 300 ms
  src/platforms/shared/dynamic-slots/activate-floor-adhesion-on-uap.ts
Labels: Patch change

#1976 ADEN-13284 Sample ExternalLogger requests
  src/core/services/external-logger.ts
Labels: Patch change

#1952 ADEN-13031 - add support for new slot: gallery_leaderboard on fandom …
  src/communication/event-types.ts
  src/platforms/ucp-desktop/setup/context/slots/ucp-desktop-slots-context.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/specific-handler/gallery-lightbox-handler.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-dynamic-slots.setup.ts
  src/platforms/ucp-desktop/setup/dynamic-slots/ucp-desktop-slots-definition-repository.ts
  src/platforms/ucp-desktop/styles.scss
Labels: Major change

#1989 ADEN-13294 Handle icMonitorTrafficThreshold being JSON object
  spec/platforms/shared/setup/metric-reporter.setup.spec.ts
  src/platforms/shared/setup/metric-reporter.setup.ts
  src/platforms/shared/tracking/metric-reporter.ts
Labels: Minor change

#1997 ADEN-13299 - Fixed tracking Identity
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Patch change

#1995 ADEN-13300 Send IntentIQ report on adRenderSucceeded event
  spec/ad-bidders/prebid/intent-iq/intent-iq.spec.ts
  src/ad-bidders/prebid/index.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
  src/ad-tracking/slot-tracker.ts
Labels: Patch change

#1991 ADEN-13283 - Modified IE to handle icIdentityPartners flag
  @types/fandom/index.d.ts
  spec/ad-bidders/prebid/identity-hub/identity-hub.spec.ts
  spec/ad-services/audigent/audigent.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  spec/core/providers/gpt-provider.spec.ts
  src/ad-bidders/prebid/identity-hub/identity-hub.ts
  src/ad-services/audigent/index.ts
  src/ad-services/eyeota/index.ts
  src/ad-services/identity-setup/index.ts
  src/ad-services/live-connect/index.ts
  src/ad-services/liveramp-pixel/index.ts
  src/core/services/global-context-service.ts
  src/platforms/shared/tracking/tracking.setup.ts
Labels: Patch change

#2001 ADEN-13291 Adjust IIQ A/B groups %
  spec/ad-bidders/prebid/intent-iq/intent-iq.spec.ts
  src/ad-bidders/prebid/intent-iq/intent-iq.ts
Labels: Patch change

#1988 ADEN-13243 remove first page view logic from n&r helper
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-neutron-helper.service.ts
Labels: Enhancement

#1998 ADEN-12960 openx bidder
  spec/ad-bidders/prebid/adapters/openx.spec.ts
  src/ad-bidders/prebid/adapters-registry.ts
  src/ad-bidders/prebid/adapters/index.ts
  src/ad-bidders/prebid/adapters/openx.ts
  src/ad-tracking/compilers/slot-bidders-tracking-compiler.ts
  src/platforms/news-and-ratings/gamefaqs/bidders/openx.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/prebid/gamefaqs-prebid-config.setup.ts
  src/platforms/news-and-ratings/gamespot/bidders/openx.ts
  src/platforms/news-and-ratings/gamespot/setup/context/prebid/gamespot-prebid-config.setup.ts
  src/platforms/news-and-ratings/giantbomb/bidders/openx.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/prebid/giantbomb-prebid-config.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/bidders/openx.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/prebid/metacritic-neutron-prebid-config.setup.ts
  src/platforms/news-and-ratings/metacritic/bidders/openx.ts
  src/platforms/news-and-ratings/metacritic/setup/context/prebid/metacritic-prebid-config.setup.ts
  src/platforms/news-and-ratings/tvguide/bidders/openx.ts
  src/platforms/news-and-ratings/tvguide/setup/context/prebid/tvguide-prebid-config.setup.ts
  src/platforms/shared/bidders/bidders-state.setup.ts
  src/platforms/ucp-desktop/bidders/prebid/openx.ts
  src/platforms/ucp-desktop/setup/context/prebid/ucp-desktop-prebid-config.setup.ts
  src/platforms/ucp-mobile/bidders/prebid/openx.ts
  src/platforms/ucp-mobile/setup/context/prebid/ucp-mobile-prebid-config.setup.ts
Labels: Minor change

#2012 ADEN-13301 A9 - Gallery leaderboard
  src/platforms/ucp-desktop/ad-context.ts
  src/platforms/ucp-desktop/setup/context/a9/ucp-desktop-a9-config.setup.ts
Labels: Patch change

#1962 ADEN-13247 - Moved directedAtChildren out of Blockthrough scope
  @types/fandom/index.d.ts
  spec/ad-bidders/a9/a9.spec.ts
  spec/ad-bidders/prebid/identity-hub/identity-hub.spec.ts
  spec/ad-bidders/prebid/live-ramp/live-ramp.spec.ts
  spec/ad-services/audigent/audigent.spec.ts
  spec/ad-services/bt-rec/bt-rec.spec.ts
  spec/ad-services/eyeota/eyeota.spec.ts
  spec/ad-services/ias-publisher-optimization/ias-publisher-optimization.spec.ts
  spec/ad-services/live-connect/live-connect.spec.ts
  spec/core/utils/is-coppa-subject.spec.ts
  spec/platforms/shared/bidders/bidders-state.setup.spec.ts
  src/ad-services/bt-rec/index.ts
  src/core/services/global-context-service.ts
  src/core/utils/is-coppa-subject.ts
Labels: Patch change

#1966 VIDEO-524 Inject Anyclip in-content player on the TV Guide listing page
  @types/anyclip/index.d.ts
  spec/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-anyclip.setup.spec.ts
  src/ad-services/anyclip/index.ts
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/shared/setup/context/base/news-and-ratings-base-context.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-anyclip.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots-neutron.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-slots-definition-repository.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
Labels: Minor change

#2015 ADEN 13323 Floor Adhesion on N&R Sites
  src/platforms/news-and-ratings/comicvine/setup/context/slots/comicvine-slots-context.setup.ts
  src/platforms/news-and-ratings/gamefaqs/setup/context/slots/gamefaqs-slots-context.setup.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/gamespot/setup/context/dynamic-slots/gamespot-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/gamespot/setup/context/slots/gamespot-slots-context.setup.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/giantbomb/setup/context/slots/giantbomb-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/setup/context/slots/metacritic-neutron-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/metacritic/setup/context/slots/metacritic-slots-context.setup.ts
  src/platforms/news-and-ratings/metacritic/setup/dynamic-slots/metacritic-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots-neutron.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots.setup.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-slots-definition-repository.ts
  src/platforms/news-and-ratings/tvguide/setup/context/slots/tvguide-slots-context.setup.ts
Labels: Minor change

#2011 ADEN-13202 Move IdentitySetup to the platform main pipeline
  spec/ad-services/identity-setup/identity-setup.spec.ts
  src/ad-services/identity-setup/index.ts
  src/platforms/f2/f2-platform.ts
  src/platforms/f2/modes/f2-ads.mode.ts
  src/platforms/news-and-ratings/comicvine/comicvine-platform.ts
  src/platforms/news-and-ratings/gamefaqs/gamefaqs-platform.ts
  src/platforms/news-and-ratings/gamespot/gamespot-platform.ts
  src/platforms/news-and-ratings/giantbomb/giantbomb-platform.ts
  src/platforms/news-and-ratings/metacritic-neutron/metacritic-neutron-platform.ts
  src/platforms/news-and-ratings/metacritic/metacritic-platform.ts
  src/platforms/news-and-ratings/shared/modes/news-and-ratings-ads.mode.ts
  src/platforms/news-and-ratings/tvguide/tvguide-platform.ts
  src/platforms/shared/setup/base-context.setup.ts
  src/platforms/sports/modes/sports-ads.mode.ts
  src/platforms/sports/sports-platform.ts
  src/platforms/ucp-desktop/modes/ucp-desktop-ads.mode.ts
  src/platforms/ucp-desktop/ucp-desktop-platform.ts
  src/platforms/ucp-mobile/modes/ucp-mobile-ads.mode.ts
  src/platforms/ucp-mobile/ucp-mobile-platform.ts
Labels: Patch change

#2023 COTECH-648 Change Anyclip asset so it loads properly in mini-player mode
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-slots-definition-repository.ts
  src/platforms/news-and-ratings/tvguide/ad-context.ts
Labels: Patch change

#2025 COTECH-648 fix ComicVine and GameFAQs players
  src/platforms/news-and-ratings/comicvine/ad-context.ts
  src/platforms/news-and-ratings/gamefaqs/ad-context.ts
Labels: Patch change

#2021 ADEN-13341 - Moved LiveIntent's QF param to ICBM
  src/ad-services/live-connect/index.ts
  src/platforms/news-and-ratings/shared/setup/dynamic-slots/news-and-ratings-dynamic-slots-neutron.setup.ts
Labels: Patch change

#2027 ADEN-13349 Rollout in-content new ad logic
  src/platforms/f2/setup/context/base/f2-base-context.setup.ts
  src/platforms/shared/setup/base-context.setup.ts
Labels: Patch change
